<% semantic_form_for(@person) do |f| %>
  <% f.inputs do %>
    <%= f.input :first_name, :required => true %>
    <%= f.input :last_name, :required => true %>
    <%= f.input :nick_name %>
    <%= f.input :email, :required => true, :hint => "Bei der Anmeldung muss diese E-Mail-Adresse angegeben werden." %>
    <%= f.input :password, :required => @person.new_record?,
      :hint => ("Die Mindestlänge ist #{Person::MINIMUM_PASSWORD_LENGTH} Zeichen" + (@person.new_record? ? "" : ", frei lassen um Passwort nicht zu ändern") + "."),
      :input_html => { :value => "", :autocomplete => "off" } %>

    <% if current_user.administrator? %>
      <%= f.input :administrator %>
    <% end %>

    <% if current_user.administrator? %>
      <%= f.errors_on :memberships %>
      <li>
        <% content_for :teams do %>
          <% memberships = current_user.manageable_teams.collect{ |t| t.memberships.build } %>
          <% associated_with_additional(@person.memberships, memberships, :contestant_id).each_with_index do |m,i| %>
            <% t = m.contestant %>
            <% checkbox_id = "person_team_#{t.id}"  %>
            <li class="boolean <%= cycle("odd", "even") %>">
              <label for="<%= checkbox_id %>" style="padding-left: 0;">
                <%= hidden_field_tag "person[teams][#{t.id}][_delete]", 1 %>
                <%= check_box_tag "person[teams][#{t.id}][_delete]", 0, @person.memberships.include?(m), :id => checkbox_id %>
                <%= t.name %>
              </label>

              <div style="float: right;">
                <%= select_tag "person[teams][#{t.id}][role]", options_for_select(manageable_roles, m.role_name) %>
              </div>
            <% end %>
          </li>
        <% end %>
        <%= f.send(:field_set_and_list_wrapping_for_method, :teams, {}, @content_for_teams) %>
        <%= f.input "blocked", :required => false %>
      </li>
    <% end %>

  <% end %>
  <% f.buttons do %>
    <%= f.commit_button %>
    oder <%= link_to "Zurück", people_url %>
  <% end %>
<% end %>