<% semantic_form_for(@contestant ? [:contest, @contestant, @person] : @person) do |f| %>
  <% f.inputs do %>
    <%= f.input :first_name, :required => true %>
    <%= f.input :last_name, :required => true %>
    <%= f.input :email, :required => true, :hint => t("views.email_required") %>
    <% generated_password = random_password() %>
    <%= f.input :password, :required => @person.new_record?,
      :hint => (t("views.password_length", {:min_length => Person::MINIMUM_PASSWORD_LENGTH}) + (@person.new_record? ?  "" : t("views.password_not_change_hint")) + ". Z.B. #{generated_password} <a href=\"#\" onclick=\"$('input#person_password').val('#{generated_password}');return false;\">" + t("actions.use") + "</a>."),
      :input_html => { :value => "", :autocomplete => "off" } %>
    <li class="boolean optional">
      <label for="send_notification">
        <%= check_box_tag "send_notification" %>
        <%=t "labels.send_notification" %>
      </label>
    </li>

    <% show_to :administrator do %>
      <%= f.input :administrator, :as => :boolean %>
    <% end %>

    <% show_to :administrator, :teacher, :tutor do %>
      <% if current_user != @person or current_user.has_role? :administrator %>
        <li>
        <%= f.errors_on :memberships %>
        <li>
          <% content_for :teams do %>
            <div style="overflow-y: scroll; height: 200px; margin-bottom: 5px;">
              <% Contest.all.each do |contest| %>
                <a href="#" id="contestants_show_<%= contest.id %>"><%= contest.name %></a>
                <a href="#" id="contestants_hide_<%= contest.id %>" style="display: none"><%= contest.name %></a>
                &nbsp;( <%= @person.memberships.find_all {|m| m.contestant.contest == contest}.count %> )
                <br><br>
                <% javascript_tag do %>
                  $(function() {
                    $("a#contestants_show_<%= contest.id %>").bind('click', function() {
                      $("a#contestants_show_<%= contest.id %>").hide()
                      $("a#contestants_hide_<%= contest.id %>").show()
                      $("div#contestants_<%= contest.id %>").fadeIn(250)
                      return false; 
                    })

                    $("a#contestants_hide_<%= contest.id %>").bind('click', function() {
                      $("a#contestants_show_<%= contest.id %>").show()
                      $("a#contestants_hide_<%= contest.id %>").hide()
                      $("div#contestants_<%= contest.id %>").fadeOut(250)
                      return false;
                    })
                  })
                <% end %>
                <div style="display: none; padding-left: 25px" id="contestants_<%= contest.id %>">
                <% memberships = current_user.manageable_teams_for(contest).collect{ |t| t.memberships.build }.sort_by {|m| m.contestant.name} %>
                <% associated_with_additional(@person.memberships, memberships, :contestant_id).each_with_index do |m,i| %>
                  <% unless m.contestant.hidden -%>
                    <% t = m.contestant %>
                    <% checkbox_id = "person_team_#{t.id}"  %>
                    <li class="boolean <%= cycle("odd", "even") %>">
                      <label for="<%= checkbox_id %>" style="padding-left: 0;">
                        <%= hidden_field_tag "person[teams][#{t.id}][_delete]", 1 %>
                        <%= check_box_tag "person[teams][#{t.id}][_delete]", 0, @person.memberships.include?(m), :id => checkbox_id, :class => "inTeam" %>
                        <%= t.name %>
                      </label>

                      <div style="float: right;" class="role">
                        <% if manageable_roles.size == 1 -%>
                          <%= hidden_field_tag "person[teams][#{t.id}][role]", manageable_roles.first[1] %>
                        <% else -%>
                          <%= select_tag "person[teams][#{t.id}][role]", options_for_select(manageable_roles, m.role_name) %>
                        <% end -%>
                      </div>
                    </li>
                  <% end %>
                <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
          <%= f.send(:field_set_and_list_wrapping_for_method, :teams, {}, @content_for_teams) %>
        </li>
      </li>
        <% if @person != current_user %>
          <%= f.input "blocked", :required => false %>
        <% end %>
      <% end %>
    <% end %>

  <% end %>
  <% f.buttons do %>
    <%= f.commit_button %>
    <%= t "views.or" %> <%= link_to t("actions.back"), :back %>
  <% end %>
<% end %>

<script type="text/javascript">
  $('.inTeam').each(function() {
    var $this = $(this);
    var $role = $this.closest('li').find('.role');

    var switcher = function() {
      if($this.is(':checked')) {
        $role.show();
      } else {
        $role.hide();
      }
    };

    $this.click(switcher);
    switcher();
  });
</script>
