<% semantic_form_for(@contestant ? [@context, @contestant, @person] : [@contest, @person]) do |f| %>
  <% f.inputs do %>
   <% show_to :administrator, :teacher, :tutor, :helper, @current_user do %>
    <%= f.input :first_name, :required => true %>
    <%= f.input :last_name, :required => true %>
    <% if administrator? or @person.new_record? %>
      <%= f.input :email, :required => true, :hint => t("views.email_required") %>
    <% end %>
    <%= f.input :phone_number, :required => false %>
    <% if administrator? or @person.new_record? %>
      <% generated_password = random_password() %>
      <%= f.input :password, :required => @person.new_record?,
        :hint => (t("views.password_length", {:min_length => Person::MINIMUM_PASSWORD_LENGTH}) + (@person.new_record? ?  "" : t("views.password_not_change_hint")) + ". Z.B. #{generated_password} <a href=\"#\" onclick=\"$('input#person_password').val('#{generated_password}');return false;\">".html_safe + t("actions.use") + "</a>.".html_safe),
      :input_html => { :value => "", :autocomplete => "off" } %>
    <% else %>
      <li style="margin-bottom:0.2em;"><b>Passwort ändern:</b></li>
      <li id="person_current_password_input" class="password optional">
         <label for="current_password">Aktuelles Passwort</label>
         <%= password_field_tag 'current_password' %>
      </li>
      <%= f.input :password, :label => "Neues Passwort", :hint => t("views.password_length", :min_length => Person::MINIMUM_PASSWORD_LENGTH).html_safe %>
       <li id="person_new_password_repeat_input" class="password optional">
         <label for="repeat_new_password">Neues Passwort wiederholen</label>
         <%= password_field_tag 'new_password_repeat' %>
      </li>     
    <% end %>
    <% show_to :administrator do %>
      <li class="boolean optional">
        <label for="send_notification">
          <%= check_box_tag "send_notification" %>
          <%=t "labels.send_notification" %>
        </label>
      </li>
    <% end %>
    <% end %>

    <% show_to :administrator do %>
      <%= f.input :administrator, :as => :boolean %>
    <% end %>

    <style type="text/css">
      span.other {
        display: none;
      }
    </style>

    <% show_to :administrator, :teacher, :tutor, :helper do %>
      <% if current_user != @person or current_user.has_role? :administrator %>
        <li>
        <%= f.errors_on :memberships %>
        <li>
          <% content_for :teams do %>
            <div style="overflow-y: scroll; height: 200px; margin-bottom: 5px;">
              <% there_are_hidden = false %>

              <% contexts = current_user.manageable_teams.group_by{|t| t.parent}.reject{|k,v| k.nil? or not k.public} %>

              <% contests = [@context].concat Contest.all.find_all{|c| !current_user.manageable_teams_for(c).reject{|t| t.hidden?}.empty? and c != @context} %>

              <% contexts.each do |context,teams| %>
                  <% there_are_hidden = true if context != @context %>
                  <% context_identifier = "#{context.class.to_s.underscore}_#{context.id}" %>
                  <span class="<%= context == @context ? "current" : "other" %> contestants_show">
                    <a href="#" class="contestants_show" id="contestants_show_<%= context_identifier %>" data-context="<%= context_identifier%>"><%= context.name %></a>
                    <a href="#" class="contestants_hide" id="contestants_hide_<%= context_identifier %>" data-context="<%= context_identifier%>" style="display:none"><%= context.name %></a>
                    &nbsp;( <%= teams.count %>)      
                    <br><br>
                  </span>
                  <div style="<%= (@person.new_record? and context == @context) ? "" : "display: none; " %>padding-left: 25px" id="contestants_<%= context_identifier %>">
                    <% teams.reject{|v| v.hidden?}.each do |team| %>
                      <% roles = @person.roles.find(:all, :conditions => {:authorizable_type => "Contestant", :authorizable_id => team.id}) %>
                      <li class="boolean <%= cycle("odd", "even") %>">
                        <% checkbox_id = "person_team_#{team.id}" %>
                        <label for="<%= checkbox_id %>" style="padding-left: 0;">
                        <%= hidden_field_tag "person[teams][#{team.id}][_delete]", 1 %>
                        <%= check_box_tag "person[teams][#{team.id}][_delete]", 0, !roles.empty?, :id => checkbox_id, :class => "inTeam", :checked => (@person.new_record? and team == @contestant) %>
                        <%= team.name %>
                      </label>

                      <div style="float: right;" class="role">
                        <% if manageable_roles.size == 1 -%>
                          <%= hidden_field_tag "person[teams][#{team.id}][role]", manageable_roles.first[1] %>
                        <% else -%>
                          <%= select_tag "person[teams][#{team.id}][role]", options_for_select(manageable_roles, roles.first ? roles.first.name : manageable_roles[0]) %>
                        <% end -%>
                      </div>
                    </li>
                    <% end %>
                  </div>
                <% end %>

              <% javascript_tag do %>
                $(function() {
                  $(".contestants_show").bind("click", function(e){
                    var context = $(this).data("context");
                    $("#contestants_hide_"+context).show();
                    $("#contestants_show_"+context).hide();
                    $("#contestants_"+context).show();
                    e.preventDefault();
                  })

                  $(".contestants_hide").bind("click", function(e){
                    var context = $(this).data("context");
                    $("#contestants_hide_"+context).hide();
                    $("#contestants_show_"+context).show();
                    $("#contestants_"+context).hide();
                    e.preventDefault();
                  })
                });
              <% end %>

              <% if there_are_hidden %>
                <br><a id="show_hidden" href="#"><%= t("actions.show_all") %></a>
                <% javascript_tag do %>
                  $(function() {
                    $("a#show_hidden").bind('click', function() {
                      $("span.other").each(function(index) {
                        $("a#show_hidden").hide();
                        $(this).fadeIn(350);
                      })
                      return false;
                    })
                  })
                <% end %>
            <% end %>
            </div>
          <% end %>
          <%= f.send(:field_set_and_list_wrapping_for_method, :teams, {}, @content_for_teams) %>
        </li>
      </li>
      <li>
        <label><%= Person.human_attribute_name(:hidden) %></label>
        <%= t(@person.hidden.to_s) %>
      </li>
      <% end %>
    <% end %>

  <% end %>
  <% f.buttons do %>
    <%= f.commit_button %>
    <%= t "views.or" %> <%= link_to t("actions.back"), :back %>
  <% end %>
<% end %>

<script type="text/javascript">
  $('.inTeam').each(function() {
    var $this = $(this);
    var $role = $this.closest('li').find('.role');

    var switcher = function() {
      if($this.is(':checked')) {
        $role.show();
      } else {
        $role.hide();
      }
    };

    $this.click(switcher);
    switcher();
  });
</script>
