<tr class="person" id="<%= person.id %>">
  <td class="p_first_name"><%=h person.first_name %></td>
  <td class="p_last_name"><%=h person.last_name %></td>
  <% if logged_in? -%>
  <td class="p_email"><%=h person.email %></td>
  <% end -%>

  <% unless @contestant # don't show these infos on contestant page -%>
    <td id="p_teams_<%= person.id %>">
      <% unless person.teams.visible.empty? %>
        <% if person.teams.visible.count > 1 then %>
          <% tooltip ("<abbr>In #{person.teams.visible.count.to_s} Teams</abbr>") do %>
            <% person.teams.visible.each do |team| %>
              <ul style="margin-left: 15px">
                <li>
                  <span><%= team.name %></span> (<%= t "views.as" %> <span><%= person.membership_for(team).role %></span>)
                </li>
              </ul>
            <% end %>
          <% end %>
        <% else %>
          <span><%= person.teams.first.name %></span> (<%= t "views.as" %> <span><%= person.membership_for(person.teams.first).role %></span>)
        <% end %>
      <% end %>
      <% locations = [] %>
      <% person.contestants.each_with_index do |contestant, index| %>
        <% locations << contestant.location %>
      <% end %>
      <% locations = locations.join(";") %>
      <span id="person_location_<%= person.id %>" style="display: none"><%= locations %></span>  
      <% roles = [] %>
      <% if person.has_role?(:administrator) then roles << "administrator" end %>
      <% person.teams.each do |team| %>
        <% person.roles_for(team).each do |role| %>
          <% roles << role.name %>
        <% end %>
      <% end %>
      <% rolestr = "" %>
      <% roles.uniq.each_with_index do |role,index| %>
        <% rolestr += (index > 0 ? ";" : "") + role %>
      <% end %>
      <% teamstr = person.teams.collect(&:name).join(";") %>
      <span id="team_text_<%= person.id %>" style="display: none"><%= teamstr %></span>
      <span id="role_text_<%= person.id %>" style="display: none"><%= rolestr %></span>
    </td>

    <% show_to :administrator do %>
      <td class="p_administrator">
        <%=t person.has_role?(:administrator).to_s %>
      </td>
    <% end %>
  <% end -%>
  <td>
    <% if may_see_person_details? :person => person -%>
    <% show_image = image_tag "actions/show.png", :title => I18n.t("actions.show") %>
    <%= link_to show_image, [@contest, person] %>
    <% end -%>
  </td>
  <% if @contestant -%>
    <td>
      <% if current_user.has_role? :administrator or same_person(person) -%>
      <% edit_image = image_tag "actions/edit.png", :title => I18n.t("actions.edit") %>
      <%= link_to edit_image, edit_contest_contestant_person_url(@contest, @contestant, person) %>
      <% end -%>
    </td>
    <td>
      <% if may_remove_from_contestant? -%>
        <% remove_image = image_tag "actions/remove_small.png", :title => I18n.t("actions.remove_from_contestant") %>
        <%= link_to remove_image, url_for(:action => :remove_from_contestant, :id => person.to_param, :contestant_id => @contestant.to_param), :confirm => I18n.t("messages.confirm_remove_from_contestant", :name => person.name) %>
      <% end -%>
    </td>
  <% else -%>
    <td>
      <% if current_user.has_role? :administrator or same_person(person) -%>
      <% edit_image = image_tag "actions/edit.png", :title => I18n.t("actions.edit") %>
      <%= link_to edit_image, edit_person_url(person) %>
      <% end -%>
    </td>
    <td>
      <% show_to :administrator do -%>
        <% unless person.hidden -%>
          <% if person != current_user %>
            <% delete_image = image_tag "actions/delete.png", :title => I18n.t("actions.delete") %>
            <%= link_to delete_image, url_for(:action => :hide, :id => person.to_param), :confirm => I18n.t("messages.confirm_hiding", :name => person.name) %>
          <% end %>
        <% else %>
        <% undelete_image = image_tag "actions/undo.gif", :title => I18n.t("actions.unhide") %>
        <%= link_to undelete_image, url_for(:action => :unhide, :id => person.to_param) %>
        <% end -%>
      <% end -%>
    </td>
  <% end -%>
</tr>
