<tr class="person">
  <td><%=h person.first_name %></td>
  <td><%=h person.last_name %></td>
  <% if logged_in? -%>
  <td><%=h person.email %></td>
  <% end -%>
  <td>
    <%=t person.blocked?.to_s %>
  </td>

  <% unless @contestant # don't show these infos on contestant page -%>
    <td>
      <% unless person.teams.empty? %>
        <% if person.teams.count > 1 then %>
          <!--<%= select_tag "team", options_for_select(person.teams.collect(&:name)) %> (<%= person.teams.count %>)!-->
          <div class="team_tooltip">
            <abbr class="team_tooltip_title"><%= "In " + person.teams.count.to_s + " Teams" %><abbr>
          <div class="team_list" style="position: absolute; background-color: #DDDDFF; border: 1px solid; padding: 5px; display: none">
          <% person.teams.each do |team| %>
            <ul style="margin-left: 15px">
              <li class="team_text" style=""><%= team.name %></li>
            </ul>
          <% end %>
          </div>
          </div>
        <% else %>
          <span class="team_text"><%= person.teams.first.name %></span>
        <% end %>
      <% else %>
        Kein Team
      <% end %>
      <% person.contestants.each do |contestant| %>
        <span class="person_location" style="display: none"><%= contestant.location %></span>
      <% end %>
    </td>

    <% show_to :administrator do %>
      <td>
        <%=t person.has_role?(:administrator).to_s %>
      </td>
    <% end %>
  <% end -%>
  <td>
    <% if may_see_person_details? :person => person -%>
    <% show_image = image_tag "actions/show.png", :title => I18n.t("actions.show") %>
    <%= link_to show_image, person %>
    <% end -%>
  </td>
  <% if @contestant -%>
    <td>
      <% if current_user.has_role? :administrator or same_person(person) -%>
      <% edit_image = image_tag "actions/edit.png", :title => I18n.t("actions.edit") %>
      <%= link_to edit_image, edit_contest_contestant_person_url(@contestant, person) %>
      <% end -%>
    </td>
    <td>
      <% if may_remove_from_contestant? -%>
        <% remove_image = image_tag "actions/remove_small.png", :title => I18n.t("actions.remove_from_contestant") %>
        <%= link_to remove_image, url_for(:action => :remove_from_contestant, :id => person.to_param, :contestant_id => @contestant.to_param), :confirm => I18n.t("messages.confirm_remove_from_contestant", :name => person.name) %>
      <% end -%>
    </td>
  <% else -%>
    <td>
      <% if current_user.has_role? :administrator or same_person(person) -%>
      <% edit_image = image_tag "actions/edit.png", :title => I18n.t("actions.edit") %>
      <%= link_to edit_image, edit_person_url(person) %>
      <% end -%>
    </td>
    <td>
      <% show_to :administrator do -%>
        <% unless person.hidden -%>
        <% delete_image = image_tag "actions/delete.png", :title => I18n.t("actions.delete") %>
        <%= link_to delete_image, url_for(:action => :hide, :id => person.to_param), :confirm => I18n.t("messages.confirm_hiding", :name => person.name) %>
        <% else %>
        <% undelete_image = image_tag "actions/undo.gif", :title => I18n.t("actions.unhide") %>
        <%= link_to undelete_image, url_for(:action => :unhide, :id => person.to_param) %>
        <% end -%>
      <% end -%>
    </td>
  <% end -%>
</tr>
