<tr>
  <td><%=h person.first_name %></td>
  <td><%=h person.last_name %></td>
  <td><%=h person.email %></td>
  <td>
    <% if person.blocked? %>
      <%=  'Ja' %>
    <%  else %>
      <%=  'Nein' %>
    <%  end %>
  </td>
  <td>
    <%= translate_role person.role %>
  </td>

  <td>
    <% unless person.teams.empty? %>
      <%= select_tag "team", options_for_select(person.teams.collect(&:name)) %>
    <% end %>
  </td>

  <% if current_user.administrator? %>
    <td>
      <% if person.administrator? %>
        <%=  'Ja' %>
      <%  else %>
        <%=  'Nein' %>
      <%  end %>
    </td>
  <% end %>
  <% show_image = image_tag "actions/show.png", :title => "Zeige" %>
  <% edit_image = image_tag "actions/edit.png", :title => "Bearbeiten" %>
  <% delete_image = image_tag "actions/delete.png", :title => "Löschen" %>
  <td><%= link_to show_image, person %></td>
  <td><%= link_to edit_image, edit_person_path(person) %></td>
  <td><%= link_to delete_image, person, :confirm => 'Soll "' + person.name + '" wirklich gelöschen werden?', :method => :delete %></td>
</tr>