<h1>Bearbeite Person</h1>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <br>
  <p>
    <%= f.label :vorname %>
    <%= f.text_field :first_name %>
  </p>
  <br>
  <p>
    <%= f.label :nachname %>
    <%= f.text_field :last_name %>
  </p>
  <br>
  <p>
    <%= f.label :nick_name %>
    <%= f.text_field :nick_name %>
  </p>
  <br>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email%>
  </p>
  <br>
  <p>
    <%= f.label :passwort %>
    <%= password_field(:password, :value, :value => "") %>
  </p>
  <% if current_user.administrator? %>
    <br>
    <p>
      <%= f.label :administrator %>
      <%= f.check_box :administrator %>
    </p>
  <%  end %>
  <% if ((current_user.teacher? || current_user.tutor?) && current_user != @person) || current_user.administrator? %>
    <br>
    <p>
      <%= f.label :gesperrt %>
      <%= f.check_box :blocked %>
    </p>
    <br>
    <p>
      <%= f.label :rolle %>
      <%= select_tag "role", options_for_select(@roles, @roles_selected) %>
    </p>
    <br>
    <p>
      <%= f.label "Team (mit STRG selektieren)" %>
      <%= select_tag "team", options_for_select(@teams, @teams_selected), :multiple => true, :size => 5 %>
    </p>
  <% end %>
  <br>
  <p>
    <%= f.submit 'Aktualisieren' %>
  </p>
<% end %>

<%= link_to_function "Zurück", "history.back()" %>