<h1>Bearbeite Person</h1>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <br>
  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </p>
  <br>
  <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </p>
  <br>
  <p>
    <%= f.label :nick_name %>
    <%= f.text_field :nick_name %>
  </p>
  <br>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <br>
  <p>
    <%= f.label :password %>
    <%= password_field(:password, :value, :value => "!!!empty") %>
  </p>
  <% if current_user.administrator? %>
    <br>
    <p>
      <%= f.label :administrator %>
      <%= f.check_box :administrator %>
    </p>
  <%  end %>
  <br>
  <p>
    <%= f.label :rolle %>
    <% if @roles == nil %>
      <% @roles = "" %>
    <%  end %>
    <%= select_tag "role", options_for_select(@roles) %>
  </p>
  <br>
  <p>
    <%= f.label :team %>
    <% if @teams == nil %>
      <% @teams = "" %>
    <%  end %>
    <%= select_tag "team", options_for_select(@teams) %>
  </p>
  <br>
  <p>
    <%= f.submit 'Aktualisieren' %>
  </p>
<% end %>

<%= link_to 'Zurück', people_path %>