<h1>Benutzerverwaltung</h1>

<table>
  <tr>
    <th>Name</th>
    <th>E-Mail Addresse</th>
    <th>Vorname</th>
    <th>Nachname</th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%=h person.name %></td>
    <td><%=h person.email %></td>
    <td><%=h person.firstname %></td>
    <td><%=h person.lastname %></td>
    <td><%= link_to 'Zeige', person %></td>
    <td><%= link_to 'Bearbeiten', edit_person_path(person) %></td>
    <td><%= link_to 'Löschen', person, :confirm => 'Wirklich?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neue Person anlegen', new_person_path %>