<div id="actions">
  <% link_to new_person_url(:from => @from) do %>
    <%= image_tag('actions/add.png') %><%= t "views.new_person" %>
<% end %>
</div>

<h1><%= t "views.administration" %></h1>

<% tabnav :administration do %>

  <table class="data-table">
    <%= render :partial => "person_table_head" %>
    <%= render :partial => "person", :collection => @people %>
  </table>

  <h2><%=t "headers.hidden_people" %></h2>

  <table class="data-table">
    <%= render :partial => "person_table_head" %>
    <%= render :partial => "person", :collection => @hidden_people %>
  </table>

<% end %>
