<h1>
  <%= link_to @contest.name, contest_contestants_url(@contest) %> /
  <%= link_to @contestant.name, contest_contestant_url(@contest, @contestant) %> /
  <%= t "views.invite_person" %>
</h1>

<% tabnav :new_person do %>
  <% form_tag(add_person_contest_contestant_url(@contest, @contestant), {:class => "formtastic", :autocomplete => "off"}) do %>
    <% if manageable_roles.size == 1 -%>
      <%= hidden_field_tag "role", manageable_roles.first[1] %>
    <% end -%>
    <fieldset class="inputs">
      <ol>
        <li class="string required">
        <% if administrator? %>
          <% combobox(:email, Person.all.collect(&:email), :label => :email) %>
        <% else %>
          <%= label_tag :email %> <%= text_field_tag :email %> 
        <% end %>
        </li>
        <% if administrator? %>
          <li>
          <% combobox(:name, Person.all.collect(&:name), :label => :name) %>
          </li>
        <% end %>
        <% if manageable_roles.size > 1 -%>
          <li>
            <%= label_tag :role, "als" %>
            <%= select_tag :role, options_for_select(manageable_roles) %>
          </li>
        <% end -%>
      </ol>
    </fieldset>
    <fieldset class="buttons">
      <%= submit_tag t("actions.invite") %>
    </fieldset>
  <% end -%>
<% end %>
