<% if @contestant -%>
  <h1>
    <%= link_to @context.name, [@context, :contestants] %> /
    <%= link_to @contestant.name, [@context, @contestant] %> /
    <%= t("views.new_person") + " " + t("actions.create") %>
  </h1>

  <% tabnav :new_person do %>
    <%= render :partial => "form" %>
  <% end %>
<% else %>
  <h1><%= t("views.new_person") + " " + t("actions.create") %></h1>

  <%= render :partial => "form" %>
<% end %>
