<% if !params[:pupil] %>
  <h1>Neue Person anlegen</h1>
<% else %>
  <h1>Neuen Schüler anlegen</h1>
<% end %>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :vorname %>
    <%= f.text_field :first_name %>
  </p>
  <br>
  <p>
    <%= f.label :nachname %>
    <%= f.text_field :last_name %>
  </p>
  <br>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <br>
  <p>
    <%= f.label :password %>
    <%= f.text_field :password_hash %>
  </p>
  <% if current_user.administrator? %>
    <br>
    <p>
      <%= f.label :administrator %>
      <%= f.check_box :administrator %>
    </p>
  <%  end %>
  <br>
  <p>
    <%= f.label :rolle %>
    <% if @roles == nil %>
      <% @roles = "" %>
    <%  end %>
    <%= select_tag "role", options_for_select(@roles) %>
  </p>
  <br>
  <p>
    <%= f.label :team %>
    <% if @teams == nil %>
      <% @teams = "" %>
    <%  end %>
    <%= select_tag "team", options_for_select(@teams) %>
  </p>
  <br>
  <p>
    <%= f.submit 'Erstellen' %>
  </p>
<% end %>

<%= link_to 'Zurück', people_path %>