<h1>Neue Person anlegen</h1>

<%= render :partial => "form" %>

<% if @contestant -%>
<h1>Bestehende Person einladen</h1>

  <% form_tag({:controller => "contestants", :action => "add_person"}, {:class => "formtastic"}) do %>
    <%= hidden_field_tag :contestant_id, @contestant.to_param %>
    <% if manageable_roles.size == 1 -%>
      <%= hidden_field_tag "role", manageable_roles.first[1] %>
    <% end -%>
    <fieldset class="inputs">
      <ol>
        <li class="string required">
          <%= label_tag :email %> <%= text_field_tag :email %>
        </li>
      <% if manageable_roles.size > 1 -%>
        <li>
          <%= label_tag :role, "als" %>
          <%= select_tag :role, options_for_select(manageable_roles) %>
        </li>
      <% end -%>
      </ol>
    </fieldset>
    <fieldset class="buttons">
      <%= submit_tag "Einladen" %>
    </fieldset>
  <% end -%>

<% end -%>
