<div id="actions">
  <% if may_add_person? and not @contestant.disqualified %>
    <% link_to(new_contest_contestant_person_url(@contest, @contestant)) do %>
      <%= image_tag('actions/add.png') %> <%= t "views.add_person" %>
    <% end %>
  <% end %>
</div>

<h1>
  <%= link_to @contest.name, contest_contestants_url(@contest) %> /
  <%= @contestant.name %>
</h1>

<% tabnav :contestant do %>
  <% unless @contestant.people.visible.helpers.empty? %>
    <%= "* #{t ("views.tutors_with_asterisk_note")}" %>
  <% end %>
  <% if not logged_in? then colspan = 5 elsif @contestant then colspan = 7 else colspan = 9 end %>
  <table class="data-table">
  <% unless @contestant.people.visible.teachers.empty? -%>
    <thead>
    <tr><td colspan="<%=colspan%>"><h2><%= t "acl9.roles.contestant.teachers" %></h2></td></tr>
    <%= render :partial => "person_table_head" %>
    </thead>
    <tbody>
    <%= render :partial => "person", :collection => @contestant.people.visible.teachers %>
    </tbody>
  <% end %>
  <% unless @contestant.people.visible.tutors_and_helpers.empty? -%>
    <thead>
    <tr><td colspan="<%=colspan%>"><h2><%=t "acl9.roles.contestant.tutors" %></h2></td></tr>
    <%= render :partial => "person_table_head" %>
    </thead>
    <tbody>
    <%= render :partial => "person", :collection => @contestant.people.visible.tutors_and_helpers %>
    </tbody>
  <% end %>

  <% unless @contestant.people.visible.pupils.empty? -%>
    <thead>
    <tr><td colspan="<%=colspan%>"><h2><%= t "acl9.roles.contestant.pupils_with_account" %></h2></td></tr
    <%= render :partial => "person_table_head" %>
    </thead>
    <tbody>
    <%= render :partial => "person", :collection => @contestant.people.visible.pupils %>
    </tbody>
  <% end %>
  </table>

  <h2>
    <%= t ("activerecord.attributes.contestant.overall_member_count") %>: <span id="overall_member_count"><%= @contestant.overall_member_count %></span> 
    <% if not current_user.nil? and (current_user.has_role?(:teacher, @contestant) or current_user.has_role?(:tutor, @contestant) or current_user.has_role?(:helper, @contestant) or current_user.has_role?(:administrator)) %></h2>
      <% unless @contestant.disqualified %>
        <a href="#" id="edit_overall_member_count">Ändern</a></h2>
      <% end %>
      <span id="field_overall_member_count" style="display: none">
        <%= text_field_tag :member_count, @contestant.overall_member_count, :size => 2 %>
        <a href="#" id="save_overall_member_count"><%= t("actions.save") %></a>
        <a href="#" id="cancel_overall_member_count"><%= t("actions.cancel") %></a>
      </span>
      <% javascript_tag do %>
        $(function() {
          $("a#edit_overall_member_count").bind('click', function() {
            $("a#edit_overall_member_count").hide()
            $("span#field_overall_member_count").show(250)
            return false
          })

          $("a#cancel_overall_member_count").bind('click', function() {
            $("span#field_overall_member_count").hide()
            $("input#member_count").val($("span#overall_member_count").html())
            $("a#edit_overall_member_count").show(250)
          })

          $("a#save_overall_member_count").bind('click', function() {
            $("span#field_overall_member_count").hide()
            $("a#edit_overall_member_count").show(250)
            $.get(
              "<%= set_and_get_overall_member_count_contest_contestant_url(@contest, @contestant) %>",
              "id=<%= @contestant.id %>&count=" + $("input#member_count").val(),
              function(returned_data) {
                $("span#overall_member_count").html(returned_data)
              }
            )
            return false
          })
        })
      <% end %>
    <% end %>
  </h2>
<% end %>
