<div id="actions">
  <% if may_add_person? %>
    <% link_to(new_contest_contestant_person_url(:contestant_id => @contestant.to_param)) do %>
      <%= image_tag('actions/add.png') %> <%= t "views.add_person" %>
    <% end %>
  <% end %>
</div>

<h1>
  <%= link_to @contest.name, contest_contestants_url %> /
  <%= @contestant.name %>
</h1>

<% tabnav :contestant do %>

  <h2><%= t ("activerecord.attributes.contestant.overall_member_count") %>: <%= @contestant.overall_member_count %></h2>

  <% if not logged_in? then colspan = 5 elsif @contestant then colspan = 7 else colspan = 9 end %>
  <table class="data-table">
  <% unless @contestant.people.visible.teachers.empty? -%>
    <thead>
    <tr><td colspan="<%=colspan%>"><h2><%= t "acl9.roles.contestant.teachers" %></h2></td></tr>
    <%= render :partial => "person_table_head" %>
    </thead>
    <tbody>
    <%= render :partial => "person", :collection => @contestant.people.visible.teachers %>
    </tbody>
  <% end %>
  <% unless @contestant.people.visible.tutors.empty? -%>
    <thead>
    <tr><td colspan="<%=colspan%>"><h2><%=t "acl9.roles.contestant.tutors" %></h2></td></tr>
    <%= render :partial => "person_table_head" %>
    </thead>
    <tbody>
    <%= render :partial => "person", :collection => @contestant.people.visible.tutors %>
    </tbody>
  <% end %>

  <% unless @contestant.people.visible.pupils.empty? -%>
    <thead>
    <tr><td colspan="<%=colspan%>"><h2><%= t "acl9.roles.contestant.pupils" %></h2></td></tr
    <%= render :partial => "person_table_head" %>
    </thead>
    <tbody>
    <%= render :partial => "person", :collection => @contestant.people.visible.pupils %>
    </tbody>
  <% end %>
  </table>
<% end %>
