<div id="actions">
  <% link_to(new_person_url(:contestant_id => @contestant.to_param, :from => @from)) do %>
    <%= image_tag('actions/add.png') %>Person hinzufügen
  <% end %>
</div>

<h1>
  <%= link_to @contest.name, contest_contestants_url %> /
  <%= @contestant.name %>
</h1>

<% tabnav :contestant do %>

  <% unless @people_by_role[:teacher].empty? -%>
  <h2>LehererInnen</h2>

  <table class="data-table">
    <%= render :partial => "person_table_head" %>
    <%= render :partial => "person", :collection => @people_by_role[:teacher] %>
  </table>
  <% end %>

  <% unless @people_by_role[:tutor].empty? -%>
  <h2>TutorInnen</h2>

  <table class="data-table">
    <%= render :partial => "person_table_head" %>
    <%= render :partial => "person", :collection => @people_by_role[:tutor] %>
  </table>
  <% end %>

  <% unless @people_by_role[:pupil].empty? -%>
  <h2>SchülerInnen</h2>

  <table class="data-table">
    <%= render :partial => "person_table_head" %>
    <%= render :partial => "person", :collection => @people_by_role[:pupil] %>
  </table>
  <% end %>
<% end %>
