<p>
  <b>Name:</b>
  <%=h @person.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @person.email %>
</p>

<p>
  <b>Avatar (via <%= link_to "Gravatar", "http://www.gravatar.com" %>)</b><br/>
  <%= gravatar_for @person, :size => 128 %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>