<div align="center">
  <table>
    <tr>
      <td>
        <p>
          <b>Name:</b>
          <%=h @person.first_name + " " + @person.last_name %>
        </p>

        <% if (@person.nick_name != "") %>
          <p>
            <b>Nickname:</b>
            <%=h @person.nick_name %>
          </p>
        <% end %>

        <p>
          <b>E-Mail Adresse:</b>
          <%=h @person.email %>
        </p>

        <br>
        <% if (@person.getrole != "") %>
          <p>
            <b>Rolle:</b>
            <%=h @person.getrole %>
          </p>
        <% end %>

        <% if (@person.getteams.length > 0) %>
          <p>
            <b>Teams:</b>
          <table>
            <% @person.getteams.each do |team| %>
              <tr>
                <td>
                  <%= team %>
                  <% tutors = @person.gettutors(team) %>
                  <% if tutors.length > 0 && @person.getrole != "Tutor" %>
                    <% if tutors.length == 1 %>
                      ( <b>Tutor:</b>
                    <% else %>
                      ( <b>Tutoren:</b>
                    <% end %>
                    <% tutors.each do |tutor| %>
                      <%= link_to tutor.name, person_url(tutor) %>
                    <% end %>)
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
          </p>
        <%  end %>

        <br>

        <p>
          <b>Mitglied seit:</b>
          <%= l(@person.created_at, :format => :long) %>
        </p>

        <p>
          <b>Letztes Update:</b>
          <%= l(@person.created_at, :format => :long) %>
        </p>
      </td>

      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>
        <p>
          <b>Avatar (via <%= link_to "Gravatar", "http://www.gravatar.com" %>)</b><br/>
          <%= gravatar_for @person, :size => 128 %>
        </p>
      </td>
    </tr>
  </table>
</div>

<% if (current_user == @person) || (current_user.administrator?) %>
  <div align="center">
    <br>
    <%= link_to 'Bearbeiten', edit_person_path(@person) %>
  </div>
<% end %>
