<div style="margin: 0 80px;">
  <table style="width: 100%;">
    <tr>
      <td>
        <p>
          <b>Name:</b>
          <%=h @person.first_name + " " + @person.last_name %>
        </p>

        <% if (@person.nick_name != "") %>
          <p>
            <b>Nickname:</b>
            <%=h @person.nick_name %>
          </p>
        <% end %>

        <p>
          <b>E-Mail Adresse:</b>
          <%=h @person.email %>
        </p>

        <% unless @person.teams.empty? %>
          <p>
            <b>Teams:</b>
            <table>
              <% @person.teams.each do |team| %>
                <tr>
                  <td>
                    <%= team.name %> (als <%= @person.membership_for(team).role %>)
                  </td>
                </tr>
              <% end %>
            </table>
          </p>
        <%  end %>

        <br>

        <p>
          <b>Mitglied seit:</b>
          <%= l(@person.created_at, :format => :long) %>
        </p>

        <p>
          <b>Letztes Update:</b>
          <%= l(@person.created_at, :format => :long) %>
        </p>
      </td>

      <td>
        <p>
          <b>Avatar (via <%= link_to "Gravatar", "http://www.gravatar.com" %>)</b><br/>
          <%= raw(gravatar_for @person, :size => 128) %>
        </p>
      </td>
    </tr>
  </table>

  <% if (current_user == @person) || (current_user.administrator?) %>
    <br/>
    <%= link_to 'Bearbeiten', edit_person_path(@person) %>
  <% end %>
</div>

