<div style="margin: 0 80px;">
  <table style="width: 100%;">
    <tr>
      <td>
        <p>
          <b><%= t "views.name" %>:</b>
          <%=h @person.first_name + " " + @person.last_name %>
        </p>

        <p>
          <b><%= t "labels.email_adress" %>:</b>
          <%=h @person.email %>
        </p>

        <% unless @person.teams.visible.empty? %>
          <p>
            <b><%= Contestant.human_name(:count => 2)%>:</b>
            <table>
              <% @person.teams.visible.each do |team| %>
                <tr>
                  <td>
                    <%= team.name %> (<%= t "views.as" %> <%= @person.membership_for(team).role %>)
                  </td>
                </tr>
              <% end %>
            </table>
          </p>
        <%  end %>

        <br>

        <p>
          <b><%= t "views.member_since" %>:</b>
          <%= l(@person.created_at, :format => :long) %>
        </p>

        <p>
          <b><%= t "views.last_update" %>:</b>
          <%= l(@person.created_at, :format => :long) %>
        </p>
      </td>

      <td>
        <p>
          <b>Avatar (via <%= link_to "Gravatar", "http://www.gravatar.com" %>)</b><br/>
          <%= raw(gravatar_for @person, :size => 128) %>
        </p>
      </td>
    </tr>
  </table>

  <% if may_edit_person? -%>
    <br/>
    <%= link_to t("actions.edit"), edit_person_path(@person) %>
  <% end %>
</div>

