<div style="margin: 0 80px;">
  <table style="width: 100%;">
    <tr>
      <td>
        <p>
          <b><%= t "views.name" %>:</b>
          <%=h @person.first_name + " " + @person.last_name %>
        </p>

        <p>
          <b><%= t "labels.email_adress" %>:</b>
          <%=h @person.email %>
        </p>

        <% unless @person.teams.visible.empty? %>
        <p>
          <b><%= Contestant.human_name(:count => 2)%>:</b><br>
              <div id="teams" style="margin-left:5px;">
                <% @person.teams.visible.group_by{|c| c.parent}.each do |parent,teams| %>
                  <div class="group" style="margin-top:3px">
                    <b><%= parent.name %></b>
                    <table>
                      <% for team in teams %>
                        <tr style="line-height: 1.2em;">
                          <td>
                            <%= team.name %> (<%= t "views.as" %> <%= @person.membership_for(team).role %>)
                          </td>
                        </tr>
                      <% end %>
                    </table>
                  </div>
              <% end %>
            </div>
          </p>
        <%  end %>

        <br>
        <p>
          <b><%= t "views.member_since" %>:</b>
          <%= l(@person.created_at, :format => :long) %>
        </p>

        <p>
          <b><%= t "views.last_update" %>:</b>
          <%= l(@person.created_at, :format => :long) %>
        </p>
      </td>

      <td>
        <p>
          <b>Avatar (via <%= link_to "Gravatar", "http://www.gravatar.com" %>)</b><br/>
          <%= raw(gravatar_for @person, :size => 128) %>
        </p>
      </td>
    </tr>
  </table>

  <% if may_edit_person? -%>
    <br/>
    <%= link_to t("actions.edit"), edit_contest_person_path(@contest, @person) %>
  <% end %>
</div>

