<p>
  <b>Nickname:</b>
  <%=h @person.nick_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @person.email %>
</p>

<p>
  <b>Avatar (via <%= link_to "Gravatar", "http://www.gravatar.com" %>)</b><br/>
  <%= gravatar_for @person, :size => 128 %>
</p>

<%= link_to 'Bearbeiten', edit_person_path(@person) %> |
<%= link_to 'Zurück', people_path %>