<div id="actions">
  <% link_to new_contest_whitelist_entry_url(@contest) do %>
    <%= image_tag('actions/add.png') %> Neue Dateien hinzufügen 
  <% end %>
    <% link_to reset_contest_whitelist_entry_url(@contest, :id => 0), :method => :delete, :confirm => "Sind sie sich sicher, dass die die Whitelist löschen wollen?" do %>
      <%= image_tag('actions/destroy.png') %> Whitelist zurücksetzen
  <% end %>
</div>

<h1>
  <%= link_to @contest.name, contest_url(@contest) %> / 
  <%= link_to FakeTest.human_name(:count => 2), contest_fake_test_suites_url(@contest) %> /
  Whitelist
</h1>

<% tabnav :administration do %>
  <% if @whitelist.description %><b>Beschreibung: </b> <%= @whitelist.description %><% end %>
  <%= render :partial =>"list", :locals => {:entries => @whitelist_entries} %>
<% end %>
