<h1>
  <%= link_to @contest.name, contest_url(@contest) %> / 
  <%= link_to FakeTest.human_name(:count => 2), contest_fake_test_suites_url(@contest) %> /
  <%= link_to Whitelist.human_name, contest_whitelist_entries_url(@contest) %> /
  Neue Datei hochladen
</h1>
<% tabnav :administration do %> 
  Hier können jeweils Dateien hochgeladen werden die dann der Whitelist hinzugefügt werden. Archive werden automatisch entpackt und alle Unterarchive und Dateien ebenfalls als Einträge hinzugefuegt, wenn man also z.B. komplette Clients (z.B. SimpleClient) whitelisten will, dann lädt man ihn am besten direkt als *.zip Archiv hoch.
  <br><br>
  <div>
    <b>Achtung:</b> Beim Hochladen großer Archive kann das Whitelisting einige Zeit dauern. Warten Sie nach dem Hochladen so lange bis die Folgeseite wirklich geladen wurde, um einen vollständigen Import zu garantieren!
  </div>
  <br>
<% end %>
<% form_for [@contest, @whitelist_entry], :html => {:multipart => true} do |f|%>
  <p>
    <%= f.label "Datei" %>
    <%= f.file_field :file %>
  </p>
  <p>
    <%= f.label "Kommentar" %>
    <%= f.text_field :comment %>
  </p>
  <p><%= f.submit "Hochladen" %></p>
<% end %>
