<% if local_assigns[:new_record] and new_record %>
  <%= ((local_assigns[:errors] and errors) ? "false\n" : "true\n") %>
<% end %>
<% if team.new_record? or @current_user.has_role?(:creator, team) or administrator? %>
  <tr id="entry_<%= team.id %>">
    <td id="name_<%= team.id %>">
      <%= text_field_tag "team[name]", team.name %>
    </td>
    <td id="partprob_<%= team.id %>">
      <%= select_tag "team[participation_probability]", options_for_select(PreliminaryContestant::PROBS.collect{|prob| [prob, prob]}, team.participation_probability) %>
    </td>
    <td>
      <a href="" id="save_<%= team.id %>" style="display: none">Speichern</a>
      <span id="saved_<%= team.id %>" style="display: none">
        <% if local_assigns[:errors] and errors %>
          <%= image_tag('state/warning.png', :class => "middle") %>&nbsp;
          <span style="color: #c00"><%= "#{errors.first[0].humanize} #{errors.first[1]}" %></span>
        <% else %>
          <%= image_tag('state/ok.png', :class => "middle") %>&nbsp;
          Gespeichert
        <% end %>
      </span>
      <%= image_tag('ui/spinner.gif', :id => "spinner_#{team.id}", :style => "display: none") %>
    </td> 
  </tr>
  <% javascript_tag do %>
    $(function() {
      init_<%= team.id %>()
    })

    function init_<%= team.id %>() {
      $("#name_<%= team.id %> input").keyup(function() {
        $("#save_<%= team.id %>").fadeIn(250)
      })

      $("#partprob_<%= team.id %> select").change(function() {
        $("#save_<%= team.id %>").fadeIn(250)
      })

      $("#save_<%= team.id %>").bind('click', function() {
      $.ajax({
        type: 'POST',
        url: '<%= season_school_preliminary_contestants_url(@season, @school, :format => :js) %>',
        data : { <%= "id : #{team.id}, " unless team.new_record? %> team : { name : $("#name_<%= team.id %> input").val(), participation_probability : $("#partprob_<%= team.id %> select").val()}},
        complete: function(resp,status){
            var data = resp.responseText
            <% if team.new_record? %>
              var lines = data.split('\n')
              while(lines[0] == "") {
                lines.splice(0,1)
              }
              var success = lines[0].trim()
              lines.splice(0,1)
              data = lines.join('\n')
              if(success == "true") {
                $("#insertHere").before(data) 
                $("#spinner_<%= team.id %>").fadeOut(250)
                $("#entry_ #team_name").attr("value", "")
              } else {
            <% end %>
                $("#entry_<%= team.id %>").replaceWith(data)
                $("#saved_<%= team.id %>").fadeIn(250)
                setTimeout(function() {
                  $("#saved_<%= team.id %>").fadeOut(250)
                }, 1500)
            <% if team.new_record? %>
              }
            <% end %>
            init_<%= team.id %>()
          }
      })
      $("#save_<%= team.id %>").hide()
      $("#spinner_<%= team.id %>").show()
      return false;
    })
  }
  <% end %>
<% else %>
  <tr>
    <td>
      <%= team.name %>
    </td>
    <td>
      <%= team.participation_probability %>
    </td>
    <td>
    </td> 
  </tr>
<% end %>
