<% preliminary_contestants = preliminary_contestants || @preliminary_contestants %>
<table class="tablesorter data-table" id="preliminary_contestants">
    <thead>
      <tr>
        <th><%= t "views.name" %></th>
        <th><%= School.human_name %></th>
        <th><%= t "views.location" %></th>
        <th><%= School.human_attribute_name :state %></th>
        <% if @contest.phase == "recall" or @contest.phase == "validation" %><th class="middle">Umfragen &nbsp </th><% end %>
        <th class="middle">Teilnahmewahrscheinlichkeit</th>
        <th class="middle">Aktionen</th>
      </tr>
    </thead>
    <tbody>
      <% preliminary_contestants.each do |prelim| %>
       <tr class="preliminary_contestant <%= prelim.school.state.downcase %>">
        <td><%= prelim.name %></td>
        <td><%= prelim.school.name %></td>
        <td><%= prelim.school.location %></td>
        <td><%= prelim.school.state %></td>
        <% if @contest.phase == "recall" or @contest.phase == "validation" %>
          <td class="middle"><% if prelim.survey_tokens.empty? %>
              <%= image_tag "state/warning.png", :class => 'tooltipped', :title => "Keine Umfragemöglichkeiten!" %>
            <% else %>
              <% if prelim.survey_tokens.all?{|st| st.complete?} %>
                <%= image_tag "state/ok.png", :class => 'tooltipped', :title => "Alle (#{prelim.survey_tokens.count}) Umfragen beantwortet" %>
              <% else %>
                <% f = prelim.survey_tokens.select{|st| st.complete?} %>
                <%= image_tag "state/attention.png", :class => "tooltipped", :title => "Es wurden #{f.length} von #{prelim.survey_tokens.count} Umfragen abgeschlossen" %>
              <% end %>
            <% end %>
          </td>
        <% end %>
        <td class="middle"><%= show_probability prelim.participation_probability %></td>
        <td style="text-align:center"><%= link_to image_tag("actions/show.png"), contest_preliminary_contestant_url(@contest,prelim) %></td>
       </tr>
      <% end %>
      </tbody>
 </table> 
