<% preliminary_contestants = preliminary_contestants || @preliminary_contestants %>
<table class="tablesorter data-table" id="preliminary_contestants">
    <thead>
      <tr>
        <th><%= t "views.name" %></th>
        <th><%= School.human_name %></th>
        <th><%= t "views.location" %></th>
        <th><%= School.human_attribute_name :state %></th>
        <th class="middle">Teilnahmewahrscheinlichkeit</th>
        <% show_to :administrator do %><th>Aktionen</th><% end %>
      </tr>
    </thead>
    <tbody>
      <% preliminary_contestants.each do |prelim| %>
       <tr class="preliminary_contestant <%= prelim.school.state.downcase %>">
        <td><%= prelim.name %></td>
        <td><%= prelim.school.name %></td>
        <td><%= prelim.school.location %></td>
        <td><%= prelim.school.state %></td>
        <td class="middle"><%= show_probability prelim.participation_probability %></td>
        <% show_to :administrator do %><td style="text-align:center"><%= link_to image_tag("actions/show.png"), contest_preliminary_contestant_url(@contest,prelim) %></td><% end %>
       </tr>
      <% end %>
      </tbody>
 </table> 
