<% preliminary_contestants = preliminary_contestants || @preliminary_contestants %>
<% show_surveys = @season.surveys_visible? %>
<table class="tablesorter data-table" id="preliminary_contestants">
    <thead>
      <tr>
        <th><%= t "views.name" %></th>
        <th><%= School.human_name %></th>
        <th><%= t "views.location" %></th>
        <th><%= School.human_attribute_name :state %></th>
        <% if show_surveys %><th class="middle">Umfragen &nbsp </th><% end %>
        <% if @season.participation_confirmation_allowed? %>
          <th class="middle">Teilnahme</th>
        <% else %>
          <th class="middle">Teilnahmewahrscheinlichkeit</th>
        <% end %>
        <th class="middle">Aktionen</th>
      </tr>
    </thead>
    <tbody>
      <% preliminary_contestants.each do |prelim| %>
       <tr class="preliminary_contestant <%= prelim.school.state.downcase %>">
         <td><span class="tooltipped"><%= prelim.name %></span><% show_to :administrator do %><div class="tooltip" style="margin-top:-10px; margin-left: 200px; width: 600px"><%= render :partial => 'team', :locals => {:preliminary_contestant => prelim} %></div><% end %></td>
        <td><%= prelim.school.name %></td>
        <td><%= prelim.school.location %></td>
        <td><%= prelim.school.state %></td>
        <% if show_surveys %>
          <% tokens = prelim.survey_tokens.select{|st| st.allowed_for? @current_user} %>
          <td class="middle">
           <% if tokens.empty? %>
             <% show_to :administrator do %>
              <%= image_tag "state/warning.png", :class => 'tooltipped', :title => "Keine Umfragemöglichkeiten!" %>
             <% end %>
           <% else  %>
              <% if tokens.all?{|st| st.complete?} %>
                <%= image_tag "state/ok.png", :class => 'tooltipped', :title => "Alle (#{tokens.count}) Umfragen beantwortet" %>
              <% else %>
                <% f = tokens.select{|st| st.complete?} %>
                <%= image_tag "state/attention.png", :class => "tooltipped", :title => "Es wurden #{f.length} von #{tokens.count} Umfragen abgeschlossen" %>
              <% end %>
            <% end %>
          </td>
        <% end %>
        <% if @season.participation_confirmation_allowed? %>
          <td class="middle">
            <% if prelim.participation_confirmed %>
              <% if prelim.contestant %>
                <%= image_tag "state/ok.png", :title => "Verbindlich angemeldet und erfolgreich übernommen." %>
              <% else %>
                <%= image_tag "state/attention.png", :title => "Verbindlich angemeldet, wartet auf Bearbeitung durch einen Administrator." %>
              <% end %>
            <% else %>
              <% if @current_user and @current_user.has_role?(:creator, prelim) or administrator? %>
                <span title="Jetzt verbindlich anmelden">
                  <%= link_to image_tag("actions/unchecked.png"), [:confirm_participation, @season, prelim], :method => :post, :confirm => "Wollen Sie das Team #{prelim.name} der #{prelim.school.name} wirklich verbindlich anmelden?" %>
                </span>
              <% else %>
                <%= image_tag "state/warning.png" %>
              <% end %>
              <% if administrator? %>
                <span title="Jetzt zwangsanmelden">
                  <%= link_to image_tag("actions/unchecked-force.png"), [:force_participation, @season, prelim], :method => :post, :confirm => "Wollen Sie das Team #{prelim.name} der #{prelim.school.name} wirklich verbindlich anmelden?" %>
                </span>
              <% end %>
            <% end %>
          </td>
        <% else %>
          <td class="middle"><%= show_probability prelim.participation_probability %></td>
        <% end %>
        <td style="text-align:center"><%= link_to image_tag("actions/show.png"), season_preliminary_contestant_url(@season,prelim) %></td>
      </tr>
      <% end %>
      </tbody>
  </table>
  <% show_to :administrator do %>  
    <div style="height: 400px;"></div>
  <% end %>
