<h1>
  <%= link_to @contest.name, contest_url(@contest)%> /
  Voranmeldungen: Teams
</h1>

<% tabnav :contest do %>
 <% show_to :administrator do %><div style="margin-bottom: 20px; font-weight: bold"><%= t "views.teams_registered", :teams => "<span id='teams_count'>#{@preliminary_contestants.count}</span>", :schools_without_teams => "<span id='schools_without_teams'>#{@schools_without_teams.count}</span>", :total => "<span id='total'>#{@total_count}</span>" %></div> 

  <div id="filter">
    <% states = [["Alle","all"]] %>
    <% @preliminary_contestants.each do |p| %>
       <% states |= [[p.school.state, p.school.state.downcase]] %>
    <% end %>
    <% states.sort!{|a,b| a.first <=> b.first } %>
    Anzeige auf Bundesland beschränken: <%= select_tag "select_state",options_for_select(states) %>
  </div>
 <% end %>

 <%= render :partial => "list", :locales => {:preliminary_contestants => @preliminary_contestants}%>
<% end %>

<% javascript_tag do %>
 <% show_to :administrator do %>
  var total_team_count = <%= @preliminary_contestants.count %>
  var total_schools_without_teams_count = <%= @schools_without_teams.count %>
  var schools_without_teams_in_states = <%= @schools_without_teams_in_states.to_json.html_safe %>
  var teams_in_states = <%= @preliminary_contestants_in_states.to_json.html_safe %>
  $("#preliminary_contestants").tablesorter({
    headers: {
      6: { sorter: false }
    }
   })  
 
  $("#select_state").change(function(){
   var new_state = $("#select_state option:selected").val()
   if(new_state == "all"){
     $(".preliminary_contestant").show()
     $("#teams_count").html(total_team_count)
     $("#schools_without_teams").html(total_schools_without_teams_count)
     $("#total").html(total_team_count + total_schools_without_teams_count)
   }else{
     $(".preliminary_contestant").hide()
     $("."+new_state).show()
     $("#schools_without_teams").html(schools_without_teams_in_states[new_state] || 0)
     $("#teams_count").html(teams_in_states[new_state])
     $("#total").html(teams_in_states[new_state] + (schools_without_teams_in_states[new_state]||0) )
   }
  })
 <% end %>
<% end %>
