<h1>
  <%= link_to @season.name, season_schools_url(@season) %> /
  <%= link_to @school.name, season_school_url(@season, @school) %> /
  Teams anmelden
</h1>

<% tabnav :school do %>
  <div class="group frame">
    <div class="group title">
      <%= t("views.new_team_notes") %>
    </div>
    <div class="group content">
      <p>
        <%= t("views.new_team_note_1") %>
      </p>
      <p class="gap">
        <%= t("views.new_team_note_2") %>
      </p>
    </div>
    <div class="group title">
      <p><%= t "views.new_team_name.title" %></p>
    </div>
    <div class="group content">
      <p><%= t "views.new_team_name.description.title" %>:</p>
      <div style="font-style: italic; margin: 5px;"><%= t "views.new_team_name.description.schema" %></div>
      <p><%= t "views.new_team_name.description.length", :length => 24 %></p>
      <p><%= t "views.new_team_name.description.shorten" %></p>
    </div>
  </div>
  <h2 class="medium-gap"><%= t("views.new_team_registered") %></h2>
  <%= render :partial => "teams" %> 
  <h2 class="huge-gap"><%= t("views.new_team") %></h2>
  <%= render :partial => "teams_header" %>
    <%= render :partial => "form", :locals => {:team => @team} %>
    </tbody>
  </table>
  <% javascript_tag do %>
    function reload_teams() {
      $.get('<%= get_teams_season_school_url(@season, @school) %>',
        '',
        function(data) {
          $("#teams").html(data)
        }
      )
    }

    function reload_team(team_id, team_url) {
      $.get(team_url,
        '',
        function(data) {
          $("#entry_"+team_id).replaceWith(data)
        }
      )
    }
  <% end %>  
<% end %>
