<h1>
  <%= link_to @contest.name, contest_url(@contest) %> /
  <%= link_to @school.name, contest_school_url(@contest, @school) %> /
  Teams anmelden
</h1>

<% tabnav :school do %>
  <div class="group frame">
    <div class="group title">
      Hinweise zur Anmeldung
    </div>
    <div class="group content">
      <p>
      Hier können Sie Teams für die ausgewählte Schule anmelden. Bis zum Abschluss der Anmeldungsphase können Sie
      hier auch jederzeit die Einstellungen der Teams, die Sie bereits angemeldet haben, ändern.
      Auch Teams, die von anderen Personen für diese Schule angemeldet wurden, können Sie hier sehen (allerdings nicht verändern). Versuchen Sie bitte, die Einstellungen für die angemeldeten Teams immer möglichst aktuell zu halten.
      </p>
      <p class="gap">
      Wenn Sie alle Teams angemeldet haben, können Sie diese Seite wieder verlassen. Die vorläufige Anmeldung ist damit abgeschlossen.
      </p>
    </div>
  </div>
  <h2 class="medium-gap">Angemeldete Teams</h2>
  <%= render :partial => "teams" %> 
  <h2 class="huge-gap">Neues Team anmelden</h2>
  <%= render :partial => "teams_header" %>
    <%= render :partial => "form", :locals => {:team => @team} %>
    </tbody>
  </table>
  <% javascript_tag do %>
    function reload_teams() {
      $.get('<%= get_teams_contest_school_url(@contest, @school) %>',
        '',
        function(data) {
          $("#teams").html(data)
        }
      )
    }
  <% end %>  
<% end %>
