<h1>
  <%= link_to @contest.name, contest_url(@contest) %> /
  <%= link_to @school.name, contest_school_url(@contest, @school) %> /
  Teams anmelden
</h1>

<% tabnav :school do %>
  <div class="group frame">
    <div class="group title">
      <%= t("views.new_team_notes") %>
    </div>
    <div class="group content">
      <p>
        <%= t("views.new_team_note_1") %>
      </p>
      <p class="gap">
        <%= t("views.new_team_note_2") %>
      </p>
    </div>
  </div>
  <h2 class="medium-gap"><%= t("views.new_team_registered") %></h2>
  <%= render :partial => "teams" %> 
  <h2 class="huge-gap"><%= t("views.new_team") %></h2>
  <%= render :partial => "teams_header" %>
    <%= render :partial => "form", :locals => {:team => @team} %>
    </tbody>
  </table>
  <% javascript_tag do %>
    function reload_teams() {
      $.get('<%= get_teams_contest_school_url(@contest, @school) %>',
        '',
        function(data) {
          $("#teams").html(data)
        }
      )
    }

    function reload_team(team_id, team_url) {
      $.get(team_url,
        '',
        function(data) {
          $("#entry_"+team_id).replaceWith(data)
        }
      )
    }
  <% end %>  
<% end %>
