<div id="actions">
  <% link_to new_season_school_preliminary_contestant_url(@season,@school) do %>
    <%= image_tag "actions/add.png" %> Anmeldungen bearbeiten
  <% end %>
  <% show_to :administrator do %>
    <% link_to season_school_preliminary_contestant_url(@season,@school,@preliminary_contestant), :method => :delete, :confirm => "Sind Sie wirklich sicher?" do %>
      <%= image_tag "actions/destroy.png" %> Anmeldung entfernen 
    <% end %>
  <% end %>
</div>
<h1>
  <%= link_to @season.name, @season %> /
  <%= link_to @school.name, [@season, @school] %> /
  <%= @preliminary_contestant.name %>
</h1>

<% tabnav :school do %>
  <div class="group frame">
    <div class="group title">
      Informationen
    </div>
    <div class="group content">
      <div class="listing bold">
        <ol>
          <%= list_item_for(@preliminary_contestant, :name) %>
          <%= list_item("Erstellt von", @preliminary_contestant.person.name) %>
          <%= list_item("Erstellt am", l(@preliminary_contestant.created_at)) %>
          <%= list_item("Zugehörige Schule", link_to(@preliminary_contestant.school.name, [@season,@preliminary_contestant.school])) %>
          <%= list_item_for(@preliminary_contestant.school, :location)%>
          <%= list_item_for(@preliminary_contestant.school, :state) %>
          <% if @season.validation? %>
            <% if @preliminary_contestant.participation_confirmed %>
              <%= list_item "Verbindliche Teilnahme", image_tag("state/ok.png") %>
            <% else %>
              <% if @current_user and @current_user.has_role?(:creator, @preliminary_contestant) %>
                <%= list_item "Verbindliche Teilnahme", image_tag("state/warning.png")+link_to("(jetzt verbindlich anmelden)", [:confirm_participation, @season, @preliminary_contestant], :method => :post, :confirm => "Wollen Sie das Team #{@preliminary_contestant.name} der Schule #{@preliminary_contestant.school.name} wirklich verbindlich anmelden?") %>
              <% else %>
                <%= list_item "Verbindliche Teilnahme", image_tag("state/warning.png") %>
              <% end %>
            <% end %>
          <% else %>
            <%= list_item "Teilnahmewahrscheinlichkeit", @preliminary_contestant.participation_probability %>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
<% end %>
