<div id="actions">
  <% link_to new_season_school_preliminary_contestant_url(@season,@school) do %>
    <%= image_tag "actions/add.png" %> Anmeldungen bearbeiten
  <% end %>
  <% show_to :administrator do %>
    <% link_to season_school_preliminary_contestant_url(@season,@school,@preliminary_contestant), :method => :delete, :confirm => "Sind Sie wirklich sicher?" do %>
      <%= image_tag "actions/destroy.png" %> Anmeldung entfernen 
    <% end %>
  <% end %>
</div>
<h1>
  <%= link_to @season.name, @season %> /
  <%= link_to @school.name, [@season, @school] %> /
  <%= @preliminary_contestant.name %>
</h1>
<% tabnav :school do %>
  <div class="group frame">
    <%= render :partial => 'team', :locals => {:preliminary_contestant => @preliminary_contestant} %>
  </div>
<% end %>
