<h1>Editing contestant</h1>

<% form_for([@contest, @contestant]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :contest_id %><br />
    <%= @contestant.contest.name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', contest_contestants_url(@contest, @contestant) %> |
<%= link_to 'Back', contest_contestants_path(@contest) %>