<h1>Alle Teilnehmer</h1>

<table>
  <tr>
    <th>Teilnehmer</th>
    <th>in Wettbewerb</th>
  </tr>

<% @contestants.each do |contestant| %>
  <tr>
    <td><%=h contestant.name %></td>
    <td><%=h contestant.contest_id %></td>
    <td><%= link_to 'Show', contestant %></td>
    <td><%= link_to 'Edit', edit_contestant_path(contestant) %></td>
    <td><%= link_to 'Destroy', contestant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contestant', new_contestant_path %>