<div id="actions">
  <% if may_add_teams? -%>
    <% unless @contest.ready? %>
      <% link_to new_contest_contestant_url do %>
        <%= image_tag('actions/add.png') %>Neues <%= Contestant.human_name %>
      <% end %>
    <% end %>
  <% end %>
</div>

<h1>
  <%= @contest.name %>
</h1>

<% tabnav :contest do %>
  <table class="data-table">
    <thead>
      <tr>
        <th>Team</th>
        <th>Mitglieder</th>
      </tr>
    </thead>

    <% @contest.contestants.each do |contestant| %>
      <tr>
        <td><%= contestant.name %></td>
        <td><%= contestant.people.count %></td>
        <td><%= link_to image_tag('actions/show.png'), [:contest, contestant] %></td>
      </tr>
    <% end %>
  </table>
<% end %>
