<html>
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
      th {
        text-align: left;
      }
    </style>
  </head>
  <body>
<h2> 
 <%= @contest.name %>
</h2>

  <h3><%= t("views.contestants_participating", :teams => @contest.contestants.visible.without_testers.ranked.count, :members => @contest.overall_member_count) %></h3>
  <% rankings = Contestant::RANKINGS.clone %>
  <% rankings.delete("none") %>
  <% rankings.each do |ranking| %>
  <% contestants = @contestants.find_all{|c| c.ranked? and c.ranking == ranking} %>
  <% if contestants.count > 0 %>
  <h3><%= t("views.ranking.#{ranking}") %></h3>
  <table class="data-table">
    <thead>
      <tr>
        <th><%= Contestant.human_attribute_name :location %></th>
        <th><%= Contestant.human_name %></th>
        <th><%= t "acl9.roles.contestant.teacher" %></th>
        <th><%= t "acl9.roles.contestant.tutor" %></th>
        <th style="text-align:center"><%= t "acl9.roles.contestant.pupils" %></th>
        <th colspan="2">&nbsp;<!-- options --></th>
        
      </tr>
    </thead>
    <% contestants.each do |contestant| %>
      <tbody>
      <tr>
        <td><%= contestant.location %></td>
        <td><%= contestant.disqualified ? "<i>[#{t "views.disqualified"}]</i>".html_safe! : "" %> <%= contestant.name %></td> 
        <td><%= contestant.people.visible.teachers.collect(&:name).to_sentence %></td>
        <td><%= contestant.people.visible.tutors_and_helpers.collect{|t| "#{t.name} #{t.is_helper_for?(contestant) ? "*" : ""}"}.to_sentence %></td>
        <td style="text-align: center"><%= contestant.overall_member_count %></td>
      </tr>
     </tbody>
    <% end %>
  </table>
  <% end %>
  <% end %>

  <% unranked = @contestants.find_all{|c| !c.ranked?} %>
  <% if unranked.count > 0 %>
  <br>
  <h2><%= t("views.ranking.none") %></h2>
  <table class="data-table">
    <thead>
      <tr>
        <th><%= Contestant.human_attribute_name :location %></th>
        <th><%= Contestant.human_name %></th>
        <th><%= t "acl9.roles.contestant.teacher" %></th>
        <th><%= t "acl9.roles.contestant.tutor" %></th>
        <th style="text-align:center"><%= t "acl9.roles.contestant.pupils" %></th>
        <th colspan="2">&nbsp;<!-- options --></th>
      </tr>
    </thead>

    <% unranked.each do |contestant| %>
      <tr>
        <td><%= contestant.location %></td>
        <td><%= contestant.disqualified ? "<i>[#{t "views.disqualified"}]</i>".html_safe! : "" %> <%= contestant.name %></td> 
        <td><%= contestant.people.visible.teachers.collect(&:name).to_sentence %></td>
        <td><%= contestant.people.visible.tutors_and_helpers.collect{|t| "#{t.name} #{t.is_helper_for?(contestant) ? "*" : ""}"}.to_sentence %></td>
        <td style="text-align: center"><%= contestant.overall_member_count %></td>
          </tr>  
        <% end %>
      </table>
    </div>
  <% end %>
</body>
</html>
