<div id="actions">
  <% if may_add_teams? -%>
    <% unless @contest.ready? %>
      <% link_to new_contest_contestant_url do %>
        <%= image_tag('actions/add.png') %> <%= I18n.t("views.new") + " " + Contestant.human_name %>
      <% end %>
    <% end %>
  <% end %>
</div>

<h1>
  <%= @contest.name %>
</h1>

<% tabnav :contest do %>
  <table class="data-table">
    <thead>
      <tr>
        <th><%= Contestant.human_attribute_name :location %></th>
        <th><%= Contestant.human_name %></th>
        <th><%= t "views.members" %></th>
        <th><%= t "acl9.roles.contestant.teacher" %></th>
        <th><%= t "acl9.roles.contestant.tutor" %></th>
        <th colspan="2">&nbsp;<!-- options --></th>
      </tr>
    </thead>

    <% @contestants.each do |contestant| %>
      <tr>
        <td><%= contestant.location %></td>
        <td><%= contestant.name %></td>
        <td><%= contestant.people.visible.count %></td>
        <td><%= contestant.people.visible.teachers.collect(&:name).to_sentence %></td>
        <td><%= contestant.people.visible.tutors.collect(&:name).to_sentence %></td>
        <td>
          <% if may_see_details? :contestant => contestant -%>
          <%= link_to image_tag('actions/show.png'), [:contest, contestant] %>
          <% end -%>
        </td>
        <td>
          <% show_to :administrator do -%>
            <% unless @contest.ready? %>
              <% delete_image = image_tag "actions/delete.png", :title => I18n.t("actions.delete") %>
              <%= link_to delete_image, url_for(:action => :hide, :id => contestant.to_param), :confirm => I18n.t("messages.confirm_hiding", :name => contestant.name) %>
            <% end -%>
          <% end -%>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
