<div id="actions">
  <% link_to :action => :index, :format => :pdf do %>
    <%= image_tag('actions/pdf.png') %> <%= t "views.pdf_export" %>
  <% end %>
  <% if may_add_teams? -%>
    <% if @context.is_a? Season or not @contest.ready? %>
      <% link_to :action => :new do %>
        <%= image_tag('actions/add.png') %> <%= I18n.t("views.new") + " " + Contestant.human_name %>
      <% end %>
    <% end %>
  <% end %>
</div>

<h1>
  <% if @context.is_a? Contest %>
    <% if @season %><%= link_to @season.name, @season %> / <% end %>
    <%= @context.name %>
  <% else %>
    <%= link_to @context.name, @context %>
  <% end %> /
  <%= Contestant.human_name :count => 2 %>
</h1>

<% tabnav @context.class.to_s.downcase.to_sym do %>
  <h2><%= t("views.contestants_participating", :teams => @context.contestants.visible.without_testers.ranked.count, :members => @context.overall_member_count) %></h2>
  <%= "* #{t ("views.tutors_with_asterisk_note")}" %>
  <% rankings = Contestant::RANKINGS.clone %>
  <% rankings.delete("none") %>
  <% rankings.each do |ranking| %>
  <% contestants = @contestants.find_all{|c| c.ranked? and c.ranking == ranking} %>
  <% if contestants.count > 0 %>
  <h2><%= t("views.ranking.#{ranking}") %></h2>
  <table class="data-table">
    <thead>
      <tr>
        <th><%= Contestant.human_attribute_name :location %></th>
        <th><%= Contestant.human_name %></th>
        <th><%= t "acl9.roles.contestant.teacher" %></th>
        <th><%= t "acl9.roles.contestant.tutor" %></th>
        <th><%= t "acl9.roles.contestant.pupils" %></th>

        <% show_to :administrator do %>
          <th><%= t "views.testing_status" %></th> 
        <% end %>
        <th colspan="2">&nbsp;<!-- options --></th>
        
      </tr>
    </thead>

    <% contestants.each do |contestant| %>
      <tr>
        <td><%= contestant.location %></td>
        <td><%= contestant.disqualified ? "<i>[#{t "views.disqualified"}]</i>".html_safe! : "" %> <%= contestant.name %></td> 
        <td><%= contestant.people.visible.teachers.collect(&:name).to_sentence %></td>
        <td><%= (contestant.people.visible.helpers.map{|p| "#{p.name}*"} + contestant.people.visible.tutors.map{|p| p.name}).to_sentence %></td>
        <td style="text-align: center">
          <% if not current_user.nil? and current_user.has_role?(:administrator) %>
            <% show_ovrl_member_count_edit = true %>
            <a href="#" id="change_ovrl_mem_count_<%= contestant.id %>"><%= contestant.overall_member_count %></a>
            <span id="change_ovrl_mem_count_edit_<%= contestant.id %>" style="display: none">
              <%= text_field_tag "mem_count_#{contestant.id}", contestant.overall_member_count, :size => 2 %>
              <a href="#" id="submit_ovrl_mem_count_<%= contestant.id %>"><%= t("actions.save") %></a>
            </span>
          <% else %>
            <%= contestant.overall_member_count %>
          <% end %>
        </td>

        <% if show_ovrl_member_count_edit %>
          <% javascript_tag do %>
            $(function() {
              $("a#change_ovrl_mem_count_<%= contestant.id %>").bind('click', function() {
                $("a#change_ovrl_mem_count_<%= contestant.id %>").hide();
                $("span#change_ovrl_mem_count_edit_<%= contestant.id %>").show(250);
                return false;
              })
  
              $("a#submit_ovrl_mem_count_<%= contestant.id %>").bind('click', function() {
                $("span#change_ovrl_mem_count_edit_<%= contestant.id %>").hide();
                $("a#change_ovrl_mem_count_<%= contestant.id %>").show(250);
                $.get("<%= if @context.is_a? Contest then set_and_get_overall_member_count_contest_contestant_url(@context, contestant) else set_and_get_overall_member_count_season_contestant_url(@context, contestant) end %>",
                  "id=<%= contestant.id %>&count=" + $("input#mem_count_<%= contestant.id %>").val(),
                  function(returned_data) {
                    if (returned_data == "-1") {
                      $("a#change_ovrl_mem_count_<%= contestant.id %>").html("Error");
                    } else {
                      $("a#change_ovrl_mem_count_<%= contestant.id %>").html(returned_data);
                    } 
                  } 
                )
                return false;
              })
            })
          <% end %>
        <% end %>

        <% show_to :administrator do -%>
          <td style="text-align: center">
            <% if contestant.current_client.nil? %>
              <%= image_tag "state/warning.png", :title => I18n.t("views.client_not_handed_in"), :class=> "tooltipped" %>
            <% elsif contestant.current_client.ok? %>
              <%= image_tag "state/ok.png", :title => contestant.current_client.created_at.strftime("%d.%m.%Y") + " - " + I18n.t("views.client_ok"), :class=> "tooltipped" %>
            <% else %>
              <%= image_tag "state/attention.png", :title => contestant.current_client.created_at.strftime("%d.%m.%Y") + " - " + I18n.t("views.client_failed"), :class=> "tooltipped" %>
            <% end %> 
          </td>
        <% end %>
        <td>
          <% if may_see_details? :contestant => contestant -%>
          <%= link_to image_tag('actions/show.png'), [@context, contestant] %>
          <% end -%>
        </td>
        <td>
          <% show_to :administrator do -%>
            <% if (@context.is_a?(Contest) ? !@context.ready? : @context.contests.any?{|c| c.ready?}) %>
              <% delete_image = image_tag "actions/delete.png", :title => I18n.t("actions.delete"), :class=> "tooltipped" %>
              <%= link_to delete_image, [:hide, @context, contestant], :confirm => I18n.t("messages.confirm_hiding", :name => contestant.name) %>
            <% elsif not contestant.disqualified %>
              <% delete_image = image_tag "actions/delete.png", :title => I18n.t("actions.disqualify"), :class=> "tooltipped" %>
              <%= link_to delete_image, [:hide, @context, contestant], :confirm => I18n.t("messages.confirm_contestant_disqualify_during_contest", :name => contestant.name) %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <% end %>
  <% end %>

  <% unranked = @contestants.find_all{|c| !c.ranked?} %>
  <% if unranked.count > 0 %>
  <br>
  <h2><%= t("views.ranking.none") %></h2>
  <table class="data-table">
    <thead>
      <tr>
        <th><%= Contestant.human_attribute_name :location %></th>
        <th><%= Contestant.human_name %></th>
        <th><%= t "acl9.roles.contestant.teacher" %></th>
        <th><%= t "acl9.roles.contestant.tutor" %></th>
        <th><%= t "acl9.roles.contestant.pupils" %></th>
        <% show_to :administrator do %>
          <th><%= t "views.testing_status" %></th> 
        <% end %>
        <th colspan="2">&nbsp;<!-- options --></th>
      </tr>
    </thead>

    <% unranked.each do |contestant| %>
      <tr>
        <td><%= contestant.location %></td>
        <td><%= contestant.disqualified ? "<i>[#{t "views.disqualified"}]</i>".html_safe! : "" %> <%= contestant.name %></td> 
        <td><%= contestant.people.visible.teachers.collect(&:name).to_sentence %></td>
        <td><%= contestant.people.visible.tutors_and_helpers.collect{|t| "#{t.name} #{t.is_helper_for?(contestant) ? "*" : ""}"}.to_sentence %></td>
        <td style="text-align: center"><%= contestant.overall_member_count %></td>
        <% show_to :administrator do -%>
          <td style="text-align: center">
            <% if contestant.current_client.nil? %>
              <%= image_tag "state/warning.png", :title => I18n.t("views.client_not_handed_in", :class=> "tooltipped") %>
            <% elsif contestant.current_client.ok? %>
              <%= image_tag "state/ok.png", :class=> "tooltipped", :title => contestant.current_client.created_at.strftime("%d.%m.%Y") + " - " + I18n.t("views.client_ok") %>
            <% else %>
              <%= image_tag "state/attention.png", :class=> "tooltipped", :title => contestant.current_client.created_at.strftime("%d.%m.%Y") + " - " + I18n.t("views.client_failed") %>
            <% end %> 
          </td>
        <% end %>
        <td>
          <% if may_see_details? :contestant => contestant -%>
          <%= link_to image_tag('actions/show.png'), [@contest, contestant] %>
          <% end -%>
        </td>
        <td>
          <% show_to :administrator do -%>
            <% unless contestant.disqualified? %>
              <% delete_image = image_tag "actions/delete.png", :class=> "tooltipped", :title => I18n.t("actions.delete") %>
              <%= link_to delete_image, hide_contest_contestant_url(@contest, contestant), :confirm => I18n.t("messages.confirm_hiding", :name => contestant.name) %>
            <% else %>
              <% undo_image = image_tag "actions/undo.gif", :class=> "tooltipped", :title => I18n.t("actions.requalify") %>
              <%= link_to undo_image, unhide_contest_contestant_url(@contest, contestant), :confirm => I18n.t("messages.confirm_contestant_requalify_during_contest", :name => contestant.name) %>
            <% end %>
          <% end %>
        </td>
      </tr>  
    <% end %>
  </table>
  <% end %>

  <% hidden_contestants = @context.contestants.hidden.without_testers %>
  <% if administrator? and hidden_contestants.count > 0 %>
    <br>
    <h2><%= t("views.hidden_teams") %></h2>
    <a href="#" id="show_hidden_contestants"><%= t "actions.show_hidden" %></a>
    <% javascript_tag do %>
      $(function() {
        $("a#show_hidden_contestants").bind('click', function() {
          $("a#show_hidden_contestants").hide();
          $("div#hidden_contestants").fadeIn(250);
          return false;
        })
      })
    <% end %>
    <div id="hidden_contestants" style="display: none">
      <table class="data-table">
        <thead>
          <tr>
            <th><%= Contestant.human_attribute_name :location %></th>
            <th><%= Contestant.human_name %></th>
            <th><%= t "acl9.roles.contestant.teacher" %></th>
            <th><%= t "acl9.roles.contestant.tutor" %></th>
            <th><%= t "acl9.roles.contestant.pupils" %></th>
            <th colspan="2">&nbsp;<!-- options --></th>
          </tr>
        </thead>

        <% hidden_contestants.each do |contestant| %>
          <tr>
            <td><%= contestant.location %></td>
            <td><%= contestant.disqualified ? "<i>[#{t "views.disqualified"}]</i>".html_safe! : "" %> <%= contestant.name %></td> 
            <td><%= contestant.people.visible.teachers.collect(&:name).to_sentence %></td>
            <td><%= contestant.people.visible.tutors_and_helpers.collect{|t| "#{t.name} #{t.is_helper_for?(contestant) ? "*" : ""}"}.to_sentence %></td>
            <td style="text-align: center"><%= contestant.overall_member_count %></td>
            <td>
              <% if may_see_details? :contestant => contestant -%>
                <%= link_to image_tag('actions/show.png'), [@context, contestant] %>
              <% end -%>
            </td>
            <td>
              <% show_to :administrator do -%>
                <% undo_image = image_tag "actions/undo.gif", :title => I18n.t("actions.unhide"), :class=> "tooltipped" %>
                <%= link_to undo_image, [:unhide, @context, contestant], :name => contestant.name %>
              <% end %>
            </td>
          </tr>  
        <% end %>
      </table>
    </div>
  <% end %>
<% end %>
