<%= javascript_include_tag 'markdown/jquery.markedit.js', 'markdown/showdown.js' %>
<%= stylesheet_link_tag 'markdown/jquery.markedit.css' %>

<div id="actions">
  <a href="#" id="edit"><%= image_tag "actions/edit_lrg.png"%> Protokoll bearbeiten</a>
</div>

<h1>
  <% if @season and not @context.is_a? Season%><%= link_to @season.name, @season %> / <% end %>
  <%= link_to @context.name, @context %> / 
  <%= @contestant.name %> / 
  <%= t("views.contestant_report") %>
</h1>
<% tabnav :contestant do %>
  <h2>Bericht für: <%= @contestant.name %></h2>
  <div id="report_show">
    <% unless @contestant.report.nil? or @contestant.report.empty? %>
      <% last_event = @contestant.report_events.last %>
      <% if last_event %>
        <div style="font-style: italic; margin-bottom: 5px;">zuletzt bearbeitet am <%= l last_event.updated_at.to_date %> durch <%= link_to last_event.person.name, last_event.person %></div>
      <% end %>
      <div style="margin-left: 15px;"><%= BlueCloth.new(@contestant.report).to_html.html_safe %></div>
    <% else %>
      Bisher wurde noch kein Bericht erstellt.
    <% end %>
  </div>
  <% form_for [:update_report, @context, @contestant] do |f| %>
    <div style="margin-top: 20px">
      <%= f.text_area :report %>
    </div>
    <div style="margin-top: 15px">
      <%= f.submit "Report speichern"%>
    </div>
  <% end %>

  <div style="margin-top: 30px; margin-bottom: 30px;">
  <h3>Änderungsgeschichte</h3>
    <ul style="margin-left: 30px;">
      <% @contestant.report_events.each do |e| %>
        <li><b><%= l e.created_at, :format => :short %><%= " bis #{e.updated_at.strftime("%H:%m")} Uhr" if e.updated_at > e.created_at %></b> - <%= e.person.name %></li>
      <% end %>
    </ul>
  <% javascript_tag do %>
    $(function() {
      $("#edit").bind("click", function(){
        $("#report_show").hide();      
        $(".edit_contestant").show();
        return false;
      })

      $("#contestant_report").css('width', '100%').markedit({'preview' : 'below'})
      $(".edit_contestant").hide();
    });
  <% end %>
<% end %>
