<div id="actions">
  <% if logged_in? %>
    <% if current_user.administrator? %>
      <%= link_to image_tag('actions/settings.png'), edit_contest_contestant_path(@contest, @contestant) %>
    <% end %>
    <% if current_user.administrator? or current_user.contestants.exists?(@contestant) %>
      <%= link_to "Computerspieler", contestant_clients_url(@contestant) %>
    <% end %>
  <% end %>
</div>

<h1>
  <%= link_to h(@contest.name), @contest %> /
  <%=h @contestant.name %>
</h1>

<h2>Matches</h2>

<table>
  <tr style="display: none;">
    <th>Spieler 1</th>
    <th>&nbsp;</th>
    <th>Spieler 2</th>
    <th>Ergebnis</th>
  </tr>
  <%= render :partial => "matchdays/match", :collection => @contestant.matches %>
</table>

<% if logged_in? and current_user.administrator? %>

  <h2>Benutzer</h2>

  <table>
    <tr style="display: none;">
      <th>Name</th>
      <th>Rolle</th>
    </tr>
    <% @contestant.people.each do |person| %>
      <tr>
        <td><%=h person.name %></td>
        <td>(<%= role_for(person, @contestant) %>)</td>
      </tr>
    <% end %>
  </table>
<% end %>

