<h1>Administration</h1>

<% tabnav :administration do %>
  <h2>Alle Freundschaftsspiele</h2>

  
  <table style="width: 100%">
    <colgroup style="width: 40%"></colgroup>
    <colgroup style="width: 40%"></colgroup>
    <colgroup style="width: 20%"></colgroup>
    <thead style="text-align: left">
      <th><%= t("views.challenger") %></th>
      <th><%= t("views.challenged_one") %></th>
      <th><%= t("views.status") %></th>
    </thead>
    <% @encounters.each do |enc| %>
      <tr>
        <td><%= enc.slots.first.contestant.name %></td>
        <td>
          <% if enc.played? or enc.ready? %> 
            <%= enc.slots.second.contestant.name %>
          <% else %>
            <%= encounter_open_for_str(enc) %>
          <% end %>
        </td>
        <td><%= encounter_status(enc, :spinner => false, :with_result => true) %></td>
      </tr>
    <% end %> 
  </table>
<% end %>
