<% form_for :ft, :url => contest_fake_test_suites_url(@contest) do |f| %>
    <% clients = @contest.contestants.map{|c| c.clients}.flatten.uniq %>
    <% clients = clients.sort_by{|c| [c.contestant.name,c.created_at] }.collect{|c| [get_readable_client_name(c),c.id]} %>
    <%= f.label :name, "Name:" %><%= f.text_field :name %>
    <%= f.label :description, "Beschreibung:"%><%= f.text_area :description , :cols => "50", :rows => "5"%><br><br>
    <% if local_assigns[:client] %>
      <% hidden_field_tag f, "client_id", client.id %>
    <% else %>
     <%= select "ft", "client_id", clients %><br>
      gegen 
    <% end %><br>
    <%= hidden_field_tag :return_to, (return_to.nil? ? contest_fake_tests_url(@contest) : return_to) %>
    <%= select_tag "ft[opponent_ids][]", options_for_select(clients),{:multiple => true} %>
    <% for check in @available_checks %>
      <p><%= f.label check.name.underscore, check.human_name %><%= f.check_box "checks[#{check.name.underscore}]" %></p>
    <% end %>
    <%= submit_tag "Test starten", :confirm => "Wollen sie den Tests wirklich anstoßen?"  %>
<% end %>
