<h3>
  Eintr채ge filtern:
</h3>
<% form_tag time_entries_url, :method => :get do %>
  <table>
    <tr id="filter_person">
      <td>Person:</td><td><%= select_tag "filter[person_id]", options_for_select([["Alle",0]] + @tutors_and_helpers.map{|p| ["#{p.name} - #{p.email}", p.id]}.sort{|a,b| a[0] <=> b[0]}, (@filter[:person] ? @filter[:person].id : nil)) %>
      <%= link_to("zur체cksetzen", "", 'data-select' => "filter_person_id", :class => "reset_filter") %></td>
    </tr>
    <tr id="filter_season">
      <td>Saison:</td><td><%= select_tag "filter[season_id]", options_for_select([["Alle",0]] + Season.public.map{|s| [s.name, s.id]}, @filter[:season] ? @filter[:season].id : nil) %> 
        <%= link_to("zur체cksetzen", "", 'data-select' => "filter_season_id", :class => "reset_filter") %></td>
    </tr>
    <tr id="filter_contestant">
      <td>Team:</td><td><%= select_tag "filter[contestant_id]", options_for_select([["Alle",0]] + @contestants.map{|c| [(@filter[:season] ? c.name : "#{c.parent.subdomain} - #{c.name}"), c.id]}, @filter[:contestant] ? @filter[:contestant].id : nil) %>
      <%= link_to("zur체cksetzen", "", 'data-select' => "filter_contestant_id", :class => "reset_filter") %></td>
    </tr>
    <tr id="grouping">
      <td>Gruppierung:</td><td><%= select_tag "group_by", options_for_select([["Keine",0],["Kontext","context"],["Person","person"]], params[:group_by]) %></td>
    </tr>
  </table>
  <div style="margin-top: 15px; margin-bottom: 30px;">
    <%= submit_tag "Filter anwenden", :id => "submit_filter"%>
  </div>
<% end %>
<% javascript_tag do %>
  $(function() {
    $("#submit_filter").bind("blick", function(){
      $("#filters select").enable()
    })
    
    $("#filters select").each(function(i,e){
      if($(e).attr("value") == "0"){$(e).enable()}
    })

    $(".reset_filter").each(function(i,e){
      if($("#"+$(e).data("select")).attr("value") == "0"){
        $(e).hide()
      }
    })

    $("#filters select").change(function(){
      if($(this).attr("value") == 0){
        $(this).parent().find(".reset_filter").hide()
      }else{
        $(this).parent().find(".reset_filter").show()
      }
    })

    $(".reset_filter").bind("click",function(e){
      $("#"+$(this).data("select")).attr("value","0").enable()
      $(this).hide()
      e.preventDefault();
      })

  });
<% end %>
