<% hide_cols ||= {} %>
<% group_key ||= nil %>

<table class="data-table time_entries <%= (group_key.is_a?(Person) ? "Person" : "Context")+"_#{group_key.id}" if group_key %>">
  <colgroup>
    <col width="15%">
    <col width="25%">
    <col width="10%">
    <col width="23%">
    <col width="12%">
    <col width="10%">
  </colgroup>
  <thead>
    <% unless hide_cols[:person] %>
      <th><%= TimeEntry.human_attribute_name :person %></th>
    <% end %>
    <% unless hide_cols[:context] %>
      <th class="middle"><%= TimeEntry.human_attribute_name :context %></th>
    <% end %>
    <th class="middle"><%= TimeEntry.human_attribute_name :created_at %></th>
    <th class="middle"><%= TimeEntry.human_attribute_name :title %></th>
    <th class="middle"><%= TimeEntry.human_attribute_name :minutes %></th>
    <th class="middle">Aktionen</th>
  </thead>
  <tbody>
    <%= render :partial => "time_entry", :collection => time_entries, :locals => {:hide_cols => hide_cols} %>
    <% unless time_entries.empty? %>
      <tr class="odd">
        <td colspan="4"><b>Summe</b></td>
        <% used = time_entries.sum{|e| e.minutes} %>
        <td class="middle"><%= minutes_for_input used %></td>
        <td colspan="1"/>
      </tr>
    <% end %>
    <% if params[:group_by] == "person" %>
      <tr>
        <td colspan="4"><b>Kontingent</b></td>   
        <% contract_time = time_entries.first.person.contracts.sum(:hours) * 60 %>
        <td class="middle"><%= minutes_for_input contract_time %></td>
        <td colspan="1"/>
      </tr> 
      <% unless time_entries.empty? %>
        <tr class="odd">
          <% open = contract_time - used %>
          <td colspan="4" class="<%= open < 0 ? "negative" : "positive" %>"><b>Offen</b></td>
          <td class="middle <%= open < 0 ? "negative" : "positive" %>" style="border-top: 1px solid black;"><%= "-" if open < 0 %><%= minutes_for_input open.abs %></td>
          <td colspan="1"/>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
