<% hide_cols ||= {} %>
<% e = time_entry %>
<tr id="entry_<%=e.id%>" class="time_entry person_<%=e.person.id%> season_<%=e.context.parent.id%> contestant_<%=e.context.id%>">
  <% unless hide_cols[:person] %>
    <td><%= link_to e.person.name, time_entries_url(:filter => {:person_id => e.person.id}) %></td>
  <% end %>
  <% unless hide_cols[:context] %>
    <td class="middle"><%= e.context.name %></td>
  <% end %>
  <td class="middle"><%= l e.created_at.to_date %></td>
  <td class="middle"><span class="tooltipped"><%= e.title %></span><div class="tooltip"><h2><%= e.title %></h2><%= raw BlueCloth.new(e.description).to_html %></div></td>
  <td class="middle"><%= e.minutes_for_input %></td>
  <td class="middle"><%= link_to image_tag("actions/edit.png"), "#", :class => 'edit_entry', :id => "edit_#{e.id}", "data-id" => e.id %>
</tr>
<% javascript_tag do %>
  $(function() {
    $("#edit_<%=e.id%>").bind("click", function(e){
    $.getScript("<%= url_for([:new, @context, @person, :time_entry]) %>".replace("new","").replace("neu","")+$(this).data("id")+"/bearbeiten.js<%="?contestant_id=#{e.context.id}" if e.context.is_a?(Contestant)%>")
      e.preventDefault();
    })
  });
<% end %>
