<%= stylesheet_link_tag "time_entry", 'markdown/jquery.markedit.css' %>
<%= javascript_include_tag 'markdown/jquery.markedit.js', 'markdown/showdown.js' %>

<div id="actions">
  <% if @filter[:contestant].nil? or @current_user.has_role?(:tutor, @filter[:contestant]) %>
    <a href="#" class="add_entry"><%= image_tag "actions/add.png" %> Eintrag hinzufügen</a>
    <% javascript_tag do %>
      $(function() {
        $(".add_entry").bind("click", function(e){
          $.getScript("<%= url_for([:new, @context, @person, :time_entry]) %>.js<%= "?contestant_id=#{@filter[:contestant].id}" if @filter[:contestant] %>")
          e.preventDefault();    
        })
      });
    <% end %>
  <% end %>
</div>

<% @person = @filter[:person] if @filter[:person] %>
<h1>
  <% if @contestant %>
    <%= link_to contestant.name, [contestant.parent, contestant] %> /
  <% elsif @person%>
    <%= link_to @person.name, @person %> / 
  <% end %>
  <%= TimeEntry.human_name :count => 2 %> ansehen 
</h1>
<% tabnav (@contestant ? :contestant : (@person ? :person : :administration)) do %>
  <% unless params[:hide_filters] %>
    <div id="filters">
      <%= render :partial => "filters" %>
    </div>
  <% end %>
  <% hide_cols = {} %>
  <% hide_cols[:person] = true if @person and params[:hide_person]%>
  <%= render :partial => "grouped_list", :locals => {:time_entries => @time_entries, :hide_cols => hide_cols} %>
<% end %>
