<h1>
  Zeit-Eintrag betrachten
</h1>
<% tabnav :administration do %>
  <table>
    <tr>
      <td>
        <b>Bezeichnung: </b>
      </td>
      <td>
        <%= @time_entry.title %>
      </td>
    </tr>
    <tr>
      <td>
        <b>Ersteller: </b>
      </td>
      <td>
        <%= link_to @time_entry.person.name, @time_entry.person %> (<%= link_to "alle Einträge von #{@time_entry.person.name}", time_entries_url(:filter => {:person_id => @time_entry.person.id}, :group_by=> 'person') %>)
      </td>
    </tr>
    <tr>
      <td><b>Zuletzt bearbeitet: </b></td>
      <td><%= @time_entry.updated_at.strftime("%d.%m.%Y %H:%M") %></td>
    </tr>
    <tr>
      <td><b>Eingetragene Zeit: </b></td>
      <td><%= @time_entry.minutes_for_input %></td>
    </tr>
    <tr>
      <td>
        <b>Kontext: </b>
      </td>
      <td>
        <%= if @time_entry.context.respond_to?(:parent) and @time_entry.context.parent then @time_entry.context.parent.name+" - " elsif @time_entry.context.respond_to?(:season) and @time_entry.context.season then @time_entry.context.season.name+" - " end %><%= @time_entry.context.name %>
      </td>
    </tr> 
  </table>
  <b>Beschreibung:</b>
  <div id="description" style="margin-top: 20px; margin-left: 20px;">
    <%= raw BlueCloth.new(@time_entry.description).to_html %> 
  </div>
<% end %>
