<% unless @time_entry.changed? %>
  $("#time_entry_form_row_<%= @time_entry.id %>").remove()
  $("#entry_<%= @time_entry.id %>").replaceWith("<%= escape_javascript(render :partial => "time_entry", :locals => {:time_entry => @time_entry}) %>")
<% else %>
  $("#time_entry_form_row_<%= @time_entry.id %> .flash_messages").html("")
  <% for error in @time_entry.errors.full_messages %>
    $("#time_entry_form_row_<%= @time_entry.id %> .flash_messages").append("<div class='ui-widget flash_error' style='padding:4px;'><div class='ui-state-error ui-corner-all'><p><span class='ui-icon ui-icon-alert' style='float:left; margin-right: .3em;'></span><b>Fehler:</b> <%= error %></p></div></div>")
  <% end %>
<% end %>
