<% date = local_assigns[:date] || false %>
<% count = local_assigns[:count] || false %>
<tr style="background-color: <%= cycle('#fff', '#f8f8f8') %>; line-height: 2em;">
  <% if count %>
    <td> 
      <% if match.matchday.trial %>
        <%= link_to "P#{match.matchday.position}", contest_matchday_url(@contest, match.matchday)%> 
      <% else %>
        <%= link_to match.matchday.position - match.contest.matchdays.trials.count, contest_matchday_url(@contest, match.matchday) %>
      <% end %>
    </td>
  <% end %>
  <% if date %>
    <td><%= (l match.matchday.when) unless match.matchday.when.nil? %></td>
  <% end %>
  <% [match.slots[0], match.slots[1]].each do |slot| %>
    <% text = "" %>
    <% if not slot.blank? %>
      <% if slot.contestant.disqualified? %>
        <% text << "<i>[#{t "views.disqualified"}]</i>&nbsp;" %>
      <% end %>
      <% text << link_to(slot.name, contest_contestant_matches_url(@contest, slot.contestant)) %>
    <% else %>
      <% text << "-" %>
    <% end %>
    <td><%= text.html_safe! %></td>
  <% end %>
  <td style="text-align: center;">
    <% if match.main_result and (match.matchday.published? or administrator?) %>
      <% if match.matchday.published? or administrator? %>
        <% link_to [@contest, match.matchday, match.becomes(Match)] do %>
          <%= match.main_result.join(" : ") %>
        <% end %>
      <% end %>
      <% unless match.matchday.published? %>
        <em><%=t "views.unpublished" %></em>
      <% end %>
    <% elsif match.running? and administrator? %>
      <%= image_tag 'ui/spinner.gif' %>
    <% else %>
      <em><%= match.slots.empty? ? "Spielfrei" : (t "views.outstanding") %></em>
    <% end %>
  </td>
</tr>
