<% date = local_assigns[:date] || false %>
<% count = local_assigns[:count] || false %>
<% @context = @contest || @season %>

<tr style="background-color: <%= cycle('#fff', '#f8f8f8') %>; line-height: 2em;">
  <% if count %>
    <td> 
      <% pos = match.matchday.position_without_trials %>
      <%= link_to "#{pos < 1 ? "P#{match.matchday.position}" : "#{pos}"}" %>
    </td>
  <% end %>
  <% if date %>
    <td><%= (l match.matchday.when) unless match.matchday.when.nil? %></td>
  <% end %>
  <% [match.slots[0], match.slots[1]].each do |slot| %>
    <% text = "" %>
    <% if not slot.blank? %>
      <% if slot.contestant.disqualified? %>
        <% text << "<i>[#{t "views.disqualified"}]</i>&nbsp;" %>
      <% end %>
      <% text << link_to(slot.name, [@context, slot.contestant]) %>
    <% else %>
      <% text << "-" %>
    <% end %>
    <td><%= text.html_safe! %></td>
  <% end %>
  <td style="text-align: center;">
    <% if match.main_result and match.played? and (match.matchday.published? or administrator?) %>
      <% if match.matchday.published? or administrator? %>
        <% link_to [match.matchday.contest, match.matchday, match.becomes(Match)] do %>
          <%= match.main_result.join(" : ") %>
        <% end %>
      <% end %>
      <% unless match.matchday.published? %>
        <em><%=t "views.unpublished" %></em>
      <% end %>
    <% elsif match.running? and administrator? %>
      <%= link_to image_tag('ui/spinner.gif'), contest_matchday_match_url(match.matchday.contest,match.matchday,match) %>
    <% else %>
      <em>
        <% if  match.slots.empty?  %>
           "Spielfrei" 
        <% else %>
          <% if @current_user and @current_user.has_role? :administrator %>
            <% link_to contest_matchday_match_url(match.matchday.contest,match.matchday,match) do %>
             <%= t "views.outstanding" %>
            <% end %>
          <% else%>
            <%= t "views.outstanding" %>
          <% end %>
       <% end %>
     </em>
    <% end %>
  </td>
</tr>
