<% date = local_assigns[:date] || false %>
<tr style="background-color: <%= cycle('#fff', '#f8f8f8') %>; line-height: 2em;">
  <% if date %>
    <td><%= l match.matchday.when %></td>
  <% end %>
  <td><%= match.slots[0].name || "Freispiel" %></td>
  <td><%= match.slots[1].name || "Freispiel" %></td>
  <td style="text-align: center;">
    <% if match.main_result %>
      <% link_to [match.contest, match.matchday, match.becomes(Match)] do %>
        <%= match.main_result.join(" : ") %>
      <% end %>
    <% elsif match.running? %>
      <%= image_tag 'ui/spinner.gif' %>
    <% else %>
      <em><%= t "views.outstanding" %></em>
    <% end %>
  </td>
</tr>
