<table class="data-table">
  <thead>
    <tr>
      <th><%= t "views.position" %></th>
      <th><%= t "views.contestant" %></th>
      <th style="text-align: center;"><%= t "views.matches" %></th>
      <% @contest.game_definition.match_score.each do |k,fragment| %>
        <th><%= match_score_fragment_name(@contest.game_definition, fragment) %></th>
      <% end %>
      <th style="text-align: center;">&Delta;</th>
    </tr>
  </thead>
  <% matchday.slots.find_all{|slot| !slot.contestant.hidden?}.each_with_index do |slot,i| %>
    <tr class="<%= i.odd? ? 'odd': 'even' %>" style="line-height: 2em;">
      <td style="text-align: left;"><%= slot.position %>.</td>
      <td><%= link_to slot.contestant.name, contest_contestant_matches_url(slot.contestant) %></td>
      <td style="text-align: center;"><%= count_matches_played_by_contestant(slot.contestant, @matchday) %></td>
      <% if slot.score %>
        <% slot.score.to_a_with_precision.each do |value| %>
          <td style="text-align: center;"><%=h value %></td>
        <% end %>
      <% else %>
        <td colspan="<%= @contest.game_definition.match_score.size %>">
          <em><%= t "views.error_no_result" %></em>
        </td>
      <% end %>
      <td style="text-align: center;">
        <% previous_position = slot.previous_position %>
        <% if previous_position %>
          <% diff = previous_position - slot.position %>
          <% if diff > 0 %>
            <span style="font-size: 10px; color: #090; font-weight: bold;">+<%= diff %></span>
          <% elsif diff < 0 %>
            <span style="font-size: 10px; color: #f00; font-weight: bold;"><%= diff %></span>
          <% else %>
            <span style="font-size: 10px; color: #999;">&plusmn;0</span>
          <% end %>
        <% else %>
          <span style="font-size: 10px; color: #999;">-</span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
