<h1>
  <%= link_to @contest.name, contest_edit_schedule_url(@contest) %> /
  <% if @matchday.trial %>
    <%= @matchday.position %>. <%= t "views.trial_matchday" %>
  <% else %>
    <% link_to contest_matchday_url(@contest,@matchday) do %> 
    <%= @matchday.position - @matchday.contest.matchdays.trials.count %>. <%= t "views.matchday" %><% end %> / 
    <%= t "views.disqualifications" %>
  <% end %>
</h1>


<% tabnav :contest do %>
  <% unless @disqualifications.empty? %>
   <table class="data-table">
    <thead>
      <tr>
       <th class="middle">Verifikation</th>
       <th><%= t "views.player", :number => 1 %></th>
       <th><%= t "views.player", :number => 2 %></th>
       <th class="middle">Ergebnis</th>
       <th class="middle">Disqualifikationen</th>
       <th>Aktionen</th>
      </tr>
    </thead>
    <tbody>
      <% @disqualifications.each do |match,disqus| %>
       <tr>
        <td class="middle"><%= check_box_tag "verify_match_#{match.id}", match.id, match.reviewed?, :class => "verify_match"  %></td>
        <td><%= match.contestants.first.name %></td>
        <td><%= match.contestants.second.name %></td>
        <td class="middle"><%= match.main_result.join(" : ") %></td>
        <td class="middle" class="tooltipped" title="<%= disqus[:causes].join(", ") %>"><%= disqus[:count] %></td>
        <td class="middle"> <%= link_to image_tag("actions/show.png"), contest_matchday_match_url(@contest,@matchday,match), :title => "Spiel anzeigen", :class => "tooltipped" %></td>
       </tr>
      <% end %>
    </tbody>
   </table>

   <% javascript_tag do %>
      $(".verify_match").click(function(){
        var checked = $(this).attr("checked")
        var match_id = $(this).attr("value")
        set_verification(match_id, checked)
      })

      function set_verification(match_id, checked){
       $.ajax({
        type: "POST",
        url: "<%= contest_matchday_url(@contest,@matchday)%>/matches/"+match_id+"/set_review",
        data: "verified="+checked,
        success: function(msg){
          var json = jQuery.parseJSON(msg)
          if(json['reviewed'] == true || json['reviewed'] == false){
           $("#verify_match_"+match_id).attr("checked", json['reviewed'])
          } else if(json['message']) {
           alert(json['message'])
          } else {
           alert("Die Antwort des Servers war nicht gültig!\n\n Antwort: \n "+msg)
          }
        },
        error: function(){
          alert("Beim Setzen des Status trat ein Fehler auf!")
          $("#verify_match_"+match_id).attr("checked", !checked)
        }
       });
      }
   <% end %>
 
 <% else %>
   <b> Es wurdne keine Disqualifikationen durchgeführt </b>
  <% end %>
<% end %>
