<h1>Editing matchday</h1>

<% form_for(@matchday) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :contest_id %><br />
    <%= f.text_field :contest_id %>
  </p>
  <p>
    <%= f.label :when %><br />
    <%= f.date_select :when %>
  </p>
  <p>
    <%= f.label :order %><br />
    <%= f.text_field :order %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @matchday %> |
<%= link_to 'Back', matchdays_path %>