<div id="actions">
  <% if @contest.ready? and !@contest.begun? %>
    <% link_to reset_matchdays_contest_url, :method => :post do %>
      <%= image_tag('actions/destroy.png') %>Spielplan löschen
    <% end %>
  <% end %>
</div>

<% tabnav :contest do %>
  <table class="data-table">
    <thead>
      <tr>
        <th style="padding-left: 10px; text-align: center;">&nbsp;</th>
        <th>Wann</th>
        <th>Status</th>
      </tr>
    </thead>

    <% @matchdays.each_with_index do |matchday,i| %>
      <tr class="<%= i.odd? ? 'odd': 'even' %>" style="line-height: 2em;">
        <td style="padding-left: 10px;">
          <% link_to [:contest, matchday] do %>
            <%= i+1 %>. Spieltag
          <% end %>
        </td>
        <td><%= l(matchday.when, :format => :long) %></td>
        <% if matchday.played? %>
          <td style="color: #090; font-weight: bold;"><%= matchday_status(matchday) %></td>
        <% elsif matchday.running? %>
          <td><%= matchday_status(matchday) %></td>
        <% else %>
          <td style="color: #aaa;"><%= matchday_status(matchday) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>