<div style="float: right;">
  <%= button_to "Spielplan generieren", refresh_matchdays_contest_url(@contest), :method => "post" %>
</div>

<h1><%=h @contest.name %> / Spieltage</h1>

<% if @matchdays.empty? %>
  <p>Es liegt noch kein Spielplan vor.</p>
<% else %>
  <div id="tabs">
    <ul>
      <li><a href="#calendar">Kalender</a></li>
      <li><a href="#list">Liste</a></li>
    </ul>
    <div id="calendar">
      <%= render :partial => "calendar" %>
    </div>
    <div id="list">
      <%= render :partial => "listing" %>
    </div>
  </div>

  <script type='text/javascript'>
    $(document).ready(function() {
      $('#tabs').tabs();
    });
    $(document).ready(function() {
      var locale = $.datepicker.regional['de'];
      var calSettings = {};
      $.extend(calSettings, locale, {
        editable: false
        ,buttonText: {today: "Heute"}
        ,events: '<%= contest_matchdays_url(@contest, :format => "json", :calendar => true) %>'
      });
      $('#calendar-widget').fullCalendar(calSettings);
    });
  </script>
<% end %>
