<% show_to :administrator do %>
  <div id="actions">
    <% if @matchday.running? %>
      <%= image_tag 'ui/spinner.gif', :style => "padding: 8px 0;" %> <br>
      <div id="matchday_progress">
        <%= render :partial => "matchday_progress", :locals => {:matchday => @matchday} %>
      </div> 
      <% javascript_tag do %>
        function refresh_matchday_progress() {
          $.get(
          "<%= get_progress_contest_matchday_url(@matchday.contest, @matchday) %>",
          "id=<%= @matchday.id %>",
          function(returned_data) {
            $("div#matchday_progress").html(returned_data)
          })  
        }

        setInterval(refresh_matchday_progress, 5000);
      <% end %> 
    <% else %>
      <% if @matchday.played? %>
        <% link_to reaggregate_contest_matchday_url(@matchday), :method => "post", :title => t("views.recalc"), :id => "reaggregateAction" do %>
          <%= image_tag('actions/refresh.png') %><%= t ("actions.add") %>
        <% end %>
        <% link_to reset_contest_matchday_url(@matchday), :method => "post", :title => t("actions.reset"), :id => "resetAction" do %>
          <%= image_tag('actions/destroy.png') %><%= t ("actions.reset") %>
        <% end %>
      <% else %>
        <% link_to play_contest_matchday_url(@matchday), :method => "post", :title => t("views.play"), :id => "playAction" do %>
          <%= image_tag('actions/play.png') %><%= t "actions.play" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<h1>
  <%= link_to @contest.name, contest_matchdays_url %> /
  <%= @matchday.position %>. <%= t "views.matchday" %>
</h1>

<% tabnav :matchday do %>
  <%= render :partial => "results" %>
<% show_to :administrator do %>
<% end %>
<% end %>
