<% show_to :administrator do %>
  <div id="actions">
    <% if @matchday.running? %>
      <%= image_tag 'ui/spinner.gif', :style => "padding: 8px 0;" %> <br> 
    <% else %>
      <% if @matchday.played? %>
        <% unless @matchday.published? %>
          <% link_to publish_contest_matchday_url(@contest, @matchday), :method => "post", :title => t("views.publish"), :id => "publishContestAction" do %>
            <%= image_tag('actions/publish.gif') %><%= t ("actions.publish") %>
          <% end %>
        <% end %>
        <% link_to reset_contest_matchday_url(@contest, @matchday), :method => "post", :confirm => t("messages.confirm_reset", :name => Matchday.human_name), :title => t("actions.reset"), :id => "resetAction" do %>
          <%= image_tag('actions/destroy.png') %><%= t ("actions.reset") %>
        <% end %>
      <% else %>
        <% if  ((not @matchday.played?) and (@matchday.rounds_done > 0))%>
          <% link_to reset_contest_matchday_url(@contest, @matchday), :method => "post", :confirm => t("messages.confirm_reset", :name => Matchday.human_name), :title => t("actions.reset"), :id => "resetAction" do %>
            <%= image_tag('actions/destroy.png') %><%= t ("actions.reset") %>
          <% end %>
        <% end %>
        <% link_to play_contest_matchday_url(@contest, @matchday), :method => "post", :title => t("actions.play"), :id => "playAction" do %>
          <%= image_tag('actions/play.png') %><%= t "actions.play" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<h1>
  <%= link_to @contest.name, contest_matchdays_url(@contest) %> /
  <% if @matchday.trial %>
    <%= @matchday.position %>. <%= t "views.trial_matchday" %>
  <% else %>
    <%= @matchday.position - @matchday.contest.matchdays.trials.count %>. <%= t "views.matchday" %>
  <% end %>
</h1>

<% if @matchday.running? %>
  <div id="matchday_progress">
    <%= render :partial => "matchday_progress", :locals => {:matchday => @matchday} %>
  </div> 
  <% javascript_tag do %>
    function refresh_matchday_progress() {
      $.get(
        "<%= get_progress_contest_matchday_url(@contest, @matchday) %>",
        "id=<%= @matchday.id %>",
        function(returned_data) {
          $("div#matchday_progress").html(returned_data)
          var finished = $("div#matchday_progress input#matchday_finished_<%= @matchday.id %>").val();
          if (finished == 1) {
            clearInterval(refreshInterval);
            setTimeout("location.reload()", 15000);
          }
        }
      )  
    }

    var refreshInterval = setInterval(refresh_matchday_progress, 15000);
  <% end %> 
<% end %>

<% tabnav :matchday do %>
  <%= render :partial => "results" %>
<% show_to :administrator do %>
<% end %>
<% end %>
