<% if current_user.administrator? %>
  <div style="float: right;">
    <% if @matchday.running? %>
      <%= button_to "Spiel wird durchgeführt", "#", :disabled => true %>
    <% else %>
      <%= button_to "Erneut zusammenrechnen", reaggregate_contest_matchday_url(@contest, @matchday), :method => "post" %>
      <% if @matchday.played? %>
        <%= button_to "Spieltag wiederholen", play_contest_matchday_url(@contest, @matchday), :method => "post" %>
      <% else %>
        <%= button_to "Spieltag spielen", play_contest_matchday_url(@contest, @matchday), :method => "post" %>
      <% end %>
    <% end %>
  </div>
<% end %>

<h1>
  <%= link_to h(@contest.name), @contest %> /
  <%=h @matchday.position %>. Spieltag
</h1>

<div id="tabs" style="margin: 0 -10px;">
  <ul>
    <li><a href="#results">Ergebnisse</a></li>
    <% if @matchday.played? %>
      <li><a href="#standings">Tabelle</a></li>
    <% end %>
  </ul>
  <div id="results">
    <%= render :partial => "results" %>
  </div>
  <% if @matchday.played? %>
    <div id="standings">
      <%= render :partial => "standings" %>
    </div>
  <% end %>
</div>

<p>
  <% if @matchday.played? %>
    Vor <%= distance_of_time_in_words_to_now(@matchday.played_at) %> durchgespielt<br/>
  <% end %>
  Vor <%= distance_of_time_in_words_to_now(@matchday.updated_at) %> zuletzt aktualisiert
</p>

<script type="text/javascript">
  $(document).ready(function() {
    $("#tabs").tabs();
  });
</script>