<% if current_user.administrator? %>
  <div id="actions">
    <% if @matchday.running? %>
      <%= image_tag 'ui/spinner.gif', :style => "padding: 8px 0;" %>
    <% else %>
      <% if @matchday.played? %>
        <% link_to reaggregate_contest_matchday_url(@contest, @matchday), :method => "post", :title => "Neu zusammenrechnen", :id => "reaggregateAction" do %>
          <%= image_tag('actions/refresh.png') %>Addieren
        <% end %>
        <% link_to reset_contest_matchday_url(@contest, @matchday), :method => "post", :title => "Zurücksetzen", :id => "resetAction" do %>
          <%= image_tag('actions/destroy.png') %>Zurücksetzen
        <% end %>
      <% else %>
        <% link_to play_contest_matchday_url(@contest, @matchday), :method => "post", :title => "Spielen", :id => "playAction" do %>
          <%= image_tag('actions/play.png') %>Spielen
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<h1>
  <%= link_to @contest.name, contest_matchdays_url(@contest) %> /
  <%= @matchday.position %>. Spieltag
</h1>

<% tabnav :matchday do %>
  <%= render :partial => "results" %>
<% end %>