<div id="actions">
  <% link_to contest_matchday_standings_url(@contest, @matchday, :format => :pdf) do %>
    <%= image_tag('actions/pdf.png') %> <%= t "views.pdf_export" %>
  <% end %>
</div>
 
<h1 class="print-hide" id="title">
  <%= link_to @contest.name, contest_edit_schedule_url(@contest) %> /
  <%= @matchday.trial? ? "#{@matchday.position}. Probespieltag" : "#{@matchday.position - @matchday.contest.matchdays.trials.count}. Spieltag" %>
  <% if @matchday.played? and not @matchday.published? and administrator? %>
    (<%=t "views.unpublished" %>)
  <% elsif not @matchday.played? or not @matchday.published? %>
    (<%= t "views.outstanding" %>)
  <% end %>
 
</h1>

<% ranking = (logged_in? and @current_user.teams.visible.ranked.for_contest(@contest).count == 1) ? @current_user.teams.for_contest(@contest).first.ranking : nil %>
<% tabnav :matchday do %>
  <% if @matchday.published? or current_user.try(:administrator) %>
    <%= render :partial => "ranking_selection", :locals => {:ranking => ranking} %>
    <%= render :partial => "standings", :locals => { :matchday => @matchday, :ranking => ranking } %>
  <% end %>
<% end %>
