<h1 class="print-hide" id="title">
  <%= link_to @contest.name, contest_matchdays_url %> /
  <%= @matchday.position %>. Spieltag
  <% unless @matchday.published? %>
    (<%=t "views.unpublished" %>)
  <% end %>
 
</h1>

<% ranking = (logged_in? and @current_user.teams.visible.ranked.for_contest(@contest).count == 1) ? @current_user.teams.for_contest(@contest).first.ranking : nil %>
<% tabnav :matchday do %>
  <% if @matchday.published? or current_user.try(:administrator) %>
    <%= render :partial => "ranking_selection", :locals => {:ranking => ranking} %>
    <%= render :partial => "standings", :locals => { :matchday => @matchday, :ranking => ranking } %>
  <% end %>
<% end %>
