<tr id="create_comment_<%= client.id %>" style="display: none">
  <td colspan="3"></td>
  <td colspan="2" style="text-align: left">
    <b>Kommentar erstellen:</b>
    <% form_remote_tag :url => create_comment_contest_contestant_client_url(client.contestant, client), :complete => "show_comments_for("+client.id.to_s+")" do %>
      <%= text_area_tag :text, "", :id => "text", :style => "width: 100%" %><br>
      <p style="text-align: right">
        <a href="#" id="cancel_comment_<%= client.id %>" style="margin-right: 10px">Abbrechen</a>
        <%= submit_tag 'Hinzufügen', :id => "submit_comment_" + client.id.to_s %>
      </p>
      <%= hidden_field_tag :client_id, client.id.to_s %>
      <%= hidden_field_tag :person_id, current_user.id %>
    <% end %>
  </td>
</tr>
<% javascript_tag do %>
  $(function() {
    $("input#submit_comment_<%= client.id %>").bind('click', function () {
      if($("tr#create_comment_<%= client.id %> textarea#text").val() == "") {
        return false;
      } else {
        $("tr#create_comment_<%= client.id %>").fadeOut(500)
        $("a#show_comments_<%= client.id %>").show() 
        //show_comments(<%= client.id %>)  
      }
    })
  
    $("a#cancel_comment_<%= client.id %>").bind('click', function() {
      $("tr#create_comment_<%= client.id %>").fadeOut(500)
      return false
    })
  })
<% end %>
