<div id="clientlogs_<%= id %>" style="position: absolute; background-color: #DDDDFF; max-height: 250px">
  <div style="background-color: #DDDDFF; padding-top: 5px; padding-left: 10px; padding-right: 10px; padding-bottom: 5px; width: 125px; max-height: 200px; overflow: scroll">
  <% if logfiles.blank? then %>
    <%= t("messages.no_log_files_available") %>
  <% else %>
    <% client = Client.find(id) %>
    <% logfiles.each do |logfile| %>
      <%= link_to File.mtime(logfile[:file]).strftime("%d.%m.%y, %H:%M"), send_log_contest_contestant_client_url(client.contestant, client, :id => logfile[:id], :num => logfile[:num]), :method => :post %><br>
    <% end %>
  <% end %>
  </div>
  <a href="#" id="close_logs_<%= id %>"><%= t("actions.close") %></a>
  <% javascript_tag do %>
    $(function() {
      $("a#close_logs_<%= id %>").bind('click', function() {
        $("div#clientlogs_<%= id %>").fadeOut(500)
        return false;
      })
    })
  <% end %>
</div>
