<tr id="client-<%= client.id %>" class="<%= cycle('odd', 'even') %>;">
  <td>
    <% if client.current? %>
      <b>Aktiv</b>
    <% else client.ok? %>
      <%= link_to "Auswählen", select_contest_contestant_client_url(client.contestant, client), :method => :post %>
    <% end %>
  </td>
  <td>
    <% if client.broken? %>

    <% elsif client.tested? %>
      <%= client.test_results.join('/') %> bestanden
    <% elsif client.testable? and !client.contestant.has_running_tests? %>
      <%= link_to "Testen", test_contest_contestant_client_url(client.contestant, client), :method => :post %>
    <% end %>
  </td>
  <td>
    &nbsp;
    <% if client.testing? %>
      <%= image_tag("ui/spinner.gif") %>
      <script type="text/javascript">
        //<![CDATA[
        setTimeout(function() {
          jQuery.ajax({
            data:'authenticity_token=' + encodeURIComponent('<%= form_authenticity_token %>')
            ,dataType:'script'
            ,type:'get'
            ,url:'<%= contest_contestant_client_status_url(client.contestant, client) %>'
          })
        }, 3 * 1000)
        //]]>
      </script>
    <% elsif client.ok? %>
      <%= image_tag("state/ok.png") %>
    <% elsif client.broken? %>
      <%= image_tag("state/warning.png") %>
    <% end %>
  </td>
  <td><%=h client.file_file_name %></td>
  <td>
    <% main_file_entry_name = client.main_file_entry.try(:file_name) %>
    <% main_file_entry_name ||= content_tag(:i, "Nicht gesetzt") %>
    <% if !client.testing? and !client.ok? %>
      <%= link_to main_file_entry_name, edit_contest_contestant_client_url(client.contestant, client) %>
    <% else %>
      <%= main_file_entry_name %>
    <% end %>
  </td>
  <td>
    <b style="font-size: 11px;"><%=h l(client.created_at.try(:to_date), :format => :long) %></b><br/>
    Von <%= client.author.name %>
  </td>
  <td>
    <% if client.testing? %>
      <% if client.test_match.job.locked_at %>
        <b style="font-size: 11px;">Testet seit <%= (Time.now - client.test_match.job.locked_at).round %> Sekunden</b><br/>
        <span><%= test_progress(client) %></span>
      <% else %>
        <b style="font-size: 11px;">Wartet seit <%= (Time.now - client.test_match.job.created_at).round %> Sekunden auf</b><br/>
        <span>Test über <%= client.test_match.rounds.count %> Runden</span>
      <% end %>
    <% end %>
  </td>
</tr>