<tr style="background-color: <%= cycle('#fff', '#f8f8f8') %>;">
  <td>
    <% if client.current? %>
      <b>Aktiv</b>
    <% elsif client.functional? %>
      <%= link_to "Auswählen", select_contestant_client_url(client.contestant, client), :method => :post %>
    <% elsif client.tested? %>
      <%= client.test_results.join('/') %> bestanden
    <% elsif client.testable? %>
      <%= link_to "Testen", test_contestant_client_url(client.contestant, client), :method => :post %>
    <% end %>
  </td>
  <td>
    &nbsp;
    <% if client.testing? %>
      <%= image_tag("ui/spinner.gif") %>
    <% elsif client.tested? %>
      <% if client.functional? %>
        <%= image_tag("state/ok.png") %>
      <% else %>
        <%= image_tag("state/warning.png") %>
      <% end %>
    <% end %>
  </td>
  <td><%=h client.file_file_name %></td>
  <td><%=h client.main_file_entry.try(:file_name) %></td>
  <td>
    <b style="font-size: 11px;"><%=h l(client.created_at.try(:to_date), :format => :long) %></b><br/>
    Von <%= client.author.name %>
  </td>
  <td>
    <% if client.testing? %>
      <span style="color: #999;">Wird getestet&hellip;</span>
    <% elsif !client.functional? %>
      <%= link_to 'Bearbeiten', edit_contestant_client_url(client.contestant, client) %>
    <% end %>
  </td>
</tr>