<tr id="client-<%= client.id %>" class="<%= cycle('odd', 'even') %>;">
  <td>
    <% if client.current? %>
      <b><%= t("views.active").capitalize %></b>
    <% else client.ok? %>
      <%= link_to I18n.t("actions.activate_client"), select_contest_contestant_client_url(client.contestant, client), :method => :post %>
    <% end %>
  </td>
  <td>
    <% if client.broken? %>
      
    <% elsif client.tested? %>
      <%= client.test_results.join('/') %> bestanden
    <% elsif client.testable? %>
      <span class="testActions">
        <span class="disabled"><%= t("messages.test_running") %></span>
        <%= link_to (t("actions.test")).capitalize,
          test_contest_contestant_client_url(client.contestant, client), :method => :post,
          :class => "enabled" %>
      </span>
    <% end %>

    <% if !client.testable? %>
      <a href="#" id="show_logs_<%= client.id %>"><%= t("labels.log").pluralize %></a>
      <div id="clientlogs_<%= client.id %>" style="position: absolute; background-color: #DDDDFF; display: none">
      </div>
    <% end %>
  </td>
  <td>
    &nbsp;
    <% if client.testing? %>
      <%= image_tag("ui/spinner.gif") %>
      <script type="text/javascript">
        //<![CDATA[
        setTimeout(function() {
          jQuery.ajax({
            data:'authenticity_token=' + encodeURIComponent('<%= form_authenticity_token %>')
            ,dataType:'script'
            ,type:'get'
            ,url:'<%= contest_contestant_client_status_url(client.contestant, client) %>'
          })
        }, 3 * 1000)
        //]]>
      </script>
    <% elsif client.ok? %>
      <%= image_tag("state/ok.png") %>
    <% elsif client.broken? %>
      <%= image_tag("state/warning.png") %>
    <% end %>
  </td>
  <td>
    <%= client.file_file_name %><br/>
    <span style="font-size: 11px;">
      Am <%= l(client.created_at.try(:to_date), :format => :long) %>
      von <%= client.author.name %>
    </span>
  </td>
  <td>
    <a id="new_comment_<%= client.id %>" href="#" style="margin-right: 10px"><%= image_tag "actions/add_small.png" %></a>
    <a id="show_comments_<%= client.id %>" href="#" <%= client.has_comments? ? "" : "style='display: none'" %>><%= image_tag "actions/arrow_down.png", :id => "icon" %></a> 
  </td>
  <td>
    <% main_file_entry_name = client.main_file_entry.try(:file_name) %>
    <% main_file_entry_name ||= content_tag(:i, t("views.not_set")) %>
    <% if !client.testing? and !client.ok? %>
      <%= link_to main_file_entry_name, edit_contest_contestant_client_url(client.contestant, client) %>
    <% else %>
      <%= main_file_entry_name %>
    <% end %>
  </td>
  <td>  
    <% if client.testing? %>
      <% if client.test_match.job.locked_at %>
        <span><%= test_progress(client) %></span><br/>
        <span style="font-size: 11px;"><%= t("views.testing_for_seconds", {:time => ((Time.now - client.test_match.job.locked_at).round)}) %> </span>
      <% else %>
        <span><%= t("views.testing_x_rounds", {:x => client.test_match.rounds.count}) %></span><br/>
        <span style="font-size: 11px;"> <%= t("views.waiting_for_seconds", {:x => ((Time.now - client.test_match.job.created_at).round)}) %></span>
      <% end %>
    <% else %>
      <% if may_delete_client? and not client.current? %>
    	  <% delete_image = image_tag "actions/delete.png", :title => I18n.t("actions.delete") %>
          <%= link_to delete_image, hide_contest_contestant_client_url(client.contestant, client), :confirm => I18n.t("messages.confirm_hiding", :name => client.file_file_name), :method => :post %>
      <% end -%>
    <% end %>
  </td>
</tr>
<% if render_comments %>
  <%= render :partial => "client_create_comment", :locals => {:client => client} %>
  <tr id="client_<%= client.id %>_comments" style="display: none"></tr>

  <% javascript_tag do %>
    $(function() {
      update_comment_icon(<%= client.id %>)   

      client_urls[<%= client.id %>] = "<%= contest_contestant_client_url(client.contestant, client) %>"
    })
  <% end %>
  <% if !client.testable? %>
    <% javascript_tag do %>
      $(function() {
        $("a#show_logs_<%= client.id %>").bind('click', function() {
          $.get(
            "<%= get_logs_contest_contestant_client_url(client.contestant, client) %>",
            "id=" + <%= client.id %>,
            function(returned_data) {
              $("div#clientlogs_<%= client.id %>").replaceWith(returned_data)
            }
          )
          return false;
        })
      })
    <% end %>
  <% end %>
<% end %>
