<% use_table = true if defined?(use_table).nil? %>
<% if use_table %>
 <tr id="client_<%= @client.id %>_comments" style="display: none;">
   <td colspan="3"></td>
   <td colspan="3" style="text-align: left;">
<% end %>
    <b>Kommentare:</b>
    <% @comments.each do |comment| %>
      <div class="comment" style="background-color: #EEEEEE; margin-top: 5px"> 
        <b><%= comment.person.name %></b>, <%= DateTime.parse(comment.created_at.to_s).strftime("%a, %d.%m.%y um %H:%M") %> <b></b>
        <% show_to :administrator do %>
          <span style="text-align: right; width: 150px">
            <a href="#" id="comment_delete_<%= comment.id %>">Löschen</a>
          </span>
        <% end %>
        <br></b>
        <%= comment.text %><br>
      </div>
      <% if current_user.has_role? :administrator %>
        <% client = Client.find(comment.client_id) %>
        <% javascript_tag do %>
          $(function() {
            $("a#comment_delete_<%= comment.id %>").bind('click', function() {
              delete_comment(<%= comment.id %>, <%= client.id %>)
              return false
            }) 
          })
        <% end %>
      <% end %>
    <% end %>
    <div height="15px">&nbsp;</div>
<% if use_table %>
  </td>
</tr>
<% end %>
