<h1>
  <% if @season %><%= link_to @season.name, @season %> / <% end %>
  <% if @context.is_a? Season and @contest%><%= link_to @contest.name, contest_contestants_url(@contest) %> /<% end %>
  <%= link_to @client.contestant.name, [@context, @contestant] %> / 
  <%= link_to Client.human_name(:count => 2), [@context,@contestant, :clients] %> / 
  Client <%= "#{@client.id} #{(@client.name.blank? ? "" : "("+@client.name+")")}" %> 
  
</h1>

<% tabnav :contestant do %> 
  <div class="group frame">
    <div class="group title">
      Allgemeine Informationen:
    </div>
    <div class="group content">
      <div class="listing bold">
        <ol> 
          <%= list_item("Team", link_if_boolean(@contestant, :name, url_for([@context, @contestant]))) %>
          <%= list_item_for(@contestant, :location) %>
          <%= list_item("Hochgeladen am",  l(@client.created_at, :format => :long)) %>
          <%= list_item("Ersteller", link_if_boolean(@client.author, :name, person_url(@client.author)))%>
          <% stat = @client.status %>
          <% test_status = case stat
            when "ok" then image_tag("state/ok.png", {:title => "Test erfolgreich", :class => "tooltipped"})
            when "broken" then image_tag("state/warning.png", {:title => "Test fehlgeschlagen!", :class => "tooltipped"})
            when "testable" then image_tag("state/info.png", {:title => "Hauptdatei definiert, Test noch nicht durchgeführt", :class => "tooltipped"}) + " - #{link_to "Jetzt testen", eurl_for([:test, @context, @contestant,@client],:from_details => true)}".html_safe
            when "uploaded" then image_tag("state/attention.png", {:title => "Keine Hauptdatei ausgewählt! Kein Test möglich!"})
            when "testing" then image_tag("ui/spinner.gif", {:title => @client.test_match.job.locked_at ? t("views.testing_for_seconds",{:time => ((Time.now - @client.test_match.job.locked_at).round), :class => "tooltipped"}) : t("views.testing_x_rounds", {:x => @client.test_match.rounds.count})})
          end %>
          <%= list_item("Test-Status", test_status) %>
          <% if @client.main_file_entry %>
            <% main_name =  @client.main_file_entry.file_name %>
          <% else %>
            <% main_name = content_tag(:i, t("views.not_set")) + " (#{link_to t("views.select"),[:edit, @context, @contestant,@client]})" %>
          <% end %>
          <%= list_item("Hauptdatei", main_name) %>
          <% unless @client.parameters.blank? %>
            <%= list_item("Parameter", @client.parameters) %>
          <% end %>
          <% if @contestant.current_client == @client %>
            Dieser Client ist <b>aktuell aktiviert</b>!
          <% elsif @contestant.current_client %>
            Aktuell ist <%= link_to "dieser", [:client_details, @context,@contestant,@contestant.current_client] %> Client aktiviert.
          <% else %>
            Das Team hat keinen Client aktiviert.
          <% end %>
        </ol>
      </div>
     </div>
    </div>
    
    <% played_matchdays = @client.played_matchdays %>
    <% played_matchdays = played_matchdays.select{|md| md.published?} unless @current_user.has_role?(:administrator) %>
    <% friendly_encounters = FriendlyEncounter.for_client @client %>
    <div class="group frame">
     <% unless played_matchdays.empty? and friendly_encounters.empty?%>
      <div class="group title">
         Dieser Client spielte bei folgenden Begegnungen: 
         <span style="float:right">
           <select id="contest_friendly_encounter_select">
             <option value="all">Alle anzeigen</option>
             <% unless played_matchdays.empty? %>
               <option value="contest">Spieltage</option>
             <% end %>
             <% unless friendly_encounters.empty? %>
               <option value="friendly_encounters">Freundschaftsspiele</option>
             <% end %>
           </select>
         </span>
         <% javascript_tag do %>
           $("#contest_friendly_encounter_select").change(function(){
             var val = $("#contest_friendly_encounter_select option:selected").val()
             if(val == "contest"){
                $("tr.matchday").show()
                $("tr.friendly_encounter").hide()
             }else if(val == "friendly_encounters"){
               $("tr.matchday").hide()
               $("tr.friendly_encounter").show()
             }else{
               $("tr.matchday").show()
               $("tr.friendly_encounter").show()
             }
           })
         <% end %>
      </div>
      <br>
      <div class="group content">
        <table class="data-table", style="text-align:left">
          <thead>
            <th>Bezeichnung</th>
            <th><%= t "views.date" %></th>
            <th>Gegner</th>
            <th>Ergebnis</th>
            <th>Zusatz-Info</th>
            <th>Aktionen</th>
          </thead>
          <tbody>
            <% played_matchdays.each_with_index do |matchday,i| %>
              <% match = (matchday.finale.nil? ? matchday.match_for_client(@client) : matchday.matches.first) %>
              <tr class="matchday <%= i.odd? ? 'odd' : 'even' %>" style="line-height:2em;">
                <td>
                  <% if matchday.finale %>
                      <%= matchday.human_name %>
                  <% else %>
                      Spieltag Nr.<%= matchday.position %>
                  <% end %>
                </td>
                <td><%= l(matchday.played_at.to_date) %></td>
                <td><% opp = match.opponent_for(@contestant) %><%= "#{opp.name}, #{opp.location}"%></td>
                <td style="text-align:center">
                  <% result =  match.main_result %>
                  <% result = (match.slots.first.contestant == @contestant ? result : result.reverse!) %>  
                  <span style="color:<%= result[0] >= result[1] ? "green" : "red" %>"> <%= result.join(":") %> </span>
                </td>
                <td><% if matchday.trial? %>
                  <%= image_tag('state/ok.png', :title => "Probespieltag", :class => "tooltipped") %> 
                  <% elsif matchday.finale %>
                    <%= image_tag('ui/trophy_1.png', :title => "Final-Eight Begegnung", :class => "tooltipped") %>
                  <% end %>
                </td>
                <td><%= link_to image_tag('actions/show.png'), (matchday.finale.nil? ? contest_matchday_match_url(matchday.contest,matchday,match) : match_results_contest_finale_url(match.matchday.contest, :params => {:id => match.id})), {:title => "Begegnung anzeigen", :class => "tooltipped"} %></td>
              </tr>
            <% end %>
            <% friendly_encounters.each_with_index do |fe,i| %>
               <tr class="friendly_encounter <%= (played_matchdays.length+i).odd? ? 'odd' : 'even' %>" style="line-height:2em;">
                <td>Freundschaftsspiel</td>
                <td><%= fe.played? ? l(fe.played_at.to_date) : "ausstehend" %></td>
                <td><% opp = fe.opponent_for(@contestant) %><%= "#{opp.name}, #{opp.location}" if opp %></td>
                <td style="text-align:center">
                  <% if fe.played? %>
                    <% result =  fe.main_result %>
                    <% result = (fe.contestants.first == @contestant ? result : result.reverse!) %>  
                    <span style="color:<%= result[0] >= result[1] ? "green" : "red" %>"> <%= result.join(":") %> </span>
                  <% end %>
                </td>
                <td></td>
                <td><%= link_to image_tag('actions/show.png'), [@context, fe], {:title => "Begegnung anzeigen"} %></td>
              </tr>             
            <% end %>
          </tbody>
        </table>
      </div>
     <% else %>
      <div class="group title">
       Dieser Client hat bisher an keinem Spieltag teilgenommen.
      </div>
     <% end %>
     </div>
     
     <div class="group frame">
       <div class="group title">
         Logfiles
       </div>
       <div class="group content">
         <% items = [["Bitte auswählen"],["Tests","test 0"]] %>
         <% l_matches = @contestant.matches.select{|m| m.matchday.client_played?(@client) and m.matchday.published?}.collect{|m| ["Spieltag #{m.matchday.position} vom #{l m.matchday.played_at.to_date}","match #{m.id}"]} %>
         <% unless l_matches.empty? %>
           <% items += ["Wettbewerb:"] %>
           <% items += l_matches %>
         <% end %>
         <% f_encounters = @contestant.friendly_encounters.select{|f| f.played? and not f.friendly_match.nil? and f.client_played?(@client)}.collect{|f|  ["...vom #{l f.created_at.to_date} gegen "+f.contestants.select{|c| c != @contestant}.first.name, "match #{f.friendly_match.id}"]} %>
         <% unless f_encounters.empty? %>
           <% items += ["Freundschaftsspiel"] %>
           <% items +=  f_encounters %>
         <% end %>
         <% form_for :log do |f| %>
           <%= select "log", "match", items %> 
         <% end %>
         <div id="logs_title">
           Verfügbare Logs: 
         </div>
         <div id="logs">
           Bitte zuerst eine Begegnung auswählen!
         </div>
         <% javascript_tag do %>
            $("div#logs_title").hide()
            $("select#log_match").change(function(){
                $("select#log_match option:selected").each(
                 function(){
                   selected = $(this).val()
                   if(selected != "Bitte auswählen" && selected != "Freundschaftsspiel" && selected != "Wettbewerb:"){
                     get_logs_for_selection(selected.split(" ")[0], selected.split(" ")[1])
                     $("div#logs_title").show()
                   }else{
                     $("div#logs_title").hide()
                     $("div#logs").html("")
                   }
                 }
                )
              })

              function get_logs_for_selection(match_type, match_id){
                $.get("<%= url_for [:get_logs, @context,@contestant,@client]%>", 
                  {type: match_type, match_id: match_id, as_box: 0},
                  function (returned_data) {
                   $("div#logs").html(returned_data)  
                  }
                )
              }
         <% end %>
       </div>
      </div>
      
       <div class="group frame">
         <div class="group content">
           <% @comments = @client.comments %>
           <div id="comments_list">
             <% unless @comments.empty? %>
              <%= render :partial => 'client_comment_list' %>
             <% else %>
              <b>Kommentare:</b><br>Zur Zeit sind keine Kommentare vorhanden!<br>
             <% end %>
            </div>
           <%= render :partial => 'client_create_comment', :locals => {:client => @client, :no_cancel => true, :not_bind_submit => true} %>
           <% javascript_tag do %>
             function show_comments_for(client_id){
               show_comments(client_id)
               $("html,body").animate({ scrollTop: $("#comments_list").offset().top}, 500) 
               $("textarea#text").val("")
            }
            
            function delete_comment(comment_id, client_id) {
              if(confirm("Wollen Sie den Kommentar wirklich löschen?")) {
                $.get("<%= url_for [:delete_comment, @context,@contestant,@client]%>", 
                  {comment_id: comment_id},
                  function (returned_data) {
                   if(returned_data == "false") {
                       alert("Kommentar konnte nicht gelöscht werden")
                   }
             show_comments(client_id) 
            })}}
            
           function show_comments(client_id){
             $.get("<%= url_for [:get_comments, @context, @contestant, @client] %>", {client_id: <%= @client.id %>, table: false},function(data){
               $("#comments_list").html(data)})}
           <% end %>
         </div>
       </div>

       <% show_to :administrator do %>
         <div class="group frame">
           <% unless @client.fake_tests.empty? %>
             <div class="group title">
               Plagiat Tests mit diesem Computerspieler:
             </div>
             <div class="group content">
               <table class="data-table", style="text-align:left">
                <thead>
                  <th>Gegen</th>
                  <th>Erstellt am</th>
                  <th>Status</th>
                  <th>Aktionen</th>
                </thead>
                <tbody>
                 <% @client.fake_tests.each_with_index do |ft,i| %>
                  <tr class="<%= i.odd? ? 'odd' : 'even' %>" style="line-height:2em;">
                    <% opp =  ft.clients.select{|c| c != @client}[0] %>
                    <td title="<%=client_tooltip_text opp %>" class="tooltipped"><%= get_readable_client_name opp, false %></td>
                    <td><%= l ft.created_at.to_date %></td>
                    <td><%= image_for_state(ft.done? ? "true" : "idle") %></td>
                    <td><%= link_to image_tag('actions/show.png', :title => "Plagiat-Test anzeigen", :class => "tooltipped"), contest_fake_test_suite_fake_test_url(ft.contest,ft.fake_test_suite,ft) %></td> 
                  </tr>         
                 <% end %>
                 </tbody>
                 </table>
            </div>
            </div>
         <% else %>  
           <div class="group title"> Es wurden noch keine Plagiat-Tests mit diesem Client durchgeführt! </div>
         <% end %>
       <% end %>
<% end %>


