<h1>
  <%= link_to @contest.name, contest_contestants_url %> /
  <%= link_to @contestant.name, contest_contestant_clients_path(@contestant) %> /
  Hauptdatei w채hlen
</h1>

<h3><%=h @client.file_file_name %></h3>

<h4>Ausf체hrungsdatei:
  <% if @client.main_file_entry %>
    <%=h @client.main_file_entry.file_name %>
  <% else %>
    <%=h 'Es wurde bisher keine Ausf체hrungsdatei ausgew채hlt.' %>
  <%end%>
</h4>

<table class="data-table" id="fileList">
  <%= render :partial => 'file_entries' %>
</table>
