<h1>Verfügbare Computerspieler</h1>

<div style="float: right;">
  <%= link_to_remote "Zurück", :url => browse_contestant_client_url(@client.contestant, @client) %>
</div>

<h3><%=h @client.file_file_name %></h3>

<h4>Ausführungsdatei:
  <% if @client.main_file_entry %>
    <%=h @client.main_file_entry.file_name %>
  <% else %>
    <%=h 'Es wurde bisher keine Ausführungsdatei ausgewählt.' %>
  <%end%>
</h4>

<table class="data-table" id="fileList">
  <%= render :partial => "file_entry", :collection => @client.file_entries.with_level(0), :locals => { :client => @client } %>
</table>

<%= link_to 'Back', contestant_clients_path(@contestant) %>