<div id="actions">
  <% link_to new_contest_contestant_client_url(@contestant) do %>
    <%= image_tag('actions/add.png') %><%= t("views.upload_client") %>
  <% end %>
</div>

<h1>
  <%= link_to @contest.name, contest_contestants_url %> /
  <%= @contestant.name %>
</h1>


<% tabnav :contestant do %>

  <% unless @contestant.current_client %>
    <div style="margin: 0 -10px 1em -10px; padding: 0.8em 10px; border: 1px solid #ddd; background-color: #eee;">
      <strong><%= t("views.important_clue")+": " %> </strong> <%= t("views.client_message_one") %>
    </div>
  <% end %>

  <div style="margin: 0 -10px 1em -10px; padding: 0 10px;">
    <p>
      <%= t("views.client_message_one") %>
       </p>
    <p>
      <br>
      <%= t("views.you_can_leave_while_testing") %>
    </p>
    <p>
      <br><b>
     <%= t("views.client_can_be_tested") %> 
      </b>
    </p>
  </div>

  <% javascript_tag do %>
  var client_urls = new Array();

  function setup_new_comment_link(client_id) {
    $("a#new_comment_"+client_id).bind('click', function() {
      $("tr#create_comment_"+client_id+" textarea#text").val("")
      $("tr#create_comment_"+client_id).fadeIn(500)
      $("tr#create_comment_"+client_id+" textarea#text").select()
      var top = $("tr#create_comment_"+client_id+" textarea#text").offset().top
      $("html,body").animate({ scrollTop: top }, 500)
      return false
    }) 
  }

  function update_comment_icon(client_id) { 
    $("a#show_comments_"+client_id).unbind('click')
    if(!$("tr#client_"+client_id+"_comments").is(":visible")) {
      $("a#show_comments_"+client_id).bind('click', function() {
        show_comments(client_id)
        return false
      })
      $("a#show_comments_"+client_id+" img#icon").replaceWith('<%= image_tag "actions/arrow_down.png", :id => "icon" %>') 
    } else {
      $("a#show_comments_"+client_id).bind('click', function() {
        hide_comments(client_id)
        return false
      })
      $("a#show_comments_"+client_id+" img#icon").replaceWith('<%= image_tag "actions/arrow_up.png", :id => "icon" %>')
    }

    setup_new_comment_link(client_id)
  }

  function show_comments(client_id) {
    show_comments_for(client_id) 
    $("a#show_comments_"+client_id).show()
  }
    
  function hide_comments(client_id) {
    $("tr#client_"+client_id+"_comments").fadeOut(500, function() {
      $("tr#client_"+client_id+"_comments").hide()
      update_comment_icon(client_id)
    })
  }

  function show_comments_for(client_id) {
    $.get(client_urls[client_id] + '/get_comments', 
      {client_id: client_id},
      function (returned_data) {
        $("tr#client_"+client_id+"_comments").replaceWith(returned_data)
        if($("tr#client_"+client_id+"_comments div.comment")[0] != undefined) {
          $("tr#client_"+client_id+"_comments").fadeIn(500)
          $("html,body").animate({ scrollTop: $("tr#client_"+client_id+"_comments").offset().top }, 500)
        } else {
          $("tr#client_"+client_id+"_comments").fadeOut(500, function() {
            $("a#show_comments_"+client_id).hide()
          })
        }  
        update_comment_icon(client_id)
      }
    )
  }

  function delete_comment(comment_id, client_id) {
    if(confirm("Wollen Sie den Kommentar wirklich löschen?")) {
      $.get(
        client_urls[client_id] + '/delete_comment', 
        {comment_id: comment_id},
        function (returned_data) {
          if(returned_data == "false") {
            alert("Kommentar konnte nicht gelöscht werden")
          }
          show_comments(client_id) 
        }
      )
    }
  }
  <% end %>

  <table class="data-table">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th colspan="2"><%= t("views.test").capitalize %></th>
        <th><%= t("views.filename") %></th>
	<th>Kommentar</th>
        <th><%= t("views.mainfile") %></th>
      </tr>
    </thead>
    <%= render :partial => "client", :collection => @contestant.clients.visible.all(:order => "created_at DESC"), :locals => {:render_comments => true} %>
  </table>
<% end %>

<% unless @contestant.has_running_tests? %>
  <% javascript_tag do %>
    $('.testActions .enabled').show();
    $('.testActions .disabled').hide();
  <% end %>
<% end %>
