<div id="actions">
  <% link_to new_contest_contestant_client_url(@contestant) do %>
    <%= image_tag('actions/add.png') %><%= t("views.upload_client") %>
  <% end %>
</div>

<h1>
  <%= link_to @contest.name, contest_contestants_url %> /
  <%= @contestant.name %>
</h1>


<% tabnav :contestant do %>

  <% unless @contestant.current_client %>
    <div style="margin: 0 -10px 1em -10px; padding: 0.8em 10px; border: 1px solid #ddd; background-color: #eee;">
      <strong><%= t("views.important_clue")+": " %> </strong> <%= t("views.client_message_one") %>
    </div>
  <% end %>

  <div style="margin: 0 -10px 1em -10px; padding: 0 10px;">
    <p>
      <%= t("views.client_message_one") %>
       </p>
    <p>
      <br>
      <%= t("views.you_can_leave_while_testing") %>
    </p>
    <p>
      <br><b>
     <%= t("views.client_can_be_tested") %> 
      </b>
    </p>
  </div>

  <table class="data-table">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th colspan="2"><%= t("views.test") %></th>
        <th><%= t("views.filename") %></th>
        <th><%= t("views.mainfile") %></th>
      </tr>
    </thead>
    <%= render :partial => "client", :collection => @contestant.clients.visible.all(:order => "created_at DESC") %>
  </table>
<% end %>

<% unless @contestant.has_running_tests? %>
  <% javascript_tag do %>
    $('.testActions .enabled').show();
    $('.testActions .disabled').hide();
  <% end %>
<% end %>
