<h1>
  <% if @season %><%= link_to @season.name, @season %> / <% end %>
  <% if @context.is_a? Season and @contest %><%= link_to @contest.name, contest_contestants_url(@contest) %> /<% end %>
  <%= @contestant.name %> /
  <%= t "titles.upload_new_client" %>
</h1>

<% tabnav :contestant do %>
  <% semantic_form_for([@context, @contestant, @client], :html => { :multipart => true }) do |f| %>
    <% f.inputs do %>
      <%= f.input :file, :label => "&nbsp;" %>
      <%= f.input :name, :label => "Name" %>
      <%= f.input :parameters, :label => "Parameter" %>
    <% end %>

    <% f.buttons do %>
      <%= f.commit_button :label => t("actions.upload_client") %> <%= t("views.or") %> <%= link_to t("actions.back"), [@context, @contestant, :clients] %>
    <% end %>
  <% end %>

  <div style="width: 100%; text-align: center">
    <a href="#" id="no_flash"><%= t("actions.upload_without_flash") %></a> 
    <a href="#" id="with_flash" style="display: none"><%= t("actions.upload_with_flash") %></a>
  </div>

  <div style="position: relative; margin: 20px -10px 1em -10px; padding: 0.8em 10px; border: 1px solid #ddd; background-color: #eee;">
    <strong><%= t("views.clue")+": " %> </strong>
    <ul style="margin-left: 20px">
      <li><%= t("views.upload_steps_upload") %></li>
      <li><%= t("views.upload_steps_select_main_file") %></li>
      <li><%= t("views.upload_steps_file_extension") %></li>
      <li><%= t("views.upload_steps_handle_main_file") %>
      <ul style="margin-left: 20px">
        <li>.jar -> Java</li>
        <li>.exe -> Wine</li>
        <li><%= t("views.all_others") %> -> <%= t("views.run_under_linux") %> (<a id="note_linux" href="#"><%= t("views.clue") %></a>)</li>
      </ul>
      </li>
      <li><%= t("views.upload_steps_working_directory") %>
      <li><%= t("views.upload_steps_name_parameters") %>
    </ul>
    <div id="note_linux_box" style="position: absolute; top: 50px; width: 800px; margin: 5px; padding: 5px; display: none; border: 2px solid #aaa; background-color: #ccc;">
      <%= t("views.vm_system_specifications") %><br>
      <strong><%= t("views.test_with_time_to_spare") %></strong><br>
      <a href="#" id="note_linux_close"><%= t("actions.close") %></a>
    </div>
  </div>
<% end %>

<style type="text/css">
  object {
    border: 0px;
  }

  object:focus {
    outline: none;
    cursor: pointer;
  }
</style>

<script type="text/javascript">
  $(function() {
    $("a#note_linux").bind('click', function() {
      $("div#note_linux_box").fadeIn(300);
      return false;
    })

    $("a#note_linux_close").bind('click', function() {
      $("div#note_linux_box").fadeOut(300);
      return false;
    })
  })

  $(function() {
    $("a#no_flash").bind('click', function() {
      $("a#no_flash").hide()
      $("a#with_flash").show()
      $("div#client_fileUploader").hide()
      $("div#client_fileQueue").hide()
      $("object#client_fileUploader").hide()
      $("#new_client .buttons").fadeIn(500)
      $("input#client_file").fadeIn(500)
      return false
    })

    $("a#with_flash").bind('click', function() { 
      $("a#with_flash").hide()
      $("#new_client .buttons").hide()
      $("input#client_file").hide()
      $("a#no_flash").fadeIn(500)
      $("div#client_fileUploader").fadeIn(500)
      $("div#client_fileQueue").fadeIn(500)
      $("object#client_fileUploader").fadeIn(500)
    })
  })

  $(document).ready(function() {
    //return;
    var token = encodeURIComponent(encodeURIComponent($('#new_client [name=authenticity_token]').val()));
    var parameter = $("input#parameters").val();
    //$('#new_client .buttons').hide();
    $('#client_file').uploadify({
      uploader: '/flashs/uploadify.swf',
      script: '<%= url_for([@context, @contestant, @client]) %>',
      fileDataName: 'client[file]',
      cancelImg: '/images/actions/delete.png',
      buttonImg: '/images/actions/upload.png',
      width: '350',
      height: '48',
      rollover: true,
      wmode: 'transparent',
      fileExt: '*.zip',
      fileDesc: '<%= t("labels.zipped_client") %>',
      auto: true,
      multi: false,
      queueSizeLimit: '1',
      simUploadLimit: '1',
      debug: true,
      onComplete: function(event, queueId, fileObj, response, data) {
        window.location.href = '<%= url_for [@context, @contestant, :clients] %>';
        return true;
      },
      onInit: function() {
        $('#new_client .buttons').hide(); 
      },
      onSelectOnce: function() {
        var upload = $("#client_file");
        upload.uploadifySettings('scriptData', {
            'client[parameters]' : $("input#client_parameters").val(),
            'client[name]' : $("input#client_name").val(),
            'authenticity_token' : encodeURIComponent($('#new_client [name=authenticity_token]').val())
        });
      },
      scriptData: {
        '<%= u get_session_key_name %>': '<%= u cookies[get_session_key_name] %>'
      }
    });
  });
</script>
