<h1>
  <%= link_to @contest.name, contest_contestants_url(@contest) %> /
  <%= @contestant.name %> /
  <%= current_page_title %>
</h1>

<% tabnav :contestant do %>
  <% semantic_form_for([@contestant, @client], :html => { :multipart => true }) do |f| %>
    <% f.inputs do %>
      <%= f.input :file %>
    <% end %>

    <% f.buttons do %>
      <%= f.commit_button %> oder <%= link_to 'Zurück', contestant_clients_url(@contestant) %>
    <% end %>
  <% end %>
<% end %>