<p>
  <b>Name:</b>
  <%=h @client.name %>
</p>

<p>
  <b>Contestant:</b>
  <%=h @client.contestant_id %>
</p>

<p>
  <b>Author:</b>
  <%=h @client.author_id %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>