<% semantic_form_for([@contestant, @person]) do |f| %>
  <% f.inputs do %>
    <%= f.input :first_name, :required => true %>
    <%= f.input :last_name, :required => true %>
    <%= f.input :nick_name %>
    <%= f.input :email, :required => true, :hint => "Bei der Anmeldung muss diese E-Mail Addresse angegeben werden." %>
    <%= f.input :password, :required => @person.new_record?,
      :hint => ("Die Mindestlänge ist #{Person::MINIMUM_PASSWORD_LENGTH} Zeichen" + (@person.new_record? ? "" : ", frei lassen um Passwort nicht zu ändern") + "."),
      :input_html => { :value => "", :autocomplete => "off" } %>

    <% if (!current_user.pupil? and current_user != @person) or current_user.administrator? %>
      <%= f.input "teams", :as => "check_boxes", :collection => current_user.manageable_teams, :selected => @person.teams.collect(&:id), :required => false %>
      <%= f.input "blocked", :required => false %>
    <% end %>

  <% end %>
  <p>
    <%= f.buttons %>
  </p>
<% end %>