<% semantic_form_for [@contest, @school] do |f| %>
  <% f.inputs do %>
    <div class="group frame">
      <div class="group title">
        Schuldaten
      </div>
      <div class="group content">
        <%= f.input :name, :required => true %>
        <%= f.input :zipcode, :required => true %>
        <%= f.input :location, :required => true %>
        <%= f.input :state, :required => true, :collection => School::STATES.sort, :prompt => "Bitte wählen..." %>
        <%= f.input :estimated_team_count, :required => true, :input_html => {:size => 3} %>
      </div>
    </div>
    <div class="group frame" style="margin-bottom: 10px">
      <div class="group title">
        Kontaktdaten
      </div>
      <div class="group content">
        <li class="string">
          <label>
            <%= School.human_attribute_name :contact_name %>: 
          </label>
          <span style="vertical-align: middle">
            <%= @school.contact.first_name %>
          </span>
        </li>
        <li class="string">
          <label>
            <%= School.human_attribute_name :contact_last_name %>: 
          </label>
          <span style="vertical-align: middle">
            <%= @school.contact.last_name %>
          </span>
        </li>
        <li class="string">
          <label>
            <%= School.human_attribute_name :contact_email %>: 
          </label>
          <span style="vertical-align: middle">
            <%= @school.contact.email %>
          </span>
        </li>
        <% functs = ["head", "teacher", "pupil"].collect{|func| [t("acl9.roles.contestant.#{func}"), func]} %>
        <% functs << "Andere" %>
        <%= f.input :contact_function, :required => true, :collection => functs, :prompt => "Bitte wählen..." %> 
        <li id="school_contact_function_other_input" class="string" style="display: none">
          <label for=school_contact_function_other"></label>
          <%= text_field_tag :school_contact_function_other, "", :name => "contact_function_other" %>
        </li>
      </div>
    </div>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button t("actions.save") %> oder
    <%= link_to t("views.back"), contest_url(@contest) %>
  <% end %>
<% end %>
<% javascript_tag do %>
  function update_view() {
    if($("#school_contact_function").val() == "Andere") {
      $("#school_contact_function_other_input").fadeIn(250)
    } else {
      $("#school_contact_function_other_input").fadeOut(250)
    }
  }
  
  $(function() {
    $("#school_contact_function").change(function() {
      update_view();
    })
    update_view();
  })
<% end %>
