<h1>
  <%= link_to @contest.name, contest_url(@contest) %> /
  Meine <%= School.human_name(:count => 2) %>
</h1>

<% tabnav :contest do %>
  <table class="data-table">
    <thead>
      <tr>
        <th><%= School.human_attribute_name("name") %></th>
        <th><%= School.human_attribute_name("location") %></th>
        <th><%= School.human_attribute_name("state") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @schools.each do |school| %>
        <%= render :partial => "school", :locals => {:school => school} %>
      <% end %>
      <% unless @other_schools.empty? %>
        <tr class="medium-gap">
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="4">
            <b>Die folgenden Schulen haben Sie nicht selbst angemeldet, aber ihnen Teams hinzugefügt</b>
          </td>
        </tr>
        <% @other_schools.each do |school| %>
          <%= render :partial => "school", :locals => {:school => school} %>
        <% end %>
      <% end %>
    </tbody>
  </table> 
<% end %>
