<h1>
  <%= link_to @contest.name, contest_url(@contest) %> /
  Meine <%= School.human_name(:count => 2) %>
</h1>

<% tabnav :contest do %>
  <% show_to :administrator do %><div style="margin-bottom: 20px; font-weight: bold">Es sind aktuell <%= @contest.schools.count %> Schulen angemeldet.</div><% end %>
  <div id="filter">
    Anzeige auf Bundesland beschränken: <%= select_tag "select_state",options_for_select(((@schools.collect{|s| s.state} | @other_schools.collect{|s| s.state}).collect{|s| [s, s.downcase]} << ["Alle", "all"]).sort{|a,b| a.first <=> b.first}) %>
  </div>
  <table class="tablesorter data-table" id="schools">
    <thead>
      <tr>
        <th><%= School.human_attribute_name("name") %></th>
        <th><%= School.human_attribute_name("location") %></th>
        <th><%= School.human_attribute_name("state") %></th>
        <th class="middle">Aktionen</th>
      </tr>
    </thead>
    <tbody>
      <% @schools.each do |school| %>
        <%= render :partial => "school", :locals => {:school => school} %>
      <% end %>
      <% unless @other_schools.empty? %>
        <tr class="medium-gap">
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="4">
            <b>Die folgenden Schulen haben Sie nicht selbst angemeldet, aber ihnen Teams hinzugefügt</b>
          </td>
        </tr>
        <% @other_schools.each do |school| %>
          <%= render :partial => "school", :locals => {:school => school} %>
        <% end %>
      <% end %>
    </tbody>
  </table> 
<% end %>

<% javascript_tag do %>
 $("#schools").tablesorter({
    headers: {
      3: { sorter: false }
    }
  }) 

  $("#select_state").change(function(){
   var new_state = $("#select_state option:selected").val()
   if(new_state == "all"){
     $(".school").show()
   }else{
     $(".school").hide()
     $("."+new_state).show()
   }
  })
<% end %>
