<h1>
  <%= link_to @contest.name, contest_url(@contest) %> / 
  Neue Schule anmelden
</h1>

<% tabnav :school do %>
  <div style="margin-bottom: 15px; border: 2px solid #ccc">
    <b><%= t("views.clue") %>: </b><%= t("views.school_reg_note") %>
  </div> 
  <div class="group frame">
    <div class="group title">
      <%= t("views.new_school_notes") %>
    </div>
    <div class="group content actionlist">
      <%= t("views.new_school_note_intro") %>
      <li>
        <%= t("views.new_school_note_step_1") %>
      </li>
      <li>
        <%= t("views.new_school_note_step_2") %>
      </li>
      <li>
        <%= t("views.new_school_note_step_3") %>
        <% if @current_user.email_event.rcv_contest_progress_info %>
          <%= t("views.new_school_note_step_3_email") %>
        <% end %>
      </li>
      <p class="medium-gap">
        <%= t("views.new_school_note_last") %>
      </p>
    </div>
  </div> 
  <div class="group frame">
    <div class="group title">
      <%= t("views.new_school_already_registered") %>
    </div>
    <div class="group content">
      <%= t("views.new_school_search_school") %>
      <br>
      <%= t("views.search_for") %>
      <input type="text" id="search" style="margin-top: 15px; margin-bottom: 10px"><br>
      <% javascript_tag do %>
        $(function() {
          $("#search").keyup(function() {
            $("#school_list tr.school").each(function(index) {
              var str = $("td.keywords", this).html()
              var keys = $("#search").val().split(" ")
              var show = true
              for (i=0; i < keys.length; i=i+1) {
                var regexp = new RegExp(keys[i], "i")
                if(str.match(regexp) == null) {
                  show = false
                }
              }
              if(show) {
                $(this).show()
              } else {
                $(this).hide()
              }
            }) 
          })
        })
      <% end %>
      <%= t("views.new_school_search_school_found") %>
      <div style="max-height: 150px; overflow: scroll; overflow-x: hidden">
        <table id="school_list" style="width: 90%">
          <colgroup width="30%" />
          <colgroup width="25%" />
          <colgroup width="25%" />
          <colgroup width="20%" />    
          <tr style="text-align: left">
            <th><%= School.human_attribute_name("name") %></th>
            <th><%= School.human_attribute_name("location") %></th>
            <th><%= School.human_attribute_name("state") %></th>
            <th></th>
          </tr>
          <% @contest.schools.each do |school| %>
            <tr class="school">
              <td class="keywords" style="display: none"><%= "#{school.name} #{school.location} #{school.state}" %></td>
              <td><%= school.name %></td>
              <td><%= school.location %></td>
              <td><%= school.state %></td>
              <td><%= link_to t("views.new_teams"), new_contest_school_preliminary_contestant_url(@contest, school) %></td> 
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <%= render :partial => "form" %>
<% end %>
