<h1>
  <%= link_to @contest.name, contest_url(@contest) %> / 
  Neue Schule anmelden
</h1>

<% tabnav :school do %>
  <div style="margin-bottom: 15px; border: 2px solid #ccc">
    <b><%= t("views.clue") %>: </b><%= t("views.school_reg_note") %>
  </div> 
  <div class="group frame">
    <div class="group title">
      Hinweise zum Anmeldeverfahren
    </div>
    <div class="group content actionlist">
      Das Anmeldeverfahren läuft in 3 Schritten ab:
      <li>
        Zunächst melden Sie Ihre Schule an. Diese Anmeldung ist absolut unverbindlich. Bitte prüfen Sie zunächst über die Suchfunktion (weiter unten), ob Ihre Schule bereits angemeldet wurde. Ist dies der Fall, können Sie direkt mit dem nächsten Schritt weitermachen.
      </li>
      <li>
        Wenn Ihre Schule angemeldet ist, können Sie nun sofort die einzelnen Teams anmelden, die für Ihre Schule antreten sollen. Auch diese Angaben sind zunächst noch unverbindlich. Prüfen Sie auch hier bitte, ob das gewünschte Team bereits eingetragen wurde. Haben Sie die gewünschten Teams angemeldet, können Sie diese bis zum Abschluss der Anmeldephase jederzeit über die Teamanmeldung bearbeiten. Bitte aktualisieren Sie auf diesem Wege Ihre Teamdaten, wenn sich etwas ändern sollte.
      </li>
      <li>
        Nach Abschluss der Anmeldephase wird schließlich eine endgültige und verbindliche Wahl darüber getroffen, welche Teams tatsächlich am Wettkampf teilnehmen werden. 
        <% if @current_user.email_event.rcv_contest_progress_info %>
          Sie werden über den Verlauf und das Ergebnis dieser Wahl per E-Mail informiert.
        <% end %>
      </li>
    </div>
  </div> 
  <div class="group frame">
    <div class="group title">
      Ist meine Schule bereits angemeldet?
    </div>
    <div class="group content">
      Suchen Sie hier nach einer Schule um herauszufinden, ob Ihre Schule bereits für diesen Wettbewerb angemeldet wurde.<br>
      Suche nach:
      <input type="text" id="search" style="margin-top: 15px; margin-bottom: 10px"><br>
      <% javascript_tag do %>
        $(function() {
          $("#search").keyup(function() {
            $("#school_list tr.school").each(function(index) {
              var str = $("td.keywords", this).html()
              var keys = $("#search").val().split(" ")
              var show = true
              for (i=0; i < keys.length; i=i+1) {
                var regexp = new RegExp(keys[i], "i")
                if(str.match(regexp) == null) {
                  show = false
                }
              }
              if(show) {
                $(this).show()
              } else {
                $(this).hide()
              }
            }) 
          })
        })
      <% end %>
      Gefundene Schulen:
      <div style="max-height: 150px; overflow: scroll; overflow-x: hidden">
        <table id="school_list" style="width: 90%">
          <colgroup width="35%" />
          <colgroup width="35%" />
          <colgroup width="30%" />
          <tr style="text-align: left">
            <th><%= School.human_attribute_name("name") %></th>
            <th><%= School.human_attribute_name("location") %></th>
            <th><%= School.human_attribute_name("state") %></th>
          </tr>
          <% @contest.schools.each do |school| %>
            <tr class="school">
              <td class="keywords" style="display: none"><%= "#{school.name} #{school.location} #{school.state}" %></td>
              <td><%= school.name %></td>
              <td><%= school.location %></td>
              <td><%= school.state %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <%= render :partial => "form" %>
<% end %>
