<% show_to :administrator do %>
  <% if @school.teams.empty? %>
    <div id="actions">
      <% link_to season_school_url(@season,@school), :method => :delete, :confirm => "Sind Sie wirklich sicher?" do %>
        <%= image_tag "actions/destroy.png" %> Schule entfernen    
      <% end %>
    </div>
  <% end %>
<% end %>

<h1>
  <%= link_to @season.name, season_schools_url(@season) %> / 
  <%= @school.name %>
</h1>

<% tabnav :school do %>
  <h2><%= @school.name %></h2>
  <div class="group frame">
    <div class="group title">   
      Schuldaten
    </div>
    <div class="group content">
      <div class="listing bold">
        <ol>
          <%= list_item_for(@school, :name) %>
          <%= list_item_for(@school, :zipcode) %> 
          <%= list_item_for(@school, :location) %>
          <%= list_item_for(@school, :state) %>
        </ol>     
      </div>
    </div>
  </div>
  <% if admin_for_school? %>
  <div class="group frame">
    <div class="group title">
      Kontaktdaten
    </div>
    <div class="group content">
      <div class="listing bold">
        <ol>
          <%= list_item(School.human_attribute_name("contact_name"), @school.contact.first_name) %>
          <%= list_item(School.human_attribute_name("contact_last_name"), @school.contact.last_name) %>
          <%= list_item(School.human_attribute_name("contact_email"), @school.contact.email) %>
          <%= list_item(School.human_attribute_name("contact_function"), @school.contact_function) %>
        </ol>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
