<% if Delayed::Job.exists? %>
  <div id="actions">
    <% link_to clear_jobs_url, :method => :post do %>
      <%= image_tag('actions/destroy.png') %><%= t "views.delete_all_jobs" %>
    <% end %>
  </div>
<% end %>

<h1><%= t "views.administration" %></h1>

<% tabnav :administration do %>

  <h3><%= t "views.settings" %></h3>
  <dl>
    <dt><%= t "views.max_runtime" %></dt>
    <dd><%= distance_of_time_in_words Delayed::Worker.max_run_time %></dd>
    <dt><%= t "views.max_trys" %></dt>
    <dd><%= Delayed::Worker.max_attempts %></dd>
  </dl>

  <h3><%= t "views.overview" %></h3>
  <table class="data-table">
    <thead>
      <tr>
        <th>ID</th>
        <th style="width: 40%;"><%= t "views.status" %></th>
        <th><%= t "views.planned_for" %></th>
        <th><%= t "views.began" %></th>
        <th style="text-align: center;"><%= t "views.prio" %></th>
        <th style="text-align: center;"><%= t "views.trys" %></th>
        <th><%= t "views.refreshed" %></th>
      </tr>
    </thead>
    <% unless @jobs.empty? %>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= job.id %></td>
          <td>
            <code style="font-size: 11px; line-height: 12px; color: #666;">
      <%=h job.last_error || "OK" %>
            </code>
          </td>
          <td><%= l(job.run_at, :format => "%d.%m.%y, %H:%M Uhr") %></td>
          <td>
            <% if job.locked_at %>
              <%= l(job.locked_at, :format => "%d.%m.%y, %H:%M Uhr") %>
            <% else %>
              -
            <% end %>
          </td>
          <td style="text-align: center;"><%= job.priority %></td>
          <td style="text-align: center;"><%= job.attempts %></td>
          <td>
            <%= l(job.updated_at, :format => "%d.%m.%y, %H:%M Uhr") %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="6"><%= t "views.no_jobs" %></td>
      </tr>
    <% end %>
  </table>

  <h2><%= t "views.logs" %></h2>

  <h3><%= t "views.game_server" %></h3>
  <div style="overflow: scroll;">
    <pre><%=h @server_log %></pre>
  </div>

  <h3><%= t "views.game_manager" %></h3>
  <div style="overflow: scroll;">
    <pre><%=h @manager_log %></pre>
  </div>
<% end %>
