<div class="ui-widget">
<div id="javascript_warning" class="ui-state-error ui-corner-all">
  <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
  Um das Wettkampfsystem nutzen zu können, muss in Ihrem Browser Javascript aktiviert sein.
  </p>
</div>
</div>
<% javascript_tag do %>
 $('div#javascript_warning').hide()
<% end %>

</div>
<h4>Geben Sie hier Ihre Zugangsdaten ein:</h4>
<br />
<% form_tag login_url() do %>
  <% fields_for :user do |f| %>
    <%= f.label :email, (t "labels.email_adress") %>
    <%= f.text_field :email %>
    <%= f.label :password, (t "labels.password") %>
    <%= f.password_field :password %>
  <% end %>
  <%= hidden_field_tag "redirect_url", params[:redirect_url] if params[:redirect_url] %>
  <div style="margin-top:15px"> 
  <%= submit_tag (t "actions.login"), :disable_with => t("actions.check") %>
  <span style="margin-left: 70px"><%= check_box_tag "remember_me" %><%= t "labels.remember_me" %></span>
  </div>
<% end %><br>
<%= link_to t("actions.new_account"), register_url() %><br>
<%= link_to t("actions.password_lost_send_new"), new_password_url() %> 
