<div class="ui-widget">
<div id="javascript_warning" class="ui-state-error ui-corner-all">
  <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
  Um das Wettkampfsystem nutzen zu können, muss in Ihrem Browser Javascript aktiviert sein.
  </p>
</div>
</div>
<% javascript_tag do %>
 $('div#javascript_warning').hide()
<% end %>

</div>
<% form_tag login_url do %>
  <% fields_for :user do |f| %>
    <%= f.label :email, (t "labels.email_adress") %>
    <%= f.text_field :email %>
    <%= f.label :password, (t "labels.password") %>
    <%= f.password_field :password %>
  <% end %>
  <%= submit_tag (t "actions.login"), :disable_with => t("actions.check") %>
<% end %><br>
<%= link_to t("actions.password_lost_send_new"), new_password_url %> 
