<h1>
  Registrieren
</h1>

<% tabnav :contest do %>
  <% semantic_form_for [@contest, @person], :url => contest_register_url(@contest) do |f| %>
    <% f.inputs do %>
      <% f.fields_for @person do |p| %>
        <%= p.input :first_name, :required => true %>
        <%= p.input :last_name, :required => true %>
        <%= p.input :email, :required => true %>
        <% generated_password = random_password() %>
        <%= p.input :password, :required => true, :hint => (t("views.password_info") + "<br>" + t("views.password_length", {:min_length => Person::MINIMUM_PASSWORD_LENGTH}) + ". Z.B. #{generated_password} <a href=\"#\" onclick=\"$('input#person_person_password').val('#{generated_password}');return false;\">".html_safe + t("actions.use") + "</a>".html_safe), :input_html => { :value => "", :autocomplete => "off" } %>
        <%= p.input :phone_number, :required => false %> 
      <% end %>
      <br>
      <% f.fields_for @email_event do |e| %>
        <%= hidden_field_tag "person[email_event][rcv_contest_progress_info]", "1" %>
        <%= hidden_field_tag "person[email_event][rcv_client_matchday_warning]", "1" %>
      <% end %> 
    <% end %>
    <% f.buttons do %>
      <%= f.commit_button t("actions.save") %> 
      oder <%= link_to "Zurück", contest_url(@contest) %>
    <% end %>
  <% end %>
<% end %>
