<h1><%= t("titles.edit_notif") %></h1>

<style type="text/css">
  input {
    vertical-align: middle;
  }
</style>

<% tabnav :person do %>
  <p style="font-weight: bold"><%= t("views.receive_email_when") %></p><br>
  <% semantic_form_for @email_event, :url => (@contestant ? [@contest, @contestant, @person, :email_event] : [@contest, @person, :email_event]) do |f| %>
    <% f.inputs do %>
      <% show_to :administrator do %>
        <%= f.input :rcv_on_matchday_played, :required => false %>
      <% end %>
      <%= f.input :rcv_on_matchday_published, :label => @current_user.has_role?(:administrator) ? "Ein neuer Spieltag wurde veröffentlich" : "Ein neuer Spieltag wurde gespielt", :required => false %>
      <%= f.input :rcv_client_matchday_warning, :required => false %> 
      <%= f.input :rcv_contest_progress_info, :required => false %>
    <% end %>
    <% f.buttons do %>
      <%= f.commit_button %>
    <% end %>
  <% end %>
<% end %>
