<h1><%= t("titles.edit_notif") %></h1>

<style type="text/css">
  input {
    vertical-align: middle;
  }
</style>

<% tabnav :person do %>
  <p style="font-weight: bold"><%= t("views.receive_email_when") %></p><br>
  <% semantic_form_for @email_event, :url => (@contestant ? [@contest, @contestant, @person, :email_event] : [@contest, @person, :email_event]) do |f| %>
    <% f.inputs do %>
      <% show_to :administrator do %>
        <%= f.input :rcv_on_matchday_played %>
      <% end %>
      <%= f.input :rcv_client_matchday_warning %> 
      <%= f.input :rcv_contest_progress_info %>
    <% end %>
    <% f.buttons do %>
      <%= f.commit_button %>
    <% end %>
  <% end %>
<% end %>
