<h1><%= @person.name %> / <%= t("titles.edit_notif") %></h1>

<style type="text/css">
  input {
    vertical-align: middle;
  }
</style>

<% tabnav :person do %>
  <p><b>Benachrichtigungen werden gesendet an:</b> <%= @person.email %></p><br>
  <p style="font-weight: bold"><%= t("views.receive_email_when") %></p><br>
  <% semantic_form_for @email_event, :url => (@contestant ? [@contest, @contestant, @person, :email_event] : [@contest, @person, :email_event]) do |f| %>
    <% f.inputs do %>
      <% if @person.has_role? :administrator %>
        <%= f.input :rcv_on_matchday_played, :required => false %>
        <%= f.input :rcv_survey_token_notification, :required => false %>
      <% end %>
      <%= f.input :rcv_on_matchday_published, :label => @current_user.has_role?(:administrator) ? "Ein neuer Spieltag wurde veröffentlicht" : "Ein neuer Spieltag wurde gespielt", :required => false %>
      <%= f.input :rcv_client_matchday_warning, :required => false %> 
      <%= f.input :rcv_contest_progress_info, :required => false %>
      <%= f.input :rcv_quassum_notification, :required => false if Quassum::ApiUser.possible_api_user?(@person)%>
    <% end %>
    <% f.buttons do %>
      <%= f.commit_button %>
    <% end %>
  <% end %>
<% end %>
