<% allowQualify = true if local_assigns[:allowQualify].nil? %>
<style type="text/css">
  table#result {
    width: 100%;
    margin: 30px 0;
    border-spacing: 0;
  }

  table#result td {
    padding: 0;
  }

  table#result td:first-child {
    text-align: right;
    width: 45%;
  }
  table#result td:last-child {
    text-align: left;
    width: 45%;
  }


  table#result td.center {
    font-family: Georgia, serif;
    text-align: center;
    color: #999;
    padding: 0 10px;
    font-size: 16px;
    font-weight: normal;
  }

  table#result tr.values {
    line-height: 72px;
    font-size: 60px;
    font-weight: bold;
  }

  table#result tr.contestants {
    font-size: 24px;
    line-height: 1em;
    font-family: Georgia, serif;
  }

  table#result tr.contestants td {
    -webkit-box-reflect: below 0px -webkit-gradient(linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(0.5, transparent),
    to(rgba(255,255,255,0.2))
    );
  }

  table#rounds .separator td
  {
    border-top: 3px solid #4183C4;
  }

  table#rounds .preSeparator td
  {
    line-height: 24px;
  }

  table#rounds td.value
  {
    text-align: right;
  }
</style>

<table id="result">
  <tr class="contestants">
    <% match.slots.sort_by(&:position).each_with_index do |slot,i| %>
      <% unless i.zero? %>
        <td class="center">gegen</td>
      <% end %>
      <td>
        <%=h slot.name %>
      </td>
    <% end %>
  </tr>
  <% if match.result %>
    <% if match.matchday.published? or current_user.try(:administrator) %>
      <tr class="values">
        <% match.main_result.each_with_index do |value,i| %>
          <% unless i.zero? %>
            <td class="center">-</td>
          <% end %>
          <td>
            <%=h value  %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <% unless match.matchday.published? %>
      <tr><td class="center" colspan="<%= match.slots.count * 2 - 1 %>"><%=t "views.unpublished" %></td></tr>
    <% end %>
  <% else %>
    <tr class="values">
      <td class="center" colspan="<%= match.slots.count * 2 - 1 %>">
        Dieses Spiel findet erst am <%= l(match.matchday.when, :format => :long) %> statt.
      </td>
    </tr>
  <% end %>
</table>

<% if match.result %>

<% match_score_fragments = @contest.game_definition.match_score.count %>
<% round_score_fragments = @contest.game_definition.round_score.count %>
<% max_fragments = [round_score_fragments, match_score_fragments].max %>
<% match_colspan = 1 + [0, max_fragments - match_score_fragments].max %>
<% round_colspan = 1 + [0, max_fragments - round_score_fragments].max %>

<table id="rounds">
  <tr class="separator">
    <td colspan="<%= 2 + max_fragments %>">
      <h2>Gesamtergebnis</h2>
    </td>
  </tr>
  <tr>
    <th colspan="<%= match_colspan + ((not current_user.nil? and current_user.has_role?(:administrator)) ? 1 : 0) %>">&nbsp;</th>
    <% @contest.game_definition.match_score.each do |k,fragment| %>
      <th style="text-align: right"><%= match_score_fragment_name(@contest.game_definition, fragment) %></th>
    <% end %>
    <th>&nbsp;</th>
  </tr>
  <% match.slots.each do |slot| %>
    <tr>
      <td colspan="<%= match_colspan %>"><%= link_to slot.contestant.name, contest_contestant_matches_url(@contest, slot.contestant) %></td>
      <% show_to :administrator do %>
        <td></td> 
      <% end %>
      <% if slot.score and (match.matchday.published? or current_user.try(:administrator)) %>
        <% slot.score.to_a_with_precision.each do |value| %>
          <td style="text-align: right">  
            <%= value %>
          </td>
        <% end %>
      <% else %>
        <td colspan="<%= match_score_fragments %>">
          <%= t "views.no_results_yet" %>
        </td>
      <% end %>
      <td>&nbsp;</td>
    </tr>
  <% end %>
  <tr class="preSeparator">
    <td colspan="<%= 2 + max_fragments %>">
      &nbsp;
    </td>
  </tr>
  <tr class="separator">
    <td colspan="<%= 2 + max_fragments %>">
      <h2>Rundenergebnisse</h2>
    </td>
  </tr>
  <tr>
    <th colspan="<%= round_colspan %>">&nbsp;</th>
    <% if allowQualify %>
      <% show_to :administrator do %>
        <th></th>
      <% end %>
    <% end %>
    <%@contest.game_definition.round_score.each do |k, fragment| %>
      <th style="text-align: center"><%= round_score_fragment_name(@contest.game_definition, fragment) %></th>
    <% end %>
    <th>&nbsp;</th>
  </tr>
  <% match.rounds.each_with_index do |round,round_index| %>
    <tr class="round">
      <td colspan="<%= round_colspan + round_score_fragments + 2 %>">
        <div id="round_<%= round.id %>">
          <% if round.replay? and (match.matchday.published? or current_user.try(:administrator)) %>
            <span style="float: right;">
              <% if round.has_server_log? %>
                <% show_to :administrator do %>
                  <%= link_to "Serverlog", send_server_log_contest_matchday_match_round_url(@contest, round.match.matchday, round.match, round, :round_id => round.id), :method => :post %> 
                <% end %>
              <% end %>
              <%= link_to "Replay herunterladen", [@contest, match.matchday.becomes(Matchday), match.becomes(Match), round] %>
                <a href="#" id="replay_show_round_<%= round.id %>">Replay ansehen</a>
                <% javascript_tag do %>
                  $(function() {
                    $("a#replay_show_round_<%= round.id %>").bind('click', function() {
                      show_replay(<%= round.id %>, "<%= contest_matchday_match_round_url(@contest, match.matchday.id, match.id, round.id) %>")
                      return false
                    })
                 })
                <% end %>
            </span>
          <% end %>
          Runde <%= round_index.next %>
        </div>
      </td>
    </tr>
    <% round.slots.each do |slot| %>
      <tr>
        <td colspan="<%= round_colspan %>">
          <%= link_to slot.contestant.name, contest_contestant_matches_url(@contest, slot.contestant) %>
          <% if slot.score.cause != "REGULAR" %>
            <% tooltip ("
              <span>
                <em>
                (
                #{slot.qualification_changed ? "nachtrgl." : ""}
                #{t "views.disqualified"}
                )
                </em>
              </span>"), :inline => true do %> 
              <%= t("games.causes.#{slot.score.cause}", :default => slot.score.cause) %>
              <%= (slot.score.error_message.empty? ? "" : "<br>" + slot.score.error_message).html_safe! %>
            <% end %>
          <% elsif slot.qualification_changed %>
            <em>
              (<%= "nachtrgl. qualifiziert" %>)
            </em>
          <% end %>
        </td>
        <% if allowQualify %>
        <% show_to :administrator do %>
          <td>
            <% if slot.score.cause == "REGULAR" %>
              <% if not round.has_disqualified_slot? %> 
                <%= link_to (image_tag "actions/disqualify.png"), disqualify_contest_matchday_match_round_url(@contest, match.matchday, match, round, :slot => slot.id), :confirm => t("messages.confirm_disqualify"), :title => t("actions.disqualify") %>
              <% end %>
            <% elsif slot.qualification_changed %>
              <%= link_to (image_tag "actions/requalify.png"), requalify_contest_matchday_match_round_url(@contest, match.matchday, match, round, :slot => slot.id), :confirm => t("messages.confirm_requalify"), :title => t("actions.requalify") %>
            <% end %>
          </td>
        <% end %>
        <% end %>
        <% if slot.score and (match.matchday.published? or current_user.try(:administrator)) %>
          <% slot.score.to_a_with_precision.each_with_index do |value,i| %>
            <td style="min-width: 10px; text-align: center">
              <% if slot.qualification_changed %>
                [ <%= value %> ]
              <% else %>
                <%= value %>
              <% end %>
            </td>
          <% end %>
        <% else %>
          <td colspan="<%= round_score_fragments %>">
            <%= t "views.no_results_yet" %>
          </td>
        <% end %>
        <% if not current_user.nil? and (current_user.has_role? :administrator or not current_user.membership_for(slot.contestant).nil?) %>
          <td>
            <% if not slot.client.nil? and slot.client.has_logs_for? :match => match, :round => slot.round %>
              <%= link_to "Log", send_log_contest_contestant_client_url(@contest, slot.client.contestant, slot.client, :id => slot.client.id, :type => "match", :match_id => match.id, :round_id => slot.round.id), :method => :post %><br>
            <% end %>
          </td>
        <% else %>
          <td>&nbsp;</td>
        <% end %>
      </tr>
    <% end %>
      <tr>
        <td colspan="<%= round_colspan + round_score_fragments + 5 %>">
          <div style="background-color: #fff; display: none" id="replay_round_<%= round.id %>">
          <div style="width: 700px; text-align: right; margin-top: 10px">
            <a href="#" id="replay_close_round_<%= round.id %>">Schließen</a>
            <% javascript_tag do %>
              $(function() {
                $("a#replay_close_round_<%= round.id %>").bind('click', function() {
                  $("#replay_round_<%= round.id %>").hide(250)
                  return false
                })
              })
            <% end %>
          </div>

          <!-- <copy>JavaScript von Mathis Lichtenberger</copy> !-->
          <iframe class="replay_frame_<%= @contest.game_definition.game_identifier.to_s.downcase %>" id="replay_box_<%= round.id %>" style="border: none; margin-top: 5px"></iframe>
          </div>
        </td>
      </tr>
  <% end %>
</table>

<% javascript_tag do %>
    function show_replay(round, url) {
      $("#replay_box_" + round).attr({src: "http://socha.paniccrew.de/replayviewer/<%= @contest.game_definition.game_identifier.to_s %>/replay.php?replayURL=" + url})
      $("#replay_round_" + round).show(250)
    }
<% end %>

<% end %>
