<h1>
  <%= link_to @contest.name, contest_contestants_url %> /
  <%= @contestant.name %>
</h1>

<% tabnav :contestant do %>
  <table class="data-table">
    <colgroup span="2"/>
    <colgroup span="2"/>
    <colgroup width="15%"/>
    <thead>
      <tr>
        <th><%= t "views.matchday" %></th>
        <th><%= t "views.when" %></th>
        <th><%= t("views.player", {:number => 1}) %></th>
        <th><%= t("views.player", {:number => 2}) %></th>
        <th style="text-align: center;"><%= t "views.results" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "matchdays/match", :collection => @contestant.matches_including_free_days, :locals => { :date => true, :count => true } %>
    </tbody>
  </table>
<% end %>
