<div style="float: right;">
  <% if @matchday.running? %>
    Der Spieltag wird momentan durchgeführt!
  <% else %>
    <% if @matchday.played? %>
      <%= button_to "Spieltag wiederholen", play_contest_matchday_url(@contest, @matchday), :method => "post" %>
    <% else %>
      <%= button_to "Spieltag spielen", play_contest_matchday_url(@contest, @matchday), :method => "post" %>
    <% end %>
  <% end %>
</div>

<h2><%= @matchday.position %>. Spieltag von <%= @matchday.contest.name %> (<%= l(@matchday.when, :format => :long) %>)</h2>

<table>
  <tr>
    <th>Spieler 1</th>
    <th>&nbsp;</th>
    <th>Spieler 2</th>
    <th>Ergebnis</th>
  </tr>
  <% @matchday.matches.each do |match| %>
    <tr>
      <td><%= match.slots[0].name || "Freispiel" %></td>
      <td style="font-weight: bold;">vs</td>
      <td><%= match.slots[1].name || "Freispiel" %></td>
      <td>&nbsp;</td>
    </tr>
  <% end %>
</table>

<div>
  <% if @matchday.played? %>
    Durchgespielt am: <%= l(@matchday.played_at, :format => :long) %><br/>
  <% end %>
  Aktualisiert am: <%= l(@matchday.updated_at, :format => :long) %>
</div>