<h1>
  <%= link_to @contest.name, contest_contestants_url %> /
  <%= @contestant.name %>
</h1>

<% tabnav :contestant do %>
  <p style="font-size: 15px; margin-bottom: 15px">
    <b><%= Contestant.human_attribute_name(:ranking) %>: </b>&nbsp;
    <%= t("views.ranking.#{@contestant.ranking}") %>
  </p>

  <% if @contestant.matches_including_free_days.count > 0 %>
  <table class="data-table">
    <colgroup span="2"/>
    <colgroup span="2"/>
    <colgroup width="15%"/>
    <thead>
      <tr>
        <th><%= t "views.matchday" %></th>
        <th><%= t "views.when" %></th>
        <th><%= t("views.player", {:number => 1}) %></th>
        <th><%= t("views.player", {:number => 2}) %></th>
        <th style="text-align: center;"><%= t "views.results" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "matchdays/match", :collection => @contestant.matches_including_free_days, :locals => { :date => true, :count => true } %>
    </tbody>
  </table>
  <% else %>
    <p>
      <%= t("views.no_matches_planned") %>
    </p>
  <% end %>
<% end %>
