<h1>
  <%= link_to h(@contest.name), @contest %> /
  <%= link_to h("#{@matchday.position}. Spieltag"), [@contest, @matchday] %> /
  Spiel <%= @match.id %>
</h1>

<style type="text/css">
  table#result {
    margin: 60px 0;
  }

  table#result td {

  }

  table#result td:first-child {
    text-align: right;
    width: 45%;
  }
  table#result td:last-child {
    text-align: left;
    width: 45%;
  }


  table#result td.center {
    text-align: center;
    color: #555;
    padding: 0 10px;
    font-size: 0.7em;
  }

  table#result tr.values {
    line-height: 45px;
    font-size: 33px;
    font-weight: bold;
  }

  table#result tr.contestants {
    font-size: 24px;
    font-family: Georgia, serif;
    line-height: 40px;
  }
</style>

<table id="result" style="width: 100%;">
  <tr class="contestants">
    <% @match.slots.each_with_index do |slot,i| %>
      <% unless i.zero? %>
        <td class="center">gegen</td>
      <% end %>
      <td>
        <%=h slot.name %>
      </td>
    <% end %>
  </tr>
  <% if @match.result %>
    <tr class="values">
      <% @match.result.first.each_with_index do |value,i| %>
        <% unless i.zero? %>
          <td class="center">:</td>
        <% end %>
        <td>
          <%=h value  %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<h2>Gesamtergebnis</h2>

<table id="rounds">
  <tr>
    <th>&nbsp;</th>
    <% fragment_count = 0 %>
    <% @match.score_definition.fragments.each do |fragment| %>
      <th><%=h fragment.name %></th>
      <% fragment_count += 1 %>
    <% end %>
  </tr>
  <% @match.slots.each do |slot| %>
    <tr>
      <td><%= slot.name %></td>
      <% if slot.score %>
        <% slot.score.fragments.each do |fragment| %>
          <td><%= fragment.value %></td>
        <% end %>
      <% else %>
        <td colspan="<%= fragment_count %>">
          Noch keine Ergebnisse
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<h2>Rundenergebnisse</h2>

<table id="rounds">
  <tr>
    <th>&nbsp;</th>
    <% fragment_count = 0 %>
    <% @match.round_score_definition.fragments.each do |fragment| %>
      <th><%=h fragment.name %></th>
      <% fragment_count += 1 %>
    <% end %>
  </tr>
  <% @match.rounds.each_with_index do |round,round_index| %>
    <tr class="round">
      <td colspan="<%= fragment_count + 1 %>">
        Runde <%= round_index.next %>
      </td>
    </tr>
    <% round.slots.each do |slot| %>
      <tr>
        <td><%= slot.name %></td>
        <% if slot.score %>
          <% slot.score.fragments.each do |fragment| %>
            <td><%= fragment.value %></td>
          <% end %>
        <% else %>
          <td colspan="<%= fragment_count %>">
            Noch keine Ergebnisse
          </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>