<h1>
  <%= link_to h(@contest.name), @contest %> /
  <%= link_to h("#{@matchday.position}. Spieltag"), [@contest, @matchday] %> /
  Spiel <%= @match.id %>
</h1>

<style type="text/css">
  table#result {
    margin: 60px 0;
  }

  table#result td {

  }

  table#result td:first-child {
    text-align: right;
    width: 45%;
  }
  table#result td:last-child {
    text-align: left;
    width: 45%;
  }


  table#result td.center {
    text-align: center;
    color: #555;
    padding: 0 10px;
    font-size: 0.7em;
  }

  table#result tr.values {
    line-height: 45px;
    font-size: 33px;
    font-weight: bold;
  }

  table#result tr.contestants {
    font-size: 24px;
    font-family: Georgia, serif;
    line-height: 40px;
  }
</style>

<table id="result" style="width: 100%;">
  <tr class="contestants">
    <% @match.slots.each_with_index do |slot,i| %>
      <% unless i.zero? %>
        <td class="center">gegen</td>
      <% end %>
      <td>
        <%=h slot.name %>
      </td>
    <% end %>
  </tr>
  <% if @match.result %>
    <tr class="values">
      <% @match.main_result.each_with_index do |value,i| %>
        <% unless i.zero? %>
          <td class="center">:</td>
        <% end %>
        <td>
          <%=h value  %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<% match_score_fragments = @match.score_definition.fragments.count %>
<% round_score_fragments = @contest.round_score_definition.fragments.count %>
<% max_fragments = [round_score_fragments, match_score_fragments].max %>
<% match_colspan = 1 + [0, max_fragments - match_score_fragments].max %>
<% round_colspan = 1 + [0, max_fragments - round_score_fragments].max %>

<h2>Gesamtergebnis</h2>

<table id="rounds">
  <tr>
    <th colspan="<%= match_colspan %>">&nbsp;</th>
    <% @match.score_definition.fragments.each do |fragment| %>
      <th><%=h fragment.name %></th>
    <% end %>
  </tr>
  <% @match.slots.each do |slot| %>
    <tr>
      <td colspan="<%= match_colspan %>"><%= slot.name %></td>
      <% if slot.score %>
        <% slot.score.to_a_with_precision.each do |value| %>
          <td><%= value %></td>
        <% end %>
      <% else %>
        <td colspan="<%= match_score_fragments %>">
          Noch keine Ergebnisse
        </td>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <td colspan="<%= 1 + max_fragments %>">
      &nbsp;
    </td>
  </tr>
  <tr>
    <th colspan="<%= round_colspan %>">&nbsp;</th>
    <% @contest.round_score_definition.fragments.each do |fragment| %>
      <th><%=h fragment.name %></th>
    <% end %>
  </tr>
  <% @match.rounds.each_with_index do |round,round_index| %>
    <tr class="round">
      <td colspan="<%= round_colspan + round_score_fragments %>">
        Runde <%= round_index.next %>
      </td>
    </tr>
    <% round.slots.each do |slot| %>
      <tr>
        <td colspan="<%= round_colspan %>"><%= slot.name %></td>
        <% if slot.score %>
          <% slot.score.to_a_with_precision.each do |value| %>
            <td><%= value %></td>
          <% end %>
        <% else %>
          <td colspan="<%= round_score_fragments %>">
            Noch keine Ergebnisse
          </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>