<h1> 
  <%= link_to h(@contest.name), contest_matchdays_url %> /
  <%= link_to h("#{@matchday.position}. Spieltag"), [:contest, @matchday] %>
</h1>
<% show_to :administrator do %>
  <% if @match.played? %>
     <% link_to reset_contest_matchday_match_url(@match.matchday, @match), :method => "post", :title => t("actions.reset"), :id => "resetAction" do %>
       <%= image_tag('actions/destroy.png') %><%= t ("actions.reset") %>
     <% end %>
  <% end %>
<% end %>
 
<style type="text/css">
  table#result {
    width: 100%;
    margin: 30px 0;
    border-spacing: 0;
  }

  table#result td {
    padding: 0;
  }

  table#result td:first-child {
    text-align: right;
    width: 45%;
  }
  table#result td:last-child {
    text-align: left;
    width: 45%;
  }


  table#result td.center {
    font-family: Georgia, serif;
    text-align: center;
    color: #999;
    padding: 0 10px;
    font-size: 16px;
    font-weight: normal;
  }

  table#result tr.values {
    line-height: 72px;
    font-size: 60px;
    font-weight: bold;
  }

  table#result tr.contestants {
    font-size: 24px;
    line-height: 1em;
    font-family: Georgia, serif;
  }

  table#result tr.contestants td {
    -webkit-box-reflect: below 0px -webkit-gradient(linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(0.5, transparent),
    to(rgba(255,255,255,0.2))
    );
  }

  table#rounds .separator td
  {
    border-top: 3px solid #4183C4;
  }

  table#rounds .preSeparator td
  {
    line-height: 24px;
  }
</style>

<table id="result">
  <tr class="contestants">
    <% @match.slots.each_with_index do |slot,i| %>
      <% unless i.zero? %>
        <td class="center">gegen</td>
      <% end %>
      <td>
        <%=h slot.name %>
      </td>
    <% end %>
  </tr>
  <% if @match.result %>
    <% if @match.matchday.published? or current_user.try(:administrator) %>
      <tr class="values">
        <% @match.main_result.each_with_index do |value,i| %>
          <% unless i.zero? %>
            <td class="center">-</td>
          <% end %>
          <td>
            <%=h value  %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <% unless @match.matchday.published? %>
      <tr><td class="center" colspan="<%= @match.slots.count * 2 - 1 %>"><%=t "views.unpublished" %></td></tr>
    <% end %>
  <% else %>
    <tr class="values">
      <td class="center" colspan="<%= @match.slots.count * 2 - 1 %>">
        Dieses Spiel findet erst am <%= l(@match.matchday.when, :format => :long) %> statt.
      </td>
    </tr>
  <% end %>
</table>

<% if @match.result %>

<% match_score_fragments = @contest.game_definition.match_score.count %>
<% round_score_fragments = @contest.game_definition.round_score.count %>
<% max_fragments = [round_score_fragments, match_score_fragments].max %>
<% match_colspan = 1 + [0, max_fragments - match_score_fragments].max %>
<% round_colspan = 1 + [0, max_fragments - round_score_fragments].max %>

<table id="rounds">
  <tr class="separator">
    <td colspan="<%= 2 + max_fragments %>">
      <h2>Gesamtergebnis</h2>
    </td>
  </tr>
  <tr>
    <th colspan="<%= match_colspan %>">&nbsp;</th>
    <% @contest.game_definition.match_score.each do |k,fragment| %>
      <th><%= match_score_fragment_name(@contest.game_definition, fragment) %></th>
    <% end %>
    <th>&nbsp;</th>
  </tr>
  <% @match.slots.each do |slot| %>
    <tr>
      <td colspan="<%= match_colspan %>"><%= slot.name %></td>
      <% if slot.score and (@matchday.published? or current_user.try(:administrator)) %>
        <% slot.score.to_a_with_precision.each do |value| %>
          <td><%= value %></td>
        <% end %>
      <% else %>
        <td colspan="<%= match_score_fragments %>">
          <%= t "views.no_results_yet" %>
        </td>
      <% end %>
      <td>&nbsp;</td>
    </tr>
  <% end %>
  <tr class="preSeparator">
    <td colspan="<%= 2 + max_fragments %>">
      &nbsp;
    </td>
  </tr>
  <tr class="separator">
    <td colspan="<%= 2 + max_fragments %>">
      <h2>Rundenergebnisse</h2>
    </td>
  </tr>
  <tr>
    <th colspan="<%= round_colspan %>">&nbsp;</th>
    <%@contest.game_definition.round_score.each do |k, fragment| %>
      <th><%= round_score_fragment_name(@contest.game_definition, fragment) %></th>
    <% end %>
    <th>&nbsp;</th>
  </tr>
  <% @match.rounds.each_with_index do |round,round_index| %>
    <tr class="round">
      <td colspan="<%= round_colspan + round_score_fragments %>">
        <div>
          <% if round.replay? and (@matchday.published? or current_user.try(:administrator)) %>
            <span style="float: right;">
              <% if round.has_server_log? then show_to :administrator do%>
                <%= link_to "Serverlog", send_server_log_contest_matchday_match_round_url(round.match.matchday, round.match, round) %> 
              <% end %>
              <%= link_to "Replay herunterladen", [:contest, @match.matchday, @match.becomes(Match), round] %>
            </span>
          <% end %>
          Runde <%= round_index.next %>
        </div>
      </td>
    </tr>
    <% round.slots.each do |slot| %>
      <tr>
        <td colspan="<%= round_colspan %>">
          <%= slot.name %>
          <% if slot.score.cause != "REGULAR" %>
            <em>(<%=t "views.disqualified" %>)</em>
          <% end %>
        </td>
        <% if slot.score and (@matchday.published? or current_user.try(:administrator)) %>
          <% slot.score.to_a_with_precision.each do |value| %>
            <td><%= value %></td>
          <% end %>
        <% else %>
          <td colspan="<%= round_score_fragments %>">
            <%= t "views.no_results_yet" %>
          </td>
        <% end %>
        <% if not current_user.nil? and (current_user.has_role? :administrator or not current_user.membership_for(slot.contestant).nil?) %>
          <td>
            <% if slot.client.has_logs_for? :match => @match, :round => slot.round %>
              <%= link_to "Log", send_log_contest_contestant_client_url(slot.client.contestant, slot.client, :id => slot.client.id, :type => "match", :match_id => @match.id, :round_id => slot.round.id), :method => :post %><br>
            <% end %>
          </td>
        <% else %>
          <td>&nbsp;</td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>

<% end %>
