<%= stylesheet_link_tag "season_contests" %>

<h1>
  <%= link_to @season.name, @season %> /
  <%= Contest.human_name :count => 2 %>
</h1>

<% tabnav :season do %>
  <% @season.phases.each do |p| %>
    <div class="season_phase <%= cycle "odd", "even" %>">
      <h2>Liga: <%= p.name %></h2>
      <table class="data-table">
        <colgroup>
          <col width="90%">
          <col width="10%">
        </colgroup>
        <thead>
          <th>Name</th>
          <th class="middle">Aktionen</th>
        </thead>
        <tbody>
          <% for contest in p.contests %>
           <tr>
             <td><%= contest.name %></td>
             <td class="middle"><%= link_to image_tag("actions/show.png"), contest %></td>
           </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
