<% show_to :administrator do %>
  <div id="actions">
    <% link_to :action => :new do %>
      <%= image_tag 'actions/add.png' %> Neue Saison erstellen
    <% end %>
  </div>
<% end %>

<h1>
 <%= t "views.seasons_overview" %>
</h1>

<% unless @seasons.empty? %>
  <%= t "views.seasons_available", :count => @seasons.count %>
  <%= render :partial => "list", :locals => {:seasons => @seasons} %> 
<% else %>
  <b><%= t "views.no_seasons_available" %></b>
<% end %>
