<% matchday = @finale.find_day(dayname) %>
<% day_settings = @finale.day_settings(dayname) %>
<% no_controls ||= false %>
<% if @finale.day_playable?(dayname) %>
  <% unless no_controls %>
  <h2 style="display: inline; margin-right: 10px;"><%= options[:human_name] %></h2>
  <% if not matchday.nil? and matchday.running? %>
    <%= image_tag('ui/spinner.gif', :style => "margin-top: 7px") %>
  <% end %>
  <div class="actions" style="width: 500px; display: inline; float: none; margin-bottom: 10px">
    <% show_to :administrator do %>
    <% if not @finale.running? %>
      <% if @finale.day_playable?(dayname) and not matchday.prepared? %>
        <% link_to prepare_day_contest_finale_url(:dayname => dayname), :method => "post", :title => t("actions.prepare"), :id => "prepareAction" do %>
          <%= image_tag('actions/refresh.png') %><%= t("actions.prepare") %>
        <% end %>
      <% end %>
      <% if matchday.prepared? and not matchday.played? and not matchday.running? %>
        <% link_to play_contest_finale_url(:id => matchday.id), :method => "post", :title => t("actions.play"), :id => "playAction" do %> 
          <%= image_tag('actions/play.png') %><%= t "actions.play" %>
        <% end %>
      <% end %>

      <% if matchday.prepared? and not matchday.published? and day_settings[:lineup_publishable] %>
        <% link_to publish_lineup_contest_finale_url(:id => matchday.id), :method => :post, :title => t("actions.publish_lineup"), :id => "publishLineupAction" do %>
          <%= image_tag('actions/publish.gif') %><%= t("actions.publish_lineup") %>
        <% end %>
      <% end %>

      <% if matchday.prepared? and matchday.published? and day_settings[:lineup_publishable] %>
        <% link_to hide_lineup_contest_finale_url(:id => matchday.id), :method => :post, :title => t("actions.hide_lineup"), :id => "hideLineupAction" do %>
          <%= image_tag('actions/publish.gif') %><%= t("actions.hide_lineup") %>
        <% end %>
      <% end %>

      <% if matchday.prepared? and not matchday.running? and @finale.day_deletable? dayname %>
        <% link_to delete_matchday_contest_finale_url(:id => matchday.id), :method => "post", :title => t("actions.delete"), :id => "deleteAction" do %>
          <%= image_tag('actions/destroy.png') %><%= t "actions.delete" %>
        <% end %>
      <% end %>
    <% end %>
    <% end %>
  </div>

  <% if matchday.running? %>
    <div id="matchday_progress_<%= matchday.id %>" style="margin-bottom: 10px">
      <%= render :partial => "matchdays/matchday_progress", :locals => {:matchday => matchday} %>
    </div>

    <% javascript_tag do %>
      function refresh_matchday_progress() {
        $.get(
          "<%= get_progress_contest_matchday_url(matchday) %>",
          "id=<%= matchday.id %>",
          function(returned_data) {
            $("div#matchday_progress_<%= matchday.id %>").html(returned_data)
          }
        )  
      }

      //setInterval(refresh_matchday_progress, 15000);
    <% end %> 
  <% end %>
  <% end %>

  <table style="width: 100%; margin-bottom: 30px; margin-top: 10px">
    <colgroup span="4"></colgroup>
    <tr colspan="4"></tr>
    <% if not matchday.nil? %>
      <tr>
        <% matchday.matches.each do |match| %>
          <td style="width: 25%">
            <%= render :partial => "match", :locals => {:match => match, :no_results => no_controls} %> 
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <% end %>
