<div id="lineup_day_<%= day.id %>" style="padding-left: 50px">
  <% day.matches.each do |match| %>

    <div style="margin-bottom: 10px; font-size: 15px">
      <table style="width: 100%">
        <colgroup cols="3">
        <% match.contestants.each_with_index do |contestant,i| %>
          <tr>
            <td style="width: 20%"><%= (i > 0 ? t("views.versus") : "") %>&nbsp;</td>
            <td style="width: 40%"><%= contestant.name %></td>
            <td style="width: 40%">
              <%= select :switch, contestant.id, day.contestants.reject{|c| c == contestant}.collect{|c| [c.name, c.id]}, {:prompt => t("actions.switch_with"), :index => "switch_#{contestant.id}"}, :style => "width: 250px" %>
            </td>
          </tr>
          <% javascript_tag do %>
            $(function() {
              $("select#switch_<%= contestant.id %>").bind('change', function() {
                switch_and_reload(<%= contestant.id %>, $("select#switch_<%= contestant.id %>").val(), <%= day.id %>);
              })
            })
          <% end %>
        <% end %>
      </table>
    </div>
  <% end %>  
</div>
