<% no_results ||= false %>

<% if not no_results and match.played? %>
  <a href="<%= match_results_contest_finale_url(:id => match.id) %>">
<% end %>
<% if no_results %>
  <% slots = match.slots %>
<% else %>
  <% slots = match.slots.sort_by(&:position) %>
<% end %>

<div style="border: 1px solid #000; text-align: center">
  <span style="font-weight: bold" class="<%= 'winner' if match.played? and not no_results %>">
    <%= slots.first.contestant.name %>
  </span><br>
  <% if match.played? and not no_results %>
    <%= match.scores.first.fragments.find(:first, :conditions => {:fragment => "victories"}).value.to_i %>&nbsp;:
    <%= match.scores.second.fragments.find(:first, :conditions => {:fragment => "victories"}).value.to_i %>
  <% else %>
    vs.  
  <% end %>
  <br>
  <span style="font-weight: bold" class="<%= 'loser' if match.played? and not no_results %>"> 
    <%= slots.second.contestant.name %>
  </span>
</div>
<% if match.played? and not no_results %>
  </a>
<% end %>
