<div class="actions">
  <% show_to :administrator do %>
    <% if @finale.nil? %>
      <% if contestants_needed_for_finale <= @contest.contestants.ranked.visible.count %>
        <% link_to prepare_contest_finale_url(@contest), :method => :post, :title => t("actions.prepare_finale"), :id => "prepareFinaleAction" do %>
          <%= image_tag('actions/refresh.png') %><%= t("actions.prepare_finale") %>
        <% end %>
      <% end %>
    <% else %>
      <% if not @finale.running? and not @finale.finished? and @finale.runnable? %>
        <% link_to play_all_contest_finale_url(@contest), :method => :post, :title => t("actions.play_all"), :id => "playAllAction" do %>
          <%= image_tag('actions/play.png') %><%= t("actions.play_all") %>
        <% end %>
      <% end %>
      <% if @finale.finished? %>
        <% link_to send_archive_contest_finale_url(@contest), :method => :post, :title => t("actions.download_finale_archive"), :id => "sendFinaleAction" do %>
          <%= image_tag('actions/download.png') %><%= t("actions.download_finale_archive") %>
        <% end %>
      <% end %>
      <% if @finale.finished? and not @finale.published? %>
        <% link_to publish_contest_finale_url(@contest), :method => :post, :title => t("actions.publish_finale"), :id => "publishFinaleAction", :confirm => t("messages.confirm_publish_finale") do %>
          <%= image_tag('actions/publish.gif') %><%= t("actions.publish") %>
        <% end %>
      <% end %>
      <% if @finale.published? %>
        <% link_to hide_contest_finale_url(@contest), :method => :post, :title => t("actions.hide_finale"), :id => "hideFinaleAction" do %>
          <%= image_tag('actions/deny.png') %><%= t("actions.hide") %>
        <% end %>
      <% end %>
      <% if not @finale.started? %>
        <% link_to delete_contest_finale_url(@contest), :method => :post, :title => t("actions.delete_finale"), :id => "destroyFinaleAction" do %>
          <%= image_tag('actions/destroy.png') %><%= t("actions.delete") %>
        <% end %>
      <% end %> 
    <% end %>
  <% end %>
</div>

<h1>
  <%= link_to @contest.name, contest_url(@contest) %> /
  <%= Finale.human_name %>
  <% if not @finale.nil? and @finale.running? %>
    <%= image_tag ('ui/spinner.gif', :style => "margin-top: 10px") %>
  <% end %>
</h1>

<% tabnav :finale do %>
  <% if not @finale.nil? %>
    <div id="finale" style="width: 100%; height: 100%">
      <%= render :partial => "finale" %>
    </div>
    <% if @finale.running? %>
    <% javascript_tag do %>
      function reload_matchday(daytype) {
        $.get("<%= get_matchday_contest_finale_url(@contest) %>",
          "daytype=" + daytype,
          function(returned_data) {
            $("div#day_" + daytype).html(returned_data)
          }
        )
      }

      function reload_finale() {
        $.get("<%= get_finale_contest_finale_url(@contest) %>",
          "",
          function(returned_data) {
            $("div#finale").html(returned_data)
            var stopped = $("div#finale input#finale_stopped").val()
            if (stopped == 1) {
              clearInterval(refreshInterval);
              setTimeout("location.reload()", 15000);
            }
          }
        )
      }

      var refreshInterval = setInterval(reload_finale, 15000);
    <% end %>
    <% end %>
  <% else %>
    <% if contestants_needed_for_finale > @contest.contestants.ranked.visible.count %>
      <b><%= t("views.not_enough_contestants_for_finale") %></b>
    <% end %>
  <% end %>
<% end %>
