<h1>
  <%= link_to @contest.name, contest_url(@contest) %> /
  <%= link_to "Finale", contest_finale_url(@contest)%> /
  Aufstellung
</h1>

<% tabnav :finale do %>

  <% if current_user.nil? or not current_user.has_role?(:administrator) %>
  <% @contest.game_definition.final_days.sort_by{|day| day[1][:order]}.each do |name,options| %>
    <% day = @contest.finale.find_day(name) %>
    <% if day.prepared? and options[:lineup_publishable] %>
      <h2><%= options[:human_name] %></h2>
      <%= render :partial => "matchday", :locals => {:dayname => name, :no_controls => true} %>
    <% end %>
  <% end %> 
  <% end %>

  <% show_to :administrator do %>
  <% javascript_tag do %>
    function switch_and_reload(c1, c2, day) {
      $.get("<%= switch_contestants_contest_finale_url(@contest) %>",
        "c1=" + c1 + "&c2=" + c2 + "&day=" + day,
        function(returned_data) {
          $("div#lineup_day_" + day).replaceWith(returned_data) 
        }
      )
    }
  <% end %>

  <% @contest.game_definition.final_days.sort_by{|day| day[1][:order]}.each do |name,options| %>
    <% day = @contest.finale.find_day(name) %>
    <% if options[:editable] and day.prepared? and not day.played? and not day.running? %>
      <h2><%= options[:human_name] %></h2>
      <%= render :partial => "match_lineup", :locals => {:day => day} %>
    <% end %>
  <% end %>
  <% end %>
<% end %>
