<h1>
  <%= link_to @contest.name, contest_url %> /
  <%= link_to "Finale", contest_finale_url %> /
  Aufstellung
</h1>

<% tabnav :finale do %>
  <% javascript_tag do %>
    function switch_and_reload(c1, c2, day) {
      $.get("<%= switch_contestants_contest_finale_url() %>",
        "c1=" + c1 + "&c2=" + c2 + "&day=" + day,
        function(returned_data) {
          $("div#lineup_day_" + day).replaceWith(returned_data) 
        }
      )
    }
  <% end %>

  <% @contest.game_definition.final_days.sort_by{|day| day[1][:order]}.each do |name,options| %>
    <% day = @contest.finale.find_day(name) %>
    <% if options[:editable] and day.prepared? and not day.played? %>
      <h2><%= options[:human_name] %></h2>
      <%= render :partial => "match_lineup", :locals => {:day => day} %>
    <% end %>
  <% end %>
<% end %>
