<h1>
  <%= link_to @contest.name, contest_url %> /
  Finale / Ranking
</h1>

<% tabnav :finale do %>
  <% if not @contest.finale.nil? and @contest.finale.finished? %>
  <% ranking = @contest.finale.ranking.sort %>

  <table class="data-table">
    <colgroup width="5%"></colgroup>
    <colgroup width="10%"></colgroup>
    <colgroup width="35%"></colgroup>
    <colgroup width="35%"></colgroup>
    <colgroup width="15%"></colgroup>
    <tr>
      <th colspan="4"></th>
      <th colspan="2" style="text-align: center"><%= t "views.matches" %></th>
    </tr>
    <tr>
      <th></th>
      <th><%= t "views.position" %></th>
      <th style="text-align: left"><%= t "views.contestant" %></th>
      <th style="text-align: left"><%= t("views.location") %></th>
      <th style="text-align: center"><%= t("views.overall").capitalize %></th>
      <th style="text-align: center"><%= t("views.won").capitalize %></th>
    </tr>
    <% ranking.each do |rank,slots| %>
      <tr class="<%= rank.odd? ? "odd" : "even" %>" style="padding-bottom: 5px">
        <td>
          <% if rank <= 3 %>
            <%= image_tag "ui/trophy_#{rank}.png" %>
          <% end %>
        </td>
        <td style="text-align: center; vertical-align: top; padding: 5px"><%= rank %>.</td>
        <td>
          <% slots.each do |slot| %>
            <%= link_to slot.contestant.name, contest_contestant_url(slot.contestant) %><br>
          <% end %>
        </td>
        <td>
          <% slots.each do |slot| %>
            <%= slot.contestant.location %><br>
          <% end %>
        </td>
        <td style="text-align: center">
          <% slots.each do |slot| %> 
            <%= @contest.finale.matches.find_all{|match| match.contestants.include?(slot.contestant)}.count %><br>
          <% end %>
        </td>
        <td style="text-align: center">
          <% slots.each do |slot| %>
            <%= @contest.finale.matches.find_all{|match| match.winner.collect(&:contestant).flatten.include? slot.contestant}.count %><br>
          <% end %>
        </td>
      </tr>
    <% end %> 
  </table>
  <% end %>
<% end %>
