<style type="text/css">
  .played,
  .fc-agenda .played .fc-event-time,
  .played a {
    background-color: #0a0; /* background color */
    border-color: #0a0;     /* border color (often same as background-color) */
    color: white;           /* text color */
  }
  .running,
  .fc-agenda .running .fc-event-time,
  .running a {
    background-color: #aa0;
    border-color: #aa0;
    color: white;
  }
  .incoming,
  .fc-agenda .incoming .fc-event-time,
  .incoming a {
    background-color: #00a;
    border-color: #00a;
    color: white;
  }
  <% if administrator? %>
    .unpublished,
    .fc-agenda .unpublished .fc-event-time,
    .unpublished a {
      background-color: #9c9;
      border-color: #9c9;
      color: white;
    }
  <% end %>
</style>

<div id="actions">
  <% if @contest.ready? and !@contest.begun? and administrator? %>
    <% link_to reset_matchdays_contest_url(@contest), :method => "post" do %>
      <%= image_tag('actions/destroy.png') %> <%= t "views.clear_schedule" %>
    <% end %>
  <% end %>
</div>

<h1>
 <% if @season %><%= link_to @season.name, @season %> / <% end %> <%= @contest.name %>
</h1>

<% tabnav :contest do %>
  <% unless @contest.ready? %>
    <% contestant_count = @contest.contestants.ranked.visible.count %>
    <% if contestant_count <= 1 %>
      <%= t("views.need_more_contestants_for_contest", {:count => contestant_count, :contestant_name => Contestant.human_name(:count => contestant_count)}) %>
    <% else %>
      <% if contestant_count < contestants_needed_for_finale %>
        <b><%= t("views.clue") %>:</b> <%= t("views.not_enough_contestants_for_finale") %><br><br>
      <% end %>
      <% semantic_form_for :schedule, :url => refresh_matchdays_contest_url(@contest), :method => :post do |f| %>
        <% matchday_count = @contest.estimate_matchday_count %>
        <p>
          <%= t "views.contest_has" %><b><%= contestant_count %> <%= Contestant.human_name(:count => contestant_count) %></b>
          <%= t "views.therefore" %> <b><%= matchday_count %> <%= Matchday.human_name(:count => matchday_count) %></b> haben.
        </p>
        <% f.inputs do %>
          <%= f.input :start_at, :label => "Erster Spieltag", :input_html => {:class => 'pick_date' } %>

          <% javascript_tag do %>
             $(".pick_date").datepicker()
          <% end %>
          
          <% trials = (0..5).to_a %>
          <% trials.delete(1) if contestant_count.odd? %>
          <%= f.input :trial_days, :label => "Probespieltage", :collection => trials, :include_blank => false %>
          <% days = (0..6).collect { |i| [I18n.t("date.abbr_day_names")[i], i] } %>
          <%= f.input :weekdays, :as => :check_boxes, :collection => days, :selected => [1,4],
            :hint => I18n.t("views.data_can_be_moved"), :label => I18n.t("views.weekdays"),
            :wrapper_html => { :class => "horizontal" } %>
            <%= f.input :play_automatically, :as => :boolean, :checked => @contest.play_automatically, :label => "Automatisch spielen", :style => "vertical-align: middle" %>
        <% end %>
        <%= f.buttons %>
      <% end %>
    <% end %>
  <% else %>
    <%= render :partial => "calendar" %>
    <p style="margin-top: 10px">
      <b>Legende:</b>&nbsp;
      <span style="padding: 0px 5px 0px 5px; margin: 5px" class="played">gespielt</span>
      <% if administrator? %>
        <span style="padding: 0px 5px 0px 5px; margin: 5px" class="unpublished">unveröffentlicht</span>
        <span style="padding: 0px 5px 0px 5px; margin: 5px" class="running">läuft gerade</span>
      <% end %>
      <span style="padding: 0px 5px 0px 5px; margin: 5px" class="incoming">ausstehend</span>
    </p>
    <% show_to :administrator do %>
      <hr>
      <p style="margin-top: 15px">
        <% semantic_form_for @contest, :url => update_schedule_contest_url(@contest), :method => :post do |f| %>
          <fieldset>
            <legend><b>Einstellungen</b></legend>
            <% f.inputs do %>
              <%= f.input :play_automatically, :as => :boolean, :label => "Automatisch spielen", :style => "vertical-align: middle" %>
            <% end %>
            <%= f.buttons %>
          </fieldset>
        <% end %>
      </p>
    <% end %>
  <% end %>
<% end %>
