<style type="text/css">
  .played,
  .fc-agenda .played .fc-event-time,
  .played a {
    background-color: green; /* background color */
    border-color: green;     /* border color (often same as background-color) */
    color: white;           /* text color */
  }
</style>

<div id="actions">
  <% if !@contest.matchdays.empty? and @contest.matchdays.played.empty? %>
    <% link_to reset_matchdays_contest_url(@contest), :method => "post" do %>
      <%= image_tag('actions/destroy.png') %>Spielplan löschen
    <% end %>
  <% end %>
</div>

<h1><%= current_page_title %></h1>

<% tabnav :edit_contest do %>
  <% if @contest.matchdays.empty? %>
    <% if @contest.contestants.count <= 1 %>
      <%= @contest.contestats.count %> Teilnehmer ist nicht genug, um einen Spielplan zu erstellen.
    <% else %>
      <% semantic_form_for :schedule, :url => refresh_matchdays_contest_url(@contest), :method => :post do |f| %>
        <p>
          Der Wettbewerb hat <b><%= @contest.contestants.count %> Teilnehmer</b>
          und wird somit <b><%= @contest.contestants.count - 1 %> Spieltage</b> haben.
        </p>
        <% f.inputs do %>
          <%= f.input :start_at, :as => :date, :label => "Erster Spieltag" %>
          <% days = (0..6).collect { |i| [t("date.abbr_day_names")[i], i] } %>
          <%= f.input :weekdays, :as => :check_boxes, :collection => days, :selected => [1,4],
            :hint => "Einzelne Daten können nachträglich verschoben werden.", :label => "Wochentage",
            :wrapper_html => { :class => "horizontal" } %>
        <% end %>
        <%= f.buttons %>
      <% end %>
    <% end %>
  <% else %>
    <%= render :partial => "calendar" %>
  <% end %>
<% end %>
