<div id="actions">
  <% link_to contest_new_url(@contest) do %>
    <%= image_tag('actions/add.png') %><%= t "views.new_contest" %>
  <% end %>
</div>

<h1><%= t "views.administration" %></h1>

<% tabnav :administration do %>

  <% unless @public_contests.empty? %>
  <h3><%= t "views.public" %></h3>
  <table class="data-table">
    <thead>
      <tr>
        <th><%= t "views.name" %></th>
        <th><%= t "views.game" %></th>
        <th><%= Contestant.human_name :count => 2 %></th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @public_contests.each do |contest| %>
        <%= render :partial => "contest_form_entry", :locals => {:contest => contest} %>
      <% end %>
    </tbody>
  </table>
  <% end %>

  <% unless @hidden_contests.empty? %>
  <h3><%= t "views.hidden" %></h3>
  <table class="data-table">
    <thead>
      <tr>
        <th><%= t "views.name" %></th>
        <th><%= t "views.game" %></th>
        <th><%= Contestant.human_name :count => 2 %></th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @hidden_contests.each do |contest| %>
        <%= render :partial => "contest_form_entry", :locals => {:contest => contest} %>
      <% end %>
    </tbody>
  </table>
  <% end %>
<% end %>
