<div id="actions">
  <% link_to new_contest_url do %>
    <%= image_tag('actions/add.png') %>Neuer Wettbewerb
  <% end %>
</div>

<h1>Administration</h1>

<% tabnav :administration do %>
  <table style="width: 100%; border-spacing: 0;">
    <tr style="font-size: 11px; text-align: left;">
      <th>Name</th>
      <th>Spiel</th>
      <th>Teilnehmer</th>
      <th>Aktiv?</th>
    </tr>
    <% @contests.each do |contest| %>
      <tr>
        <td><%= contest.name %></td>
        <td><%= contest.game_definition.game_identifier %></td>
        <td><%= contest.contestants.count %></td>
        <td><%= (contest.active? ? "Ja" : "Nein") %></td>
        <td>
          <%= link_to 'Anzeigen', contest_path(contest) %>
          <%= link_to 'Bearbeiten', edit_contest_path(contest) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>