<div id="actions">
  <% link_to new_contest_url do %>
    <%= image_tag('actions/add.png') %>Neuer Wettbewerb
  <% end %>
</div>

<h1>Administration</h1>

<% tabnav :administration do %>
  <table class="data-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Spiel</th>
        <th>Teilnehmer</th>
        <th>Aktiv?</th>
      </tr>
    </thead>
    <% @contests.each do |contest| %>
      <tr>
        <td><%= contest.name %></td>
        <td><%= contest.game_definition.game_identifier %></td>
        <td><%= contest.contestants.count %></td>
        <td><%= (contest.active? ? "Ja" : "Nein") %></td>
        <td><%= link_to image_tag("actions/edit.png"), edit_contest_path(contest) %></td>
        <td><%= link_to 'Zur Übersicht', contest_path(contest) %></td>
      </tr>
    <% end %>
  </table>
<% end %>