<h1>Alle Wettbewerbe</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Active</th>
  </tr>

<% @contests.each do |contest| %>
  <tr>
    <td><%=h contest.name %></td>
    <td><%=h contest.active %></td>
    <td><%= link_to 'Show', contest %></td>
    <td><%= link_to 'Edit', edit_contest_path(contest) %></td>
    <td><%= link_to 'Destroy', contest, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contest', new_contest_path %>