<div id="actions">
  <%= link_to image_tag('actions/add.png'), new_contest_path %>
</div>

<h1>Alle Wettbewerbe</h1>

<div id="contests">
  <% @contests.each do |contest| %>
    <div class="contest <%= "active" if contest.active? %>">
      <div style="float: right;">
        <%= link_to 'Anzeigen', contest_path(contest) %>
        <%= link_to 'Bearbeiten', edit_contest_path(contest) %>
      </div>
      <h2><%=h contest.name %> (<%=h contest.contestants.count %> Teilnehmer)</h2>
    </div>
  <% end %>
</div>