<div id="actions">
  <% if @contest.is_trial_contest? %>
    <% link_to destroy_trial_contest_contest_url(@contest), :confirm => I18n.t("messages.destroy_trial_contest"), :method => :post do %>
      <%= image_tag('actions/destroy.png') %><%= t "actions.destroy_trial_contest" %>
    <% end %>
  <% end %>
</div>

<h1>
  <%= @contest.name %>
</h1>

<% tabnav :contest do  %>

<div class="frontpagePhotoBg">
  <% begin %>
    <%= render :partial => "/contests/pages/p_#{@contest.subdomain}" %>
  <% rescue %>
    <%= render :partial => "/contests/pages/default" %>
  <% end %>
</div>

<% javascript_tag do %>
  $(document).ready(function() {
    $curtainopen = false;
    $(".rope").click(function() {
      $(this).blur();
      if ($curtainopen == false) {
        $(this).stop().animate({top: '0px'}, {queue:false, duration:350, easing:'easeOutBounce'});
        $(".leftcurtain").stop().animate({with:'60px'}, 2000);
        $(".rightcurtain").sotp().animate({width:'60px'}, 2000);
        $curtainopen = true;
      } else {
        
      }
      return false;
    });
  });
<% end %>

  <% if logged_in? %>
    <% current_user.teams.visible.for_contest(@contest).each do |team| %>
      <div>
        <div style="float: right;">
          <%= link_to t("views.teamsite"), contest_contestant_url(@contest, team) %>
          <%= link_to Client.human_name(:count => 2), contest_contestant_clients_url(@contest, team) %>
        </div>
        <h3>
          <%=h team.name %>
        </h3>
      </div>
    <% end %>
    <% has_requests = current_user.teams.visible.for_contest(@contest).collect(&:has_open_friendly_requests_from_others?).inject(false) {|b, x| b | x} %>
    <% if has_requests %>
      <br>
      <%= link_to t("views.person_has_open_friendly_requests"), contest_friendly_encounters_url(@contest), :style => "font-size: 15px" %>
    <% end %>
  <% end %>

  <% action_list do %>
    <h2 class="large-gap">Was ist zu tun:</h2>
    <div class="actionlist">
      <% action (logged_in? and @current_user.is_member_of_a_team?(@contest) and @contest.allow_trial_registration) do %>
        <%= t "views.todo.trial_contest" %>
        <% action_button do %>
          <%= link_to "Probewettkampf", trial_contest_contest_url(@contest) %>
        <% end %>
      <% end %>
      <% action (not logged_in? and not @contest.allow_school_reg) do %>
        <%= t "views.todo.login" %>
        <% action_button do %>
          <%= link_to "Anmelden", contest_login_url(@contest) %>
        <% end %>
        <br>
        <%= t "views.todo.login_else" %>
        <% action_button do %>
          <%= link_to "Jetzt registrieren", contest_register_url(@contest) %>  
        <% end %>
      <% end %>
      <% available_survey_tokens = SurveyToken.available.select{|t| t.currently_valid? and t.allowed_for?(@current_user)} %>
      <% action (logged_in? and @current_user.has_role? :administrator and not available_survey_tokens.empty?) do %>
        <%= t ("views.todo.surveys", :count => available_survey_tokens.count) %> 
        <% action_button do %>
          <%= link_to "Teilnehmen", contest_survey_tokens_url(@contest) %>
        <% end %>
      <% end %>
      <% action (@contest.allow_school_reg) do %>
        <% if logged_in? or administrator? %>
          <%= t "views.todo.reg_school" %>
          <% action_button do %>
            <%= link_to "Neue Schule anmelden", new_contest_school_url(@contest) %> 
          <% end %>
        <% else %>
          <%= t "views.todo.login_before_school" %>
          <% action_button :style => "margin-bottom: 10px" do %>
            <%= link_to "Anmelden", contest_login_url(@contest) %> 
          <% end %>
          <%= t "views.todo.login_else" %>
          <% action_button do %>
            <%= link_to "Jetzt registrieren", contest_register_url(@contest) %>  
          <% end %>
        <% end %>
      <% end %>
      <% action (@contest.allow_school_reg and logged_in?) do %>
        <%= t "views.todo.reg_teams" %>
        <% action_button do %>
          <%= link_to "Teams anmelden", contest_new_team_url(@contest) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<% end %>
