<h1>
  <%= @contest.name %>
</h1>

<% tabnav :contest do  %>

<div class="frontpagePhotoBg">
  <%= image_tag "photos/frontpage.png", :style => "float: left;" %>
  <div class="text" style="margin-left: 450px;">
    <div style="padding: 20px;">
      <h2 style="margin: 0 0 1em 0; padding: 0; font-size: 16px;">Software-Challenge 2010</h2>

      <p>
        Die Software-Challenge geht dieses Jahr in
        eine neue Runde. In diesem Jahr nehmen
        22 Schulen mit <b>insgesamt 28 Kursen</b> teil.
      </p>
      <p>
        Wir freuen uns auf einen spannenden Wettkampf!
      </p>
    </div>
  </div>
</div>

<% if logged_in? %>
  <% current_user.teams.visible.each do |team| %>
    <div>
      <div style="float: right;">
        <%= link_to t("views.teamsite"), [:contest, team] %>
        <%= link_to Client.human_name(:count => 2), :controller => "clients", :action => "index", :contestant_id => team %>
      </div>
      <h3>
        <%=h team.name %>
      </h3>
    </div>
  <% end %>
  <% has_requests = current_user.teams.visible.collect(&:has_open_friendly_requests_from_others?).inject(false) {|b, x| b | x} %>
  <% if has_requests %>
    <br>
    <%= link_to t("views.person_has_open_friendly_requests"), contest_friendly_encounters_url, :style => "font-size: 15px" %>
  <% end %>
<% end %>

<% end %>
