<div id="actions">
  <% if @contest.is_trial_contest? %>
    <% link_to destroy_trial_contest_contest_url(@contest), :confirm => I18n.t("messages.destroy_trial_contest"), :method => :post do %>
      <%= image_tag('actions/destroy.png') %><%= t "actions.destroy_trial_contest" %>
    <% end %>
  <% end %>
</div>

<h1>
  <%= @contest.name %>
</h1>

<% tabnav :contest do  %>

<div class="frontpagePhotoBg">
  <% begin %>
    <%= render :partial => "/contests/pages/p_#{@contest.subdomain}" %>
  <% rescue %>
    <%= render :partial => "/contests/pages/default" %>
  <% end %>
</div>

  <% if logged_in? %>
    <% current_user.teams.visible.for_contest(@contest).each do |team| %>
      <div>
        <div style="float: right;">
          <%= link_to t("views.teamsite"), contest_contestant_url(@contest, team) %>
          <%= link_to Client.human_name(:count => 2), contest_contestant_clients_url(@contest, team) %>
        </div>
        <h3>
          <%=h team.name %>
        </h3>
      </div>
    <% end %>
    <% has_requests = current_user.teams.visible.for_contest(@contest).collect(&:has_open_friendly_requests_from_others?).inject(false) {|b, x| b | x} %>
    <% if has_requests %>
      <br>
      <%= link_to t("views.person_has_open_friendly_requests"), contest_friendly_encounters_url(@contest), :style => "font-size: 15px" %>
    <% end %>
  <% end %>

  <h2 class="large-gap">Was ist zu tun:</h2>
  <div class="actionlist">
    <% if logged_in? and @current_user.is_member_of_a_team?(@contest) and @contest.allow_trial_registration %>
      <li>
        Sie können Ihr Team jetzt für die Teilnahme an einem Probewettkampf anmelden. Genaueres hier:
        <% action_button do %>
          <%= link_to "Probewettkampf", trial_contest_contest_url(@contest) %>
        <% end %>
      </li>
    <% end %>
    <% if not logged_in? and not @contest.allow_school_reg %>
      <li>
        Um das Wettkampfsystem nutzen zu können, müssen Sie sich zunächst anmelden. Sollten Sie bereits Zugangsdaten zu diesem Wettkampfsystem besitzen, melden Sie sich bitte hier an:
        <% action_button do %>
          <%= link_to "Anmelden", contest_login_url(@contest) %>
        <% end %>
        <br>andernfalls registrieren Sie sich bitte zunächst unverbindlich:
        <% action_button do %>
          <%= link_to "Jetzt registrieren", contest_register_url(@contest) %>  
        <% end %>
      </li>
    <% end %>
    <% if @contest.allow_school_reg or administrator? %>
      <li>
      <% if logged_in? or administrator? %>
        Wenn Sie Interesse an der Teilnahme an diesem Wettbewerb haben, können Sie hier eine neue Schule für den Wettbewerb anmelden. Diese Anmeldung ist vollkommen unverbindlich.
        <% action_button do %>
          <%= link_to "Neue Schule anmelden", new_contest_school_url(@contest) %> 
        <% end %>
      <% else %>
          Um eine Schule für den Wettbewerb anzumelden, müssen Sie sich zunächst selbst im Wettkampfsystem anmelden. Sofern Sie bereits Zugangsdaten zu diesem Wettkampfsystem erhalten haben (z.B. bei einer früheren Registrierung bzw. der Teilnahme an der Software-Challenge 2010 oder später), melden Sie sich bitte zunächst hier an:
          <% action_button :style => "margin-bottom: 10px" do %>
            <%= link_to "Anmelden", contest_login_url(@contest) %> 
          <% end %>
          anderenfalls registrieren Sie sich bitte zunächst unverbindlich:
          <% action_button do %>
            <%= link_to "Jetzt registrieren", contest_register_url(@contest) %>  
          <% end %>
      <% end %>
      </li>
    <% end %>
    <% if (@contest.allow_school_reg and logged_in?) or administrator? %>
      <li>
        Wenn Ihre Schule bereits angemeldet ist, können Sie für diese jetzt Teams anmelden. Auch können Sie hier bereits angemeldete Teams bearbeiten.
        <% action_button do %>
          <%= link_to "Teams anmelden", contest_new_team_url(@contest) %>
        <% end %>
      </li>
    <% end %>
  </div>
</div>

<% end %>
