<h1>
  <%= @contest.name %>
</h1>

<% tabnav :contest do  %>

<div class="frontpagePhotoBg">
  <% begin %>
    <%= render :partial => "contests/pages/#{@contest.subdomain}" %>
  <% rescue %>
    <%= render :partial => "contests/pages/default" %>
  <% end %>
</div>

<% if logged_in? %>
  <% current_user.teams.visible.for_contest(@contest).each do |team| %>
    <div>
      <div style="float: right;">
        <%= link_to t("views.teamsite"), contest_contestant_url(@contest, team) %>
        <%= link_to Client.human_name(:count => 2), contest_contestant_clients_url(@contest, team) %>
      </div>
      <h3>
        <%=h team.name %>
      </h3>
    </div>
  <% end %>
  <% has_requests = current_user.teams.visible.for_contest(@contest).collect(&:has_open_friendly_requests_from_others?).inject(false) {|b, x| b | x} %>
  <% if has_requests %>
    <br>
    <%= link_to t("views.person_has_open_friendly_requests"), contest_friendly_encounters_url(@contest), :style => "font-size: 15px" %>
  <% end %>
<% end %>

<% end %>
