<% if current_user.administrator? %>
  <div id="actions">
    <% link_to edit_contest_url(@contest), :title => "Bearbeiten" do %>
      <%= image_tag('actions/settings.png') %>Bearbeiten
    <% end %>
    <% if @matchdays.empty? %>
      <% link_to refresh_matchdays_contest_url(@contest), :method => "post", :title => "Spielplan erstellen" do %>
        <%= image_tag('actions/schedule.png') %>Spielplan generieren
      <% end %>
      <% link_to new_contest_contestant_url(@contest) do %>
        <%= image_tag('actions/add.png') %>Neuer Teilnehmer
      <% end %>
    <% else %>
      <% link_to reset_matchdays_contest_url(@contest), :method => "post", :title => "Zurücksetzen" do %>
        <%= image_tag('actions/destroy.png') %>Zurücksetzen
      <% end %>
    <% end %>
  </div>
<% end %>

<h1>
  <%= link_to "Wettbewerbe", contests_url %> /
  <%=h @contest.name %>
</h1>

<% last_played_matchday = @contest.matchdays.played.first(:order => "position DESC") %>

<div id="tabs" style="margin: 0 -10px;">
  <ul>
    <% unless @matchdays.empty? %>
      <li><a href="#list">Liste</a></li>
    <% end %>

    <% if false %>
      <li><a href="#calendar">Kalender</a></li>
    <% end %>

    <% if last_played_matchday %>
      <li><a href="#standings">Rangliste</a></li>
    <% else %>
      <li><a href="#contestants">Teilnehmer</a></li>
    <% end %>
  </ul>

  <% unless @matchdays.empty? %>
    <div id="list">
      <%= render :partial => "listing" %>
    </div>
  <% end %>

  <% if false %>
    <div id="calendar">
      <%= render :partial => "calendar" %>
    </div>
  <% end %>

  <% if last_played_matchday %>
    <div id="standings">
      <%= render :partial => "matchdays/standings", :locals => { :matchday => last_played_matchday } %>
    </div>
  <% else %>
    <div id="contestants">
      <%= render :partial => "contestants" %>
    </div>
  <% end %>
</div>

<% if last_played_matchday %>
  <p style="text-align: right; font-size: 11px; color: #666; margin: 1em 0 0 0;">
    Stand: <%= last_played_matchday.position %>. Spieltag, <%= l(last_played_matchday.when, :format => :long) %>
  </p>
<% end %>

<script type='text/javascript'>
  $(document).ready(function() {
    var locale = $.datepicker.regional['de'];
    var calSettings = {};
    $.extend(calSettings, locale, {
      editable: false
      ,buttonText: {today: "Heute"}
      ,events: '<%= contest_matchdays_url(@contest, :format => "json", :calendar => true) %>'
    });
    //$('#calendar-widget').fullCalendar(calSettings);
    $('#tabs').tabs();
  });
</script>
