<div id="actions">
  <% link_to standings_contest_matchday_url(@contest, @matchday, :matchday_id => @matchday.id, :format => :pdf) do %>
    <%= image_tag('actions/pdf.png') %> <%= t "views.pdf_export" %>
  <% end %>
 
  <% show_to :administrator do %> 
    <% link_to reaggregate_contest_url(@contest), :method => "post", :title => t("views.recalc"), :id => "reaggregateContestAction" do %>
      <%= image_tag('actions/refresh.png') %><%= t ("actions.add") %>
    <% end %>
  <% end %>
</div>

<h1 class="print-hide">
  <%= @contest.name %>
</h1>

<% ranking = (logged_in? and @current_user.teams.visible.ranked.for_contest(@contest).count == 1) ? @current_user.teams.for_contest(@contest).first.ranking : nil %>
<% tabnav :contest do %>
  <%= render :partial => "matchdays/ranking_selection", :locals => {:ranking => ranking} %>
  <%= render :partial => "matchdays/standings", :locals => { :matchday => @matchday, :ranking => ranking } %>
<% end %>
