<% show_to :administrator do %>
  <div id="actions">
    <% link_to reaggregate_contest_url(@contest), :method => "post", :title => t("views.recalc"), :id => "reaggregateContestAction" do %>
      <%= image_tag('actions/refresh.png') %><%= t ("actions.add") %>
    <% end %>
    <% link_to contest_matchday_standings_url(@contest,@contest.last_played_matchday, :format => :pdf) do %>
      <%= image_tag('actions/pdf.png') %> <%= t "views.pdf_export" %>
    <% end %>
  </div>
<% end %>

<h1 class="print-hide">
  <%= @contest.name %>
</h1>

<% ranking = (logged_in? and @current_user.teams.visible.ranked.for_contest(@contest).count == 1) ? @current_user.teams.for_contest(@contest).first.ranking : nil %>
<% tabnav :contest do %>
  <%= render :partial => "matchdays/ranking_selection", :locals => {:ranking => ranking} %>
  <%= render :partial => "matchdays/standings", :locals => { :matchday => @matchday, :ranking => ranking } %>
<% end %>
