<h1>
  <%= link_to @contest.name, contest_url(@contest) %> /
  <%= link_to "Auswertung: #{@survey.title}", contest_survey_result_url(@contest,@survey) %> /
  <%= "Details: #{@survey_token.id}" %>
</h1>

<% tabnav :administration do %>
   <div class="group frame">
    <div class="group title">
      Informationen
    </div>
    <div class="group content">
      <div class="listing bold">
        <ol> 
          <%= list_item("Beantwortet durch", @survey_token.person.name) %>
          <% open_for = [] %>
          <% open_for << "Lehrer" if @survey_token.allow_teacher %>
          <% open_for << "Schüler" if @survey_token.allow_pupil %>
          <% open_for << "Tutoren" if @survey_token.allow_tutor %>
          <% open_for << @survey_token.token_owner.name if @survey_token.token_owner.is_a? Person %>
          <%= list_item("Offen für", open_for.join(",")) %>
          <%= list_item("Token erstellt am", l(@survey_token.created_at)) %>
          <%= list_item("Fertiggestellt am", l(@response_set.completed_at))%>
        </ol>
      </div>
    </div>
  </div>
  <div class="group frame">
    <div class="group title">
      Ergebnisse
    </div>
    <div class="group content" style="margin-top: 10px;">
      <% specific_partial == File.join(RAILS_ROOT, "app", "views", "survey_results", "_#{@survey.access_code.gsub "-", "_"}.erb") %>
      <% if File.exists? specific_partial %>
        <%= render :file => specific_partial %>
      <% else %>
        <%= render :partial => 'result' %>
      <% end %>
    </div>
  </div>


<% end %>
