<div id="actions">
  <% show_to :administrator do %>
    <% if @news_post.published? %>
      <% link_to [:unpublish, @context, @news_post], :method => :post do %>
        <%= image_tag 'actions/deny.png' %> Veröffentlichung rückgängig machen
      <% end %>
    <% else %>
       <% link_to [:publish, @context, @news_post], :method => :post do %>
        <%= image_tag 'actions/publish.gif' %> Veröffentlichen
      <% end %>
    <% end %>
    <% link_to [:edit, @context, @news_post] do %>
        <%= image_tag 'actions/edit_lrg.png' %> Eintrag bearbeiten 
    <% end %>
    <% link_to [@context, @news_post], :method => :delete, :confirm => "Sind Sie sich wirklich sicher, dass Sie diesen Beitrag unwiederbringlich entfernen wollen?"  do %>
        <%= image_tag 'actions/destroy.png' %> Eintrag löschen
    <% end %>
  <% end %>
</div>

<h1>
  <%= link_to @context.name, @context %> / 
  <%= link_to "Neuigkeiten", [@context, :news_posts]%> /
  anzeigen 
</h1>
<% tabnav @context.class.to_s.downcase.to_sym do %>
  <%= render :partial => 'news_post' %>
<% end %>
