<% form_for :ft, :url => contest_fake_tests_url(@contest) do |f| %>
    <% clients = Client.all.select{|cl| cl.contestant.contest == @contest}.collect{|c| [get_readable_client_name(c),c.id]} %>
    <%= f.label :name, "Name:" %><%= f.text_field :name %>
    <%= f.label :description, "Beschreibung:"%><%= f.text_area :description , :cols => "50", :rows => "5"%><br><br>
    <% if local_assigns[:client] %>
      <% hidden_field_tag f, "client_id", client.id %>
    <% else %>
     <%= select "ft", "client_id", clients %>
      gegen
    <% end %>
    <%= hidden_field_tag :return_to, (return_to.nil? ? contest_fake_tests_url(@contest) : return_to) %>
    <%= select "ft", "opponent_id", clients %>
    <p><%= f.label :checksum_check, "Checksum Vergleich:" %><%= f.check_box :checksum_check %></p>
    <p><%= f.label :diff_check, "Datei-Diff Vergleich:" %><%= f.check_box :diff_check %></p>
    <%= submit_tag "Test starten", :confirm => "Wollen sie den Tests wirklich anstoßen?\n\nBesonders der der Datei-Diff kann erheblichen Rechenaufwand für den Server und sollte nur durchgeführt werden wenn er nötig ist"  %>
<% end %>
