<table class="data-table">
   <thead>
    <tr>
      <th> ID </th>
      <th> A Name </th>
      <th> Status</th>
      <th> B Name </th>
      <th> ID </th>
      <th> Aktion </th>
    </tr>
   </thead> 
    <% fake_tests.each do |ft| %>
      <tr>

      <% if @client.nil? or @client == ft.clients.first %>
         <% own = ft.clients.first %>
         <% opponent = ft.clients.second %>
      <% else %>
         <% own = ft.clients.second %>
         <% opponent = ft.clients.first %>
      <% end %>
      
      <td> <%= own.id %> </td>
      <td> <%= get_readable_client_name(own) %></td>
      <td> <%= image_for_state(ft.done? ? "true" : "idle") %></td>
      <td> <%= get_readable_client_name(opponent) %></td>
      <td> <%= opponent.id %> </td> 
      <td> <% link_to contest_fake_test_url(@contest, ft) do %>
             <%= image_for_action('show') %>
           <% end %>
           <% link_to restart_contest_fake_test_url(@contest, ft), :method => :post, :confirm => "Wollen Sie diesen Plagiat-Test wirklich erneut durchführen?" do %>
             <%= image_for_action('refresh') %>
           <% end %>
           <% link_to contest_fake_test_url(@contest, ft), :method => :delete, :confirm => "Wollen Sie diesen Plagiat-Test wirklich löschen?" do %>
             <%= image_for_action('delete') %>
           <% end %>
      </td>
    </tr>
  <% end %>
 </table>
