<table class="data-table">
   <thead>
    <tr>
      <th>Primär-Client</th>
      <th>Gegner</th>
      <th>Status</th>
      <th>Aktion</th>
    </tr>
   </thead> 
    <% fake_tests.each do |ft| %>
      <tr id="fake_test_<%=ft.id%>">
      <td title="<%= client_tooltip(ft.clients.first) %>"><%= get_readable_client_name(ft.clients.first, false) %></td>
      <td title="<%= client_tooltip(ft.clients.second) %>"><%= get_readable_client_name(ft.clients.second, false) %></td>
      <td class="state" title="<%=msg_for_state(ft.state)%>"><%= image_for_state ft.state %></td>
      <td> <% link_to contest_fake_test_suite_fake_test_url(@contest,@fake_test_suite,ft) do %>
             <%= image_for_action('show') %>
           <% end %>
           <%= link_to_remote image_for_action('refresh'), :url => restart_contest_fake_test_suite_fake_test_url(@contest,@fake_test_suite,ft), :method => :post, :confirm => "Wollen Sie diesen Plagiat-Test wirklich erneut durchführen?" if not (ft.running? or ft.state == 'ready') %>
           <%= link_to_remote image_for_action('delete'), :url => contest_fake_test_suite_fake_test_url(@contest,@fake_test_suite,ft), :method => :delete, :confirm => "Wollen Sie diesen Plagiat-Test wirklich löschen?" if not ft.running? %>
      </td>
    </tr>
  <% end %>
 </table>
