<div id="actions">
  <% link_to contest_fake_test_suite_fake_test_url(@contest, @fake_test_suite, @fake_test), :method => :delete, :confirm => "Wollen Sie diesen Plagiat-Test wirklich löschen?" do %>
     <%= image_tag 'actions/destroy.png' %> Plagiat-Test löschen
  <% end %>
  <% link_to restart_contest_fake_test_suite_fake_test_url(@contest, @fake_test_suite, @fake_test), :method => :post, :confirm => "Wollen Sie diesen Plagiat-Test wirklich erneut durchführen?" do %>
    <%= image_tag 'actions/refresh.png' %> Plagiat-Test wiederholen
  <% end %>
</div>
<h1>
  <%= link_to @contest.name, contest_url(@contest) %> / 
  <%= link_to "Plagiat-Test-Aufstellungen", contest_fake_test_suites_url(@contest) %> /
  <%= link_to (@fake_test_suite.name.blank? ? "Aufstellung Nr.#{@fake_test_suite.id}": @fake_test_suite.name), contest_fake_test_suite_url(@contest, @fake_test_suite) %> /
  Test <%= @fake_test.id %>
</h1>
<% tabnav :administration do %>
  <h3> Aufstellung: </h3> 
  <b title="<%= client_tooltip(@fake_test.clients[0]) %>"><%= link_to get_readable_client_name(@fake_test.clients[0], false), client_details_contest_contestant_client_url(@contest, @fake_test.clients[0].contestant,@fake_test.clients[0]) %></b> vs <b title="<%= client_tooltip @fake_test.clients[1] %>"><%= link_to get_readable_client_name(@fake_test.clients[1],false), client_details_contest_contestant_client_url(@contest, @fake_test.clients[1].contestant,@fake_test.clients[1]) %></b> 
  <h3> Erstellt am: </h3> <%= @fake_test.created_at.strftime("%d.%m.%Y, %H:%M")%>
  <h3> Zuletzt modifiziert am: </h3> <%= @fake_test.updated_at.strftime("%d.%m.%Y, %H:%M")%>
  <h3> Status:  <span title="<%= msg_for_state @fake_test.state %>"><%= image_for_state @fake_test.state %></span></h3> 
  <% @fake_test.checks.each do |check| %>
     <h2><%= check.class.human_name %>  <%= image_for_state((check.done? ? "true" : "idle")) %></h2>
     <% special_display_file =  File.join(RAILS_ROOT, "app", "views", "fake_tests", "_display_#{check.class.to_s.underscore}.erb") %>
     <% if File.exists? special_display_file %>
       <%= render :file => special_display_file, :locals => {:check => check} %>
     <% else %>
      <%= render :partial => "display_check.erb", :locals => {:check => check} %>
     <% end %>
  <% end %>
  <%= periodically_call_remote(:frequency => 20, :url => refresh_show_contest_fake_test_suite_fake_test_url(@contest, @fake_test_suite, @fake_test), :method => :get) %>

<% end %>
