<% hours_used ||= nil %>
<table class="data-table">
  <colgroup>
    <col>
    <col>
    <col>
    <col>
  </colgroup>
  <thead>
    <th>Beschreibung</th>
    <th>Erstellt am</th>
    <th class="middle">Arbeitsstunden<%= " / Gearbeitet" if hours_used %></th>
    <th class="middle">Aktionen</th>
  </thead>
  <tbody>
    <% contracts.each do |c| %>
      <tr>
        <td><%= c.description %></td>
        <td><%= l c.created_at.to_date %></td>
        <td class="middle"><%= c.hours %></td>
        <td class="middle"><%= link_to image_tag("actions/edit.png"), [:edit, @context, @person, c] %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><b>Gesamt:</b></td>
      <td class="middle"><b><%= contracts.sum(:hours) %></b><%= " / #{hours_used}" unless hours_used.nil? %></td>
    </tr>
  </tfoot>
</table>
