<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= controller.controller_name %>: <%= controller.action_name %></title>
    <style type="text/css">
      body {
        font-family: helvetica, arial, freesans, clean, sans-serif;
        font-size: 13px;
        line-height: 1.5em;
      }

      p {
        margin: 0.33em 0;
      }

      ul, li {
        margin: 0;
        padding: 0;
      }

      .errorExplanation {
        border: 2px solid #f88;
        padding: 10px;
      }

      .errorExplanation ul {
        padding: 0 0 0 25px;
      }

      .errorExplanation h2 {
        margin: 0 0 0.8em 0;
      }

      #mainMenu ul {
        list-style: none;
      }

      #mainMenu li {
        display: inline;
        margin: 0 0 0 8px;
      }

      #header a {
        font-weight: bold;
        color: #4183C4;
        text-decoration: none;
      }

      #header {
        height: 60px;
        border-bottom: 3px solid #ddd;
        padding: 0 10px;
        background-color: #FCFCFC;
        margin: 0 -10px;
        background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#eee));
      }

      #footer {
        border-top: 2px solid #ddd;
        color: #aaa;
        font-size: 11px;
        line-height: 26px;
        text-align: center;
        margin: 10px -10px 0 -10px;
      }

      #header .logo {
        text-align: center;
        height: 60px;
        line-height: 60px;
        width: 150px;
        display: inline-block;
        background-image: url('/images/logo_small.png');
        background-repeat: no-repeat;
      }

      #content {
        padding: 16px 0;
      }

      label {
        display: block;
      }

      .frontpagePhotoBg {
        height: 250px;
        background-color: #f0f0f0;
        margin: 0 -10px 10px -10px;
      }

      .frontpagePhotoBg .text {
        height: 250px;
        background: -webkit-gradient(linear, left top, right bottom, from(#f8f8f8), to(#e0e0e0));
      }
    </style>
  </head>
  <body style="margin: 0; padding: 0;">

    <div style="margin: 0 auto; width: 750px;">
      <div id="header">
        <% link_to root_url do %>
          <span class="logo"></span>
        <% end %>
        <div style="float: right; text-align: right; ">
          <div style="line-height: 24px; padding: 8px 0;">
            <% if logged_in? %>
              <span style="border: 1px solid #eee; padding: 5px; margin: -5px; background-color: white;">
                <span><%= link_to "abmelden", logout_url, :method => :post %></span>
                <%= image_tag gravatar_url(current_user.email, :size => 24), :style => "vertical-align: top; margin: 0 3px;" %>
                <span><%= link_to current_user.name, person_url(current_user) %></span>
              </span>
            <% else %>
              <span>Hey, wer bist Du denn?</span>
              <span>Jetzt <%= link_to "anmelden!", login_url %></span>
            <% end %>
          </div>
          <div style="line-height: 14px; padding: 0 0 6px 0;">
            <ul id="mainMenu">
              <li><%= link_to "Startseite", root_url %></li>
              <li><%= link_to "Wettbewerbe", contests_url %></li>
              <li><%= link_to "Teilnehmer", contestants_url %></li>
              <li><%= link_to "Benutzer", people_url %></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="content">
        <p style="color: green"><%= flash[:notice] %></p>
        <p style="color: red"><%= flash[:error] %></p>

        <%= yield %>
      </div>
      <div id="footer">
        &copy; 2009 Christian-Albrechts-Universität zu Kiel. Alle Rechte vorbehalten.
      </div>
    </div>
  </body>
</html>
