<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= controller.controller_name %>: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'scaffold' %>
    <style type="text/css">
      ul, li {
        margin: 0;
        padding: 0;
      }

      #mainMenu ul {
        list-style: none;
      }

      #mainMenu li {
        display: inline;
      }

      #mainMenu a {
        font-weight: bold;
        color: #469;
        text-decoration: none;
      }
    </style>
  </head>
  <body style="margin: 0; padding: 0;">

    <div style="margin: 0 auto; width: 750px;">
      <div style="height: 60px; border-bottom: 3px #469 solid; padding: 10px 0;">
        <span style="font-family: Garamond, serif; font-size: 18px; background-color: #eee; text-align: center; height: 60px; line-height: 60px; width: 150px; display: inline-block;">
          SC Logo
        </span>
        <div style="float: right; line-height: 20px; padding-top: 40px;">
          <ul id="mainMenu">
            <li><%= link_to "Benutzer", people_url %></li>
            <li><%= link_to "Wettbewerbe", contests_url %></li>
            <li><%= link_to "Teilnehmer", contestants_url %></li>
          </ul>
        </div>
      </div>
      <p style="color: green"><%= flash[:notice] %></p>
      <p style="color: red"><%= flash[:error] %></p>

      <%= yield %>
    </div>
  </body>
</html>
