<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <% if false %>
      <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" %>
      <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>
    <% else %>
      <%= javascript_include_tag "cdn/jquery.min", "cdn/jquery-ui.min", :cache => "offline-cdn" %>
    <% end %>
    <%= javascript_include_tag 'edit_area/edit_area_full.js' %>
    <%= javascript_include_tag 'ui.datepicker-de', 'jrails', 'jquery.ajaxq', 'application', 'fullcalendar.min', :cache => true %>
    <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/flick/jquery-ui.css" %>
    <%= stylesheet_link_tag 'jquery-ui-fixes', 'formtastic', 'formtastic_changes', 'application', 'rails', 'contests', 'fullcalendar', 'tabnav', :cache => true  %>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <title><%= current_page_title %></title>
  </head>
  <body style="margin: 0; padding: 0;">
    <div style="margin: 0 auto; width: 750px;">
      <div id="header">
        <div id="mainLogo">
          <% link_to root_url do %>
            <span class="logo"></span>
          <% end %>
        </div>
        <div id="menu">
          <div style="line-height: 24px; padding: 8px 0;">
            <% if logged_in? %>
              <span style="border: 1px solid #eee; padding: 5px; margin: -5px; background-color: white;">
                <span>Du bist angemeldet als</span>
                <span><%= link_to current_user.name, person_url(current_user) %></span>
                <%= image_tag gravatar_url(current_user.email, :size => 24), :width => 24, :height => 24, :style => "vertical-align: top; margin: 0 3px;" %>
                <span><%= link_to "Abmelden", logout_url, :method => :post %></span>
              </span>
            <% else %>
              <span>Hey, wer bist Du denn?</span>
              <span>Jetzt <%= link_to "anmelden!", login_url %></span>
            <% end %>
          </div>
          <div style="line-height: 14px; padding: 0 0 6px 0;">
            <ul id="mainMenu">
              <li><%= link_to "Startseite", root_url %></li>
              <% if Contest.active %>
                <% if Contest.active.ready? %>
                  <li><%= link_to "Spielplan", contest_matchdays_url(Contest.active) %></li>
                <% else %>
                  <li><%= link_to "Teilnehmerliste", contest_contestants_url(Contest.active) %></li>
                <% end %>
              <% end %>
              <% if logged_in? and current_user.administrator? %>
                <li><%= link_to "Administration", administration_url %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div id="content">
        <% unless flash.empty? %>
          <div id="flash" style="margin: 0 -10px;">
            <% if flash[:notice] %>
              <div class="ui-widget">
                <div class="ui-state-highlight ui-corner-all" style="margin: 0.6em 0; padding: 0 .7em;">
                  <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                  <strong>Hinweis:</strong> <%=h flash[:notice] %></p>
                </div>
              </div>
            <% end %>
            <% if flash[:error] %>
              <div class="ui-widget">
                <div class="ui-state-error ui-corner-all" style="margin: 0.6em 0; padding: 0 .7em;">
                  <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                  <strong>Fehler:</strong> <%=h flash[:error] %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <%= yield %>
      </div>
      <div id="footer">
        &copy; 2009 Christian-Albrechts-Universität zu Kiel. Alle Rechte vorbehalten.<br/>
      </div>
    </div>
  </body>
</html>
