<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <% if false %>
      <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" %>
      <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>
    <% else %>
      <%= javascript_include_tag "cdn/jquery.min", "cdn/jquery-ui.min", :cache => "offline-cdn" %>
    <% end %>
    <%= javascript_include_tag 'edit_area/edit_area_full.js' %>
    <%= javascript_include_tag 'ui.datepicker-de', 'jrails', 'jquery.ajaxq', 'application', 'fullcalendar.min', 'swfobject', 'jquery.uploadify.v2.0.2.min', :cache => true %>
    <%= javascript_include_tag 'tablesorter/jquery.tablesorter' %>
    <%= javascript_include_tag 'jquery.tools.min' %>
    <%= stylesheet_link_tag 'tablesorter/style.css' %>
    <%= stylesheet_link_tag "jquery-ui/jquery-ui" %>
    <%= stylesheet_link_tag 'jquery-ui-fixes', 'formtastic', 'formtastic_changes',
      'application', 'rails', 'contests', 'clients', 'fullcalendar', 'tabnav', :media => "all", :cache => true %>
    <%= stylesheet_link_tag 'print', :media => "print" %>
    <%= surveyor_includes if controller.is_a? SurveyorController %>
    <% if @curtain %>
      <%= stylesheet_link_tag 'curtain' %> 
      <%= javascript_include_tag 'jquery.easing.1.3.js' %>
    <% end %>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <title><%= current_page_title %></title>
  </head>
  <body style="margin: 0; padding: 0;">

    <% if @curtain %>
      <div class="leftcurtain"><%= image_tag "curtain/frontcurtain.jpg" %></div>
      <div class="rightcurtain"><%= image_tag "curtain/frontcurtain.jpg" %></div>
      <a class="rope" href="#"><%= image_tag "curtain/rope.png" %></a>

      <% javascript_tag do %>
        function open() {
            $(".rope").blur();
            if ($curtainopen == false) {
              $(".rope").stop().animate({top: '0px'}, {queue:false, duration:350, easing:'easeOutBounce'});
              $(".leftcurtain").stop().animate({width:'60px'}, 2000);
              $(".rightcurtain").stop().animate({width:'60px'}, 2000);
              $(".rope").stop().animate({top:'-400px'}, 1500);
              setTimeout(function() {
                $(".rope").hide(500);
              }, "500");
              $curtainopen = true;
            } 
        }

        $(document).ready(function() {
          $curtainopen = false;
          $(".rope").click(function() {
            open();
            return false;
          });
          $("*").each(function(i) {
            $(this).keypress(function(e) {
              open();
              return false;
            });
          });
        });
      <% end %>
    <% end %>
    <div id="page-container">
      <div id="header">
        <div id="mainLogo">
          <% link_to root_url do %>
            <span class="logo"></span>
          <% end %>
        </div>
        <% if @contest or @season %>
          <div id="newsTicker" style="float:left; font-size:14px;">
            <% unless @news_posts.empty? %> <b>Aktuelles:</b> <% end %>
              <span style="float:right;">
               <%= link_to image_tag("actions/rss.png"), (@contest ? contest_news_path(@contest) : season_news_path(@season)), :title => "RSS Feed abonnieren" unless @news_posts.empty? %>
               <% show_to :administrator do %><%= link_to image_tag('actions/add_small.png'), (@contest ? [:new, @contest, :news_post] : [:new, @season, :news_post]), :title => "Neuen Eintrag erstellen" %> <% end %>
              </span>
            <div id="news-content">
              <% @news_posts.each do |post| %> 
               <span id="post_<%= post.id %>" class="news_post">
                <%= l post.created_at.to_date %> - 
                <% link_to [post.context, post] do %>
                  <%= post.title.length > 42 ? "#{post.title[0..40].strip}..." : post.title %> <% if post.was_updated? %> <b>Update</b> <% end %>
                <% end %>
               </span>
               <div class="tooltip news_tooltip_padding">
                 <%= render :partial => 'news_posts/news_post', :locals => {:news_post => post} %>
               </div>
               <br>
              <% end %>
            </div>
          </div>
          <% javascript_tag do %>
            $(".news_post").tooltip({ effect: 'slide', position: 'bottom', delay: 150, predelay: 250})
          <% end %>
        <% end %> 
        <div id="menu">
          <div style="line-height: 24px; padding: 8px 0;">
            <% if logged_in? %>
              <span style="border: 1px solid #eee; padding: 5px; margin: -5px; background-color: white;">
                <span><%= t "views.logged_in_as" %></span>
                <span><%= link_to current_user.name, person_url(current_user) %></span>
                <% if !ENV['EMAIL_VALIDATION'] or ENV['EMAIL_VALIDATION'] == "true" %>
                  <%= image_tag gravatar_url(current_user.email, :size => 24), :width => 24, :height => 24, :style => "vertical-align: top; margin: 0 3px;" %>
                <% end %>
                <span><%= link_to t("actions.logout"), logout_url(:redirect_url => @current_url[:escaped]), :method => :post %></span>
              </span>
            <% else %>
              <span><%= t("views.hey_who_are_you") %></span>
              <span> <%= link_to ((I18n.t("actions.login")).downcase)+"!", login_url(:redirect_url => @current_url[:escaped]) %></span>
            <% end %>
          </div>
          <div style="line-height: 14px; padding: 0 0 6px 0;">
            <ul id="mainMenu">
              <li><%= link_to t("views.starting_page"), (@season || root_url) %></li>

              <% show_to :administrator do %>
                <li><%= link_to t("views.administration"), contest_administration_url(@contest||(@season && @season.contests.first)||Contest.last) %></li>
              <% end %>
              <li><%= link_to t("views.main_page"), "http://www.software-challenge.de", :target => "_blank" %></li>
              <li><%= link_to t("views.wiki"), "http://sc-doku.gfxpro.eu/wiki/Hauptseite", :target => "_blank" %></li>
              <li><%= link_to t("views.forum"), "/forum", :target => "_blank" %></li>
              <li><%= link_to t("views.faq"), "/faq", :target => "_blank" %></li>
              <li><%= link_to Contest.human_name(:count => 2), contests_url(), :id => :select_contest %></li>
              <% if false %>
                <% if @current_user and Quassum::ApiUser.possible_api_user?(@current_user) %>
                  <li><%= link_to t("views.tickets"), tickets_path %></li>
                <% end %>
              <% end %>
              
              <div id="available_contests">
                 <ul>
                   <% if @season %>
                     <li><b>Saison: <%= @season.name %></b></li>
                     <% @season.contests.each do |contest| %>
                       <li>&nbsp<%= link_to contest.name, contest %></li>
                     <% end %>
                   <% end %>
                     <li><b>Aktuellste Wettkämpfe</b></li>
                     <% (administrator? ? Contest.all : Contest.public).last(5).each do |contest| %>
                       <li>&nbsp<%= link_to contest.name, contest %></li>
                     <% end %> 
                     <% seasons = (administrator? ? Season.all : Season.public).last(3) %>
                     <% unless seasons.empty? %>
                       <li><b>Verfügbare Saisons</b> (<i><%= link_to "alle", seasons_path %></i>)</li>
                       <% seasons.each do |season| %>
                         <li>&nbsp<%= link_to season.name, season %></li>
                       <% end %>
                     <% end %>
                 </ul>
              </div>
              <% javascript_tag do %>
                 $(function(){
                  var par = $("#select_contest").parent()
                  $("#available_contests").css({
                     'position': 'absolute',
                     'top'     : par.height()+par.position().top,
                     'right'    : $(window).width()-(par.position().left+par.width()),
                     'width'   : '250'
                  })
                  $("#select_contest").toggle(
                    function(){
                      $("#select_contest").parent().addClass("dialog_open")
                      $("#available_contests").slideDown('slow')
                    },function(){
                      $("#select_contest").parent().removeClass("dialog_open")
                      $("#available_contests").slideUp('slow')
                    })
                 })
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div id="content">
        <% unless flash.empty? %>
          <div id="flash" style="margin: 0 -10px;">
            <% if flash[:notice] %>
              <div class="ui-widget">
                <div class="ui-state-highlight ui-corner-all" style="margin: 0.6em 0; padding: 0 .7em;">
                  <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                  <strong><%= t "views.clue" %>:</strong> <%=h flash[:notice] %></p>
                </div>
              </div>
            <% end %>
            <% if flash[:error] %>
              <div class="ui-widget">
                <div class="ui-state-error ui-corner-all" style="margin: 0.6em 0; padding: 0 .7em;">
                  <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                  <strong><%= t "views.error" %>:</strong> <%=h flash[:error] %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        
        <%= yield %>

        <% javascript_tag do %>
          $(".tooltipped").tooltip({position:'bottom center', offset:[10,10]})
        <% end %>

      </div>
      <div id="footer">
        &copy; <%= t "views.copyright" %><br/>
      </div>
    </div>
  </body>
</html>
