<div id="actions">
  <% show_to :administrator do %>
    <% link_to [:new, @context, :survey_token] do %>
      <%= image_tag("actions/add.png") %> Neue Tokens erstellen
    <% end %>  
  <% end %>
  <% if logged_in? and (@current_user.has_role?(:tutor) or @current_user.has_role?(:helper) or @current_user.has_role?(:administrator)) %>
      <% link_to survey_results_path do %>
        <%= image_tag("actions/show_lrg.png") %> Ergebnisse ansehen
      <% end %>
  <% end %>
</div>
 
<h1>
  <%= link_to @context.name, @context %> /
  Verf체gbare Umfragen anzeigen
</h1>

<% tabnav @context.class.to_s.downcase.to_sym do %>

<table class="tablesorter data-table">
  <thead>
   <tr class="middle">
    <th>Umfrage</th>
    <th>Adressat</th>
    <th>L채uft bis</th>
    <th>Teilgenommen</th>
    <th>Optionen</th>
   </tr>
  </thead>
  <tbody>
     <% @tokens.each do |t| %>
       <tr>
        <td><%= t.survey.title %></td>
        <td><span title="<%= token_receiver_tooltip t %>" class="tooltipped"><%= t.token_owner.name if t.token_owner.respond_to? :name %></span></td>
        <td><%= if t.valid_until then "#{t.valid_until < Time.now ? "vor" : "in"} #{distance_of_time_in_words(Time.now,t.valid_until)}" else "unbeschr채nkt" end %></td>
        <td><%= image_tag("state/ok.png", :title => "Teilgenommen am #{l t.response_set.created_at.to_date}", :class=> "tooltipped") if t.response_set and t.response_set.complete? %></td>
        <td><%= link_to image_tag("actions/vote.png", :title => (t.complete? ? "Eingaben bearbeiten" : "Jetzt teilnehmen"), :class => "tooltipped"), url_for([:new, @context, t, :survey]) if t.currently_valid? %><%= link_to image_tag("actions/show.png"), [@context, t] %><%= link_to image_tag("actions/delete.png"), [@context, t], :method => :delete, :confirm => "Sind Sie sicher?" %></td>
       </tr>
     <% end %>   
 </tbody>
</table>

<% consumed_tokens = SurveyToken.for_person(@current_user).select{|s| s.complete? and s.response_set.user == @current_user }%>
<% unless consumed_tokens.empty? %>
  <h3>Sie haben schon beantwortet:</h3>
  <ul style="margin-left: 30px">
    <% consumed_tokens.each do |token| %>
      <li><%= link_to "#{token.survey.title} f체r #{token.token_owner.name}", [@context, token] %></li>
    <% end %>
  </ul>
<% end %>
<% end %>

<% javascript_tag do %>
  $(function() {
     $(".tablesorter").tablesorter({
      headers: {
        4: { sorter : false }
      }
     }) 
  });
 <% end %>
