<div id="actions">
  <% show_to :administrator do %>
    <% link_to contest_survey_token_url(@contest,@token), :method => :delete, :confirm => "Wollen Sie dieses Token wirklich löschen?" do %>
      <%= image_tag "actions/destroy.png" %> Token zerstören
    <% end %>
  <% end %>
  <% if @token.allowed_for? @current_user and @token.currently_valid? %>
    <% if not @token.consumed? %>
      <% link_to new_contest_survey_token_survey_url(@contest,@token) do %>
        <%= image_tag "actions/vote_lrg.png" %> An Umfrage teilnehmen
      <% end %>
    <% else %>
      <% link_to edit_contest_survey_token_survey_url(@contest,@token,@token.survey) do %>
        <%= image_tag "actions/vote_lrg.png" %> Umfrage-Eingaben bearbeiten 
      <% end %>
    <% end %>
  <% end %>
</div>

<h1>
 <%= link_to @contest.name, contest_url(@contest) %> /
 <%= link_to "Umfragen", contest_survey_tokens_url(@contest) %> /
 <%= "#{@token.survey.title} (#{@token.id})" %>
</h1>

<% tabnav :contest do %>
  <p> <b>Titel:</b> <%= @token.survey.title %> </p>
  <p> <b>Beschreibung:</b> <%= @token.survey.description || "Keine Beschreibung vorhanden" %> </p>
  <p> <b>Zugeordnet an:</b> <%= @token.token_owner.name %><%= ", #{@token.token_owner.school.name}" if @token.token_owner.is_a? PreliminaryContestant %></p>
  <p> <b>Offen für:</b> 
    <% a = [] %>
    <%  a << @token.token_owner.name if @token.token_owner.is_a? Person %>
    <%  a << "Tutoren" if @token.allow_tutor %>
    <%  a << "Lehrer" if @token.allow_teacher %>
    <%  a << "Schüler" if @token.allow_pupil %>
    <%= a.join(", ") %> 
  </p>
  <br>
  <p> Geöffnet vom <%= l (@token.valid_from || @token.created_at).to_date %> bis <%= if @token.valid_until then l @token.valid_until.to_date else "unbegrenz" end %>. </p>
<% end %>
